<div class="corporate-nav small">
         <button class="btn-arrow left"></button>
         <div class="slider-container flickity-container-horizontal">
            <div class="flickity-wrapper">
               <div class="flick-slide">
                  <a href="/pages/about-the-lacoste-group" class="link-group">The Lacoste Group</a>
               </div>
               <div class="flick-slide">
                  <a href="/pages/people" class="link-people">People</a>
               </div>
               <div class="flick-slide">
                  <a href="/pages/lacostes-products-origin-and-quality" class="link-products">Products</a>
               </div>
               <div class="flick-slide">
                  <a href="/pages/commitment" class="link-engagements">Commitment</a>
               </div>
               <div class="flick-slide">
                  <a href="/pages/protection" class="link-protection">Brand Protection</a>
               </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
         </div>
         <button class="btn-arrow right"></button>
         <ul class="bullets">
            <li class="bullets-bullet active"></li>
            <li class="bullets-bullet "></li>
            <li class="bullets-bullet "></li>
            <li class="bullets-bullet "></li>
            <li class="bullets-bullet "></li>
         </ul>
         <button type="button" name="button" class="btn-expand"><span class="burger"></span></button>
      </div>