<div id="footer-icon-modal" class="icon-modal" data-modal="popin-footer_reinsurance_return" style="display: none;">
  <div class="icon-modal-wrap">
    <div class="icon-free-return l-vspaced-row-1 cell-10 cell-mt-25">
      <button class="l-popin-close js-popin-close align-right">
        <svg role="presentation" class="icon-svg icon-close" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
        </svg>
        <span class="visually-hidden">Close the dialog box</span>
      </button>
      <div class="padding-1 l-vmargin--xlarge">
        <div role="heading" aria-level="4" class="fs--xlarge l-vmargin--large" id="dialogName">
          RETURN TO US FOR FREE
        </div>
        <hr class="l-vmargin--large">
        <p class="fs--small">
          We want you to be happy with your purchase. Should in any case you don’t find the product you ordered as specified on your purchase (either we delivered a wrong item or if the product quality is not up to par), we will gladly shoulder the costs of shipping the product back to us and sending you the replacement.<br><br>
          You have 30 days from receipt of your order to return a product purchased from the Lacoste online shop.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="footer-icon-modal" class="icon-modal" data-modal="popin-footer_reinsurance_payment" style="display: none;">
  <div class="icon-modal-wrap">
    <div class="icon-free-return l-vspaced-row-1 cell-10 cell-mt-25">
      <button class="l-popin-close js-popin-close align-right">
        <svg role="presentation" class="icon-svg icon-close" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
        </svg>
        <span class="visually-hidden">Close the dialog box</span>
      </button>
      <div class="padding-1 l-vmargin--xlarge">
        <div role="heading" aria-level="4" class="fs--xlarge l-vmargin--large" id="dialogName">
          WE KEEP YOUR DETAILS SAFE
        </div>
        <hr class="l-vmargin--large">
        <p class="fs--small">
          All payment information will be SSL coded for transmission to protect your card data and to ensure that it cannot be used by anyone else.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="footer-icon-modal" class="icon-modal" data-modal="popin-footer_reinsurance_delivery" style="display: none;">
  <div class="icon-modal-wrap">
    <div class="icon-free-return l-vspaced-row-1 cell-10 cell-mt-25">
      <button class="l-popin-close js-popin-close align-right">
        <svg role="presentation" class="icon-svg icon-close" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
        </svg>
        <span class="visually-hidden">Close the dialog box</span>
      </button>
      <div class="padding-1 l-vmargin--xlarge">
        <div role="heading" aria-level="4" class="fs--xlarge l-vmargin--large" id="dialogName">
          FREE DELIVERY OVER P5,000
        </div>
        <hr class="l-vmargin--large">
        <p class="fs--small">        
          We provide free delivery on orders worth at least P5,000.<br><br>
          Standard delivery times:<br>
          3-5 working days for Metro Manila deliveries<br>
          5-10 working days for provincial deliveries
        </p>
      </div>
    </div>
  </div>
</div>

<div id="footer-icon-modal" class="icon-modal" data-modal="popin-footer_reinsurance_contact" style="display: none;">
  <div class="icon-modal-wrap">
    <div class="icon-free-return l-vspaced-row-1 cell-10 cell-mt-25">
      <button class="l-popin-close js-popin-close align-right">
        <svg role="presentation" class="icon-svg icon-close" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
        </svg>
        <span class="visually-hidden">Close the dialog box</span>
      </button>
      <div class="padding-1 l-vmargin--xlarge">
        <div role="heading" aria-level="4" class="fs--xlarge l-vmargin--large" id="dialogName">
          WE ARE HERE TO HELP
        </div>
        <hr class="l-vmargin--large">
        <p class="fs--small">
        <p>Contact our customer service team Monday to Friday from 0900 to 1800. Services will be closed during holidays. Thank you for your understanding.
        <br><br>Phone us : +632 830 5000 *
        <br>Contact us : <a href="/pages/contact-us">Click here</a></p>
        <p></p>
      </div>
    </div>
  </div>
</div>