<div class="page-404" data-pagenotfound="/kamote.html">
    <div class="row clearfix">
        <span></span>
        <div class="error-page-container">
            <div class="block-img-error-page">
                <img src="{{ '404-bg.jpg' | asset_url }}" class="bg-error-page">
            </div>
            <div class="block-error-page">
                <div class="table-error-page">
                    <div class="table-cell-error-page">
                        <h2 class="black-block">404</h2>
                        <h2>The item or the page you were <br>looking could not be found</h2>
                        <div class="search-form search-form-404">
                            <form action="https://www.lacoste.com/on/demandware.store/Sites-GB-Site/en/SearchV2-Show" method="get">
                                <input type="text" id="q" name="q" placeholder="Find what you were looking for here" autocomplete="off">
                                <input type="submit">
                            </form>
                            <div id="suggestions404"></div>
                        </div>
                        <div class="separator-error-page"></div>
                        <ul class="categories-404">
                            <li><a class="btn-error" href="https://www.lacoste.com/gb/lacoste/men/all-men-products/">Men</a></li>
                            <li><a class="btn-error" href="https://www.lacoste.com/gb/lacoste/women/all-women-products/">Women</a></li>
                            <li><a class="btn-error" href="https://www.lacoste.com/gb/lacoste/kids/all-kids-products/">Kids</a></li>
                        </ul>
                        <ul class="categories-404">
                            <li><a class="btn-error" href="https://www.lacoste.com/gb/shoes/all-lacoste-shoes/">Shoes</a></li>
                            <li><a class="btn-error" href="https://www.lacoste.com/gb/polos/all-polos/">Polos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <style>
            @media screen and (min-width: 1680px){
            .block-error-page {
            width: 33.333333%;
            padding: 115px 0px !important;
            float: right;
            }
            }
            .error-page-container{
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid #e3e3e3;
            }
            .block-img-error-page{
            width: 66.666666%;
            float: right;
            }
            .bg-error-page{
            width: 100%;
            height: auto;
            }
            .block-error-page{
            width:33.333333%;
            padding: 70px 0px;
            float: right;
            }
            .table-error-page{
            display: table;
            height: 100%;
            margin: auto;
            }
            .table-cell-error-page{
            display: table-cell;
            height: auto;
            vertical-align: middle;
            width: 80%;
            }
            .block-error-page h2{
            color: #292929;
            text-align: center;
            font-family: "LacosteSansCondensedBold";
            line-height: 30px;
            font-size: 25px;
            margin-top: -55px;
            margin-bottom: 55px;
            }
            .block-error-page .page-title{
            font-size: 20px;
            }
            .black-block{
            font-size: 180px !important;
            margin: 0 !important;
            line-height: 100px !important;
            color: #e3e3e3 !important;
            }
            .search-form-404 {
            width: 310px;
            margin: 30px auto 0;
            background: #fff;
            position: relative;
            }
            .search-form-404 input[type="text"] {
            font-family: "LacosteSansCondensedLight";
            border: none;
            outline: 0;
            font-size: 16px;
            padding: 0 20px;
            width: 100%;
            -webkit-appearance: none;
            margin-right: -1px;
            text-transform: none;
            background-color: #f1f1f1;
            height: 50px;
            }
            .search-form-404 input[type="submit"], .search-form-404 button {
            border: 0;
            border-radius: 0;
            outline: 0;
            position: absolute;
            right: 20px;
            top: 15px;
            width: 20px;
            height: 20px;
            background-color: #f1f1f1;
            font-size: 0;
            }
            .separator-error-page {
            width: 70px;
            height: 1px;
            background-color: #292929;
            margin: 20px auto;
            }
            .categories-404 a {
            color: #292929;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'LacosteSansCondensedBold';
            font-size: 16px;
            }
            .categories-404 li:before {
            content: " ";
            margin: 0 5px;
            }
            .categories-404 {
            text-align: center;
            margin: 0;
            }
            @media screen and (max-width: 1366px){
            .block-error-page {
            width: 33.333333%;
            padding: 50px 0px;
            float: right;
            }
            }
            @media screen and (max-width: 1024px){
            .block-img-error-page {
            width: 60%;
            float: right;
            }
            .block-error-page {
            width: 40%;
            padding: 40px 0px;
            float: right;
            }
            .bg-error-page {
            width: 128%;
            height: auto;
            }
            }
            @media screen and (max-width: 800px){
            .block-error-page {
            width: 50%;
            padding: 40px 0px;
            float: right;
            }
            .block-img-error-page {
            width: 50%;
            float: right;
            }
            .bg-error-page {
            width: 185%;
            height: auto;
            }
            }
            @media screen and (max-width: 680px){
            .block-img-error-page {
            width: 100%;
            float: right;
            }
            .bg-error-page {
            width: 100%;
            height: auto;
            }
            .black-block {
            font-size: 170px !important;
            margin: 0 !important;
            line-height: 70px !important;
            margin-top: 25px !important;
            }
            .block-error-page {
            width: 100%;
            padding: 10px 0px;
            float: right;
            }
            .categories-404 a {
            color: #292929;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'LacosteSansCondensedBold';
            font-size: 20px;
            line-height: 35px;
            }
            .block-error-page h2 {
            color: #292929;
            text-align: center;
            font-family: "LacosteSansCondensedBold";
            line-height: 30px;
            font-size: 24px;
            margin-top: -55px;
            }
            .search-form-404 {
            width: 310px;
            margin: 10px auto 20px;
            background: #fff;
            position: relative;
            }
            }
        </style>
    </div>
    <div class="row clearfix">
    </div>
    <!-- The DIV tag id below is unique on purpose in case there are multiple recommendation slots on the same .isml page: -->
    <div id="cq_recomm_slot-21194b8dc2b1902e8cd65288ac"></div>
    <!-- ====================== snippet ends here ======================== -->
</div>