<article class="js-accordion-wrapper accordion-wrapper cell-25 padding-1 padding-mt-2 padding-m-0 l-vmargin-row-2 l-vmargin-row-m-0">
  <h2 class="title--medium l-vmargin--xsmall no-mob">Free Standard Delivery</h2>
  <div class="no-desk no-tab js-accordion-handle accordion-handle accordion-handle--large fs--medium text-grey padding-m-2" aria-controls="ada-pdp-delivery" aria-expanded="true" aria-disabled="true" aria-level="2" role="heading" id="ada-pdp-delivery-heading">FREE STANDARD DELIVERY
    <svg role="img" class="icon-svg no-desk no-tab">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
    </svg>
  </div>
  <div class="js-accordion-target accordion-target" id="ada-pdp-delivery" aria-hidden="false" aria-labelledby="ada-pdp-delivery-heading">
    <div class="grid padding-m-2 l-vspaced-row-m-3">
      <div class="cell-11 cell-mt-17 cell-m-21">
<!--         <div class="title--xsmall text-grey l-vmargin--small">FREE STANDARD DELIVERY</div> -->
        <p class="fs--medium text-grey l-vmargin--large">Free Standard Delivery on orders over P5,000. For Metro Manila orders, we deliver in 3-5 business days. For provincial orders, please give us up to 10 business days to deliver your order.</p>
      </div>
      
    </div>
  </div>
</article>