<div class="js-popin-container">
  <div id="search-popin" class="popin-wrapper js-popin-wrapper popin--inside popin--fill is-active is-hidden">
    <span class="js-ada-loop-start" tabindex="0"></span>
    <div class="popin" role="dialog">
      <div class="popin-content js-popin-content" role="document">
        <aside id="search-render" data-search-url="" data-search="Find a product" data-search-title="Suggestions" data-search-autocomplete-url="" class="isearch container js-search-container">
          
          <div data-reactroot="">
            <div>
              <form id="global-search-form" action="/search" method="get">
                <input itemprop="query-input" type="text" class="q" name="q" placeholder="Find a product" autocomplete="off" />
                <input class="qsubmit nav-ico" type="submit" value="Find a product" />
                <button type="reset" class="search-box-clear search-box-clear-visible">×</button><span class="search-box-clear search-box-clear-visible">Reset</span><span class="qsubmit nav-ico"></span>
              </form>
            </div>
            <div>
              <div class="search-panel search-panel-sticked" id="search-panel">
                <div id="search-stickable-bar" class="clearfix search-stickable-bar l-vmargin--large">
                  <div class="search-stickable-bar-top">
                    <div id="loader-header" class="loader-header-wrapper text-center" style="display: none;">
                      <svg class="loader-icon">
                        <circle class="loader-circle" cx="50" cy="50" r="10" fill="none" strokeMiterlimit="10" ></circle>
                      </svg>
                      <p>{{ 'general.search.searching_for_related_products' | t }}</p>
                    </div>
                    <div id="w-results" style="display: none;">
                      <span class="search-stickable-bar-hits" id="result-count"></span> products found for <span class="s-query">"polo"</span>
                    </div>
                    <div id="wo-results" style="display: none;">No results found for <span class="s-query">"polo"</span></div>
                  </div>
<!--                   <div class="search-stickable-bar-left">
                    <div>
                      <div class="no-mob no-tab">
                        <div class="product-filters">
                          <div class="product-filter">
                            <button type="button" class="product-filter-button nav-ico-after" data-filter-id="categoryLabel"><span class="product-filter-label" data-filter-id="categoryLabel">Category</span></button>
                            <div data-product-filter-references="true" class="product-filter-references">
                              <label for="POLOS" class="product-filter-reference">
                                <input type="checkbox" name="POLOS" data-filter-id="categoryLabel" data-reference-id="POLOS" value="on"><span class="product-filter-value">POLOS</span></label>
                              <label for="DRESSES" class="product-filter-reference">
                                <input type="checkbox" name="DRESSES" data-filter-id="categoryLabel" data-reference-id="DRESSES" value="on"><span class="product-filter-value">DRESSES</span></label>
                              <label for="NIGHTWEAR/GIFT OUTFIT" class="product-filter-reference">
                                <input type="checkbox" name="NIGHTWEAR/GIFT OUTFIT" data-filter-id="categoryLabel" data-reference-id="NIGHTWEAR/GIFT OUTFIT" value="on"><span class="product-filter-value">NIGHTWEAR/GIFT OUTFIT</span></label>
                              <label for="WOVEN SHIRTS" class="product-filter-reference">
                                <input type="checkbox" name="WOVEN SHIRTS" data-filter-id="categoryLabel" data-reference-id="WOVEN SHIRTS" value="on"><span class="product-filter-value">WOVEN SHIRTS</span></label>
                              <label for="GLASSES" class="product-filter-reference">
                                <input type="checkbox" name="GLASSES" data-filter-id="categoryLabel" data-reference-id="GLASSES" value="on"><span class="product-filter-value">GLASSES</span></label>
                              <label for="SWEATERS" class="product-filter-reference">
                                <input type="checkbox" name="SWEATERS" data-filter-id="categoryLabel" data-reference-id="SWEATERS" value="on"><span class="product-filter-value">SWEATERS</span></label>
                              <label for="TEE-SHIRT&amp;TURTLE NECK SHT" class="product-filter-reference">
                                <input type="checkbox" name="TEE-SHIRT&amp;TURTLE NECK SHT" data-filter-id="categoryLabel" data-reference-id="TEE-SHIRT&amp;TURTLE NECK SHT" value="on"><span class="product-filter-value">TEE-SHIRT&amp;TURTLE NECK SHT</span></label>
                              <label for="SWEATSHIRTS" class="product-filter-reference">
                                <input type="checkbox" name="SWEATSHIRTS" data-filter-id="categoryLabel" data-reference-id="SWEATSHIRTS" value="on"><span class="product-filter-value">SWEATSHIRTS</span></label>
                            </div>
                          </div>
                          <div class="product-filter">
                            <button type="button" class="product-filter-button nav-ico-after" data-filter-id="universeLabel"><span class="product-filter-label" data-filter-id="universeLabel">Universe</span></button>
                            <div data-product-filter-references="true" class="product-filter-references">
                              <label for="Lacoste" class="product-filter-reference">
                                <input type="checkbox" name="Lacoste" data-filter-id="universeLabel" data-reference-id="Lacoste" value="on"><span class="product-filter-value">Lacoste</span></label>
                              <label for="Lacoste Sport" class="product-filter-reference">
                                <input type="checkbox" name="Lacoste Sport" data-filter-id="universeLabel" data-reference-id="Lacoste Sport" value="on"><span class="product-filter-value">Lacoste Sport</span></label>
                              <label for="Lacoste L!VE" class="product-filter-reference">
                                <input type="checkbox" name="Lacoste L!VE" data-filter-id="universeLabel" data-reference-id="Lacoste L!VE" value="on"><span class="product-filter-value">Lacoste L!VE</span></label>
                            </div>
                          </div>
                          <div class="product-filter">
                            <button type="button" class="product-filter-button nav-ico-after" data-filter-id="genderLabel"><span class="product-filter-label" data-filter-id="genderLabel">Gender</span></button>
                            <div data-product-filter-references="true" class="product-filter-references">
                              <label for="Men" class="product-filter-reference">
                                <input type="checkbox" name="Men" data-filter-id="genderLabel" data-reference-id="Men" value="on"><span class="product-filter-value">Men</span></label>
                              <label for="Women" class="product-filter-reference">
                                <input type="checkbox" name="Women" data-filter-id="genderLabel" data-reference-id="Women" value="on"><span class="product-filter-value">Women</span></label>
                              <label for="Boy" class="product-filter-reference">
                                <input type="checkbox" name="Boy" data-filter-id="genderLabel" data-reference-id="Boy" value="on"><span class="product-filter-value">Boy</span></label>
                              <label for="Girl" class="product-filter-reference">
                                <input type="checkbox" name="Girl" data-filter-id="genderLabel" data-reference-id="Girl" value="on"><span class="product-filter-value">Girl</span></label>
                            </div>
                          </div>
                          <div class="product-filter">
                            <button type="button" class="product-filter-button nav-ico-after" data-filter-id="searchColorName"><span class="product-filter-label" data-filter-id="searchColorName">Color</span></button>
                            <div data-product-filter-references="true" class="product-filter-references">
                              <label for="40,BLUE" class="product-filter-reference">
                                <input type="checkbox" name="40,BLUE" data-filter-id="searchColorName" data-reference-id="40,BLUE" value="on"><span class="product-filter-value">BLUE</span><span class="extra-item clearfix filter-color-40"></span></label>
                              <label for="10,WHITE" class="product-filter-reference">
                                <input type="checkbox" name="10,WHITE" data-filter-id="searchColorName" data-reference-id="10,WHITE" value="on"><span class="product-filter-value">WHITE</span><span class="extra-item clearfix filter-color-10"></span></label>
                              <label for="60,RED" class="product-filter-reference">
                                <input type="checkbox" name="60,RED" data-filter-id="searchColorName" data-reference-id="60,RED" value="on"><span class="product-filter-value">RED</span><span class="extra-item clearfix filter-color-60"></span></label>
                              <label for="05,GREY" class="product-filter-reference">
                                <input type="checkbox" name="05,GREY" data-filter-id="searchColorName" data-reference-id="05,GREY" value="on"><span class="product-filter-value">GREY</span><span class="extra-item clearfix filter-color-05"></span></label>
                              <label for="30,GREEN" class="product-filter-reference">
                                <input type="checkbox" name="30,GREEN" data-filter-id="searchColorName" data-reference-id="30,GREEN" value="on"><span class="product-filter-value">GREEN</span><span class="extra-item clearfix filter-color-30"></span></label>
                              <label for="00,BLACK" class="product-filter-reference">
                                <input type="checkbox" name="00,BLACK" data-filter-id="searchColorName" data-reference-id="00,BLACK" value="on"><span class="product-filter-value">BLACK</span><span class="extra-item clearfix filter-color-00"></span></label>
                              <label for="65,PINK" class="product-filter-reference">
                                <input type="checkbox" name="65,PINK" data-filter-id="searchColorName" data-reference-id="65,PINK" value="on"><span class="product-filter-value">PINK</span><span class="extra-item clearfix filter-color-65"></span></label>
                              <label for="70,YELLOW" class="product-filter-reference">
                                <input type="checkbox" name="70,YELLOW" data-filter-id="searchColorName" data-reference-id="70,YELLOW" value="on"><span class="product-filter-value">YELLOW</span><span class="extra-item clearfix filter-color-70"></span></label>
                              <label for="80,ORANGE" class="product-filter-reference">
                                <input type="checkbox" name="80,ORANGE" data-filter-id="searchColorName" data-reference-id="80,ORANGE" value="on"><span class="product-filter-value">ORANGE</span><span class="extra-item clearfix filter-color-80"></span></label>
                              <label for="25,BEIGE" class="product-filter-reference">
                                <input type="checkbox" name="25,BEIGE" data-filter-id="searchColorName" data-reference-id="25,BEIGE" value="on"><span class="product-filter-value">BEIGE</span><span class="extra-item clearfix filter-color-25"></span></label>
                              <label for="20,BROWN" class="product-filter-reference">
                                <input type="checkbox" name="20,BROWN" data-filter-id="searchColorName" data-reference-id="20,BROWN" value="on"><span class="product-filter-value">BROWN</span><span class="extra-item clearfix filter-color-20"></span></label>
                            </div>
                          </div>
                          <div class="product-filter">
                            <button type="button" class="product-filter-button nav-ico-after" data-filter-id="sizes"><span class="product-filter-label" data-filter-id="sizes">Sizes</span></button>
                            <div data-product-filter-references="true" class="product-filter-references">
                              <label for="01-2 - XS" class="product-filter-reference">
                                <input type="checkbox" name="01-2 - XS" data-filter-id="sizes" data-reference-id="01-2 - XS" value="on"><span class="product-filter-value">2 - XS</span></label>
                              <label for="02-3 - S" class="product-filter-reference">
                                <input type="checkbox" name="02-3 - S" data-filter-id="sizes" data-reference-id="02-3 - S" value="on"><span class="product-filter-value">3 - S</span></label>
                              <label for="03-4 - M" class="product-filter-reference">
                                <input type="checkbox" name="03-4 - M" data-filter-id="sizes" data-reference-id="03-4 - M" value="on"><span class="product-filter-value">4 - M</span></label>
                              <label for="04-5 - L" class="product-filter-reference">
                                <input type="checkbox" name="04-5 - L" data-filter-id="sizes" data-reference-id="04-5 - L" value="on"><span class="product-filter-value">5 - L</span></label>
                              <label for="05-6 - XL" class="product-filter-reference">
                                <input type="checkbox" name="05-6 - XL" data-filter-id="sizes" data-reference-id="05-6 - XL" value="on"><span class="product-filter-value">6 - XL</span></label>
                              <label for="06-7 - XXL" class="product-filter-reference">
                                <input type="checkbox" name="06-7 - XXL" data-filter-id="sizes" data-reference-id="06-7 - XXL" value="on"><span class="product-filter-value">7 - XXL</span></label>
                              <label for="07-8 - 3XL" class="product-filter-reference">
                                <input type="checkbox" name="07-8 - 3XL" data-filter-id="sizes" data-reference-id="07-8 - 3XL" value="on"><span class="product-filter-value">8 - 3XL</span></label>
                              <label for="08-9 - 4XL" class="product-filter-reference">
                                <input type="checkbox" name="08-9 - 4XL" data-filter-id="sizes" data-reference-id="08-9 - 4XL" value="on"><span class="product-filter-value">9 - 4XL</span></label>
                              <label for="04-12" class="product-filter-reference">
                                <input type="checkbox" name="04-12" data-filter-id="sizes" data-reference-id="04-12" value="on"><span class="product-filter-value">12</span></label>
                              <label for="01-6" class="product-filter-reference">
                                <input type="checkbox" name="01-6" data-filter-id="sizes" data-reference-id="01-6" value="on"><span class="product-filter-value">6</span></label>
                              <label for="02-8" class="product-filter-reference">
                                <input type="checkbox" name="02-8" data-filter-id="sizes" data-reference-id="02-8" value="on"><span class="product-filter-value">8</span></label>
                              <label for="03-10" class="product-filter-reference">
                                <input type="checkbox" name="03-10" data-filter-id="sizes" data-reference-id="03-10" value="on"><span class="product-filter-value">10</span></label>
                              <label for="06-16" class="product-filter-reference">
                                <input type="checkbox" name="06-16" data-filter-id="sizes" data-reference-id="06-16" value="on"><span class="product-filter-value">16</span></label>
                              <label for="05-14" class="product-filter-reference">
                                <input type="checkbox" name="05-14" data-filter-id="sizes" data-reference-id="05-14" value="on"><span class="product-filter-value">14</span></label>
                              <label for="07-18" class="product-filter-reference">
                                <input type="checkbox" name="07-18" data-filter-id="sizes" data-reference-id="07-18" value="on"><span class="product-filter-value">18</span></label>
                              <label for="00-4" class="product-filter-reference">
                                <input type="checkbox" name="00-4" data-filter-id="sizes" data-reference-id="00-4" value="on"><span class="product-filter-value">4</span></label>
                              <label for="09-10 - 5XL" class="product-filter-reference">
                                <input type="checkbox" name="09-10 - 5XL" data-filter-id="sizes" data-reference-id="09-10 - 5XL" value="on"><span class="product-filter-value">10 - 5XL</span></label>
                              <label for="10-11 - 6XL" class="product-filter-reference">
                                <input type="checkbox" name="10-11 - 6XL" data-filter-id="sizes" data-reference-id="10-11 - 6XL" value="on"><span class="product-filter-value">11 - 6XL</span></label>
                              <label for="05-6 yrs" class="product-filter-reference">
                                <input type="checkbox" name="05-6 yrs" data-filter-id="sizes" data-reference-id="05-6 yrs" value="on"><span class="product-filter-value">6 yrs</span></label>
                              <label for="06-8 yrs" class="product-filter-reference">
                                <input type="checkbox" name="06-8 yrs" data-filter-id="sizes" data-reference-id="06-8 yrs" value="on"><span class="product-filter-value">8 yrs</span></label>
                              <label for="03-4  yrs" class="product-filter-reference">
                                <input type="checkbox" name="03-4  yrs" data-filter-id="sizes" data-reference-id="03-4  yrs" value="on"><span class="product-filter-value">4  yrs</span></label>
                              <label for="07-10 yrs" class="product-filter-reference">
                                <input type="checkbox" name="07-10 yrs" data-filter-id="sizes" data-reference-id="07-10 yrs" value="on"><span class="product-filter-value">10 yrs</span></label>
                              <label for="08-12 yrs" class="product-filter-reference">
                                <input type="checkbox" name="08-12 yrs" data-filter-id="sizes" data-reference-id="08-12 yrs" value="on"><span class="product-filter-value">12 yrs</span></label>
                              <label for="01-2 yrs" class="product-filter-reference">
                                <input type="checkbox" name="01-2 yrs" data-filter-id="sizes" data-reference-id="01-2 yrs" value="on"><span class="product-filter-value">2 yrs</span></label>
                              <label for="02-3 yrs" class="product-filter-reference">
                                <input type="checkbox" name="02-3 yrs" data-filter-id="sizes" data-reference-id="02-3 yrs" value="on"><span class="product-filter-value">3 yrs</span></label>
                              <label for="04-5 yrs" class="product-filter-reference">
                                <input type="checkbox" name="04-5 yrs" data-filter-id="sizes" data-reference-id="04-5 yrs" value="on"><span class="product-filter-value">5 yrs</span></label>
                              <label for="08-20" class="product-filter-reference">
                                <input type="checkbox" name="08-20" data-filter-id="sizes" data-reference-id="08-20" value="on"><span class="product-filter-value">20</span></label>
                              <label for="09-22" class="product-filter-reference">
                                <input type="checkbox" name="09-22" data-filter-id="sizes" data-reference-id="09-22" value="on"><span class="product-filter-value">22</span></label>
                              <label for="03-2 - XS" class="product-filter-reference">
                                <input type="checkbox" name="03-2 - XS" data-filter-id="sizes" data-reference-id="03-2 - XS" value="on"><span class="product-filter-value">2 - XS</span></label>
                              <label for="04-3 - S" class="product-filter-reference">
                                <input type="checkbox" name="04-3 - S" data-filter-id="sizes" data-reference-id="04-3 - S" value="on"><span class="product-filter-value">3 - S</span></label>
                              <label for="05-4 - M" class="product-filter-reference">
                                <input type="checkbox" name="05-4 - M" data-filter-id="sizes" data-reference-id="05-4 - M" value="on"><span class="product-filter-value">4 - M</span></label>
                              <label for="06-5 - L" class="product-filter-reference">
                                <input type="checkbox" name="06-5 - L" data-filter-id="sizes" data-reference-id="06-5 - L" value="on"><span class="product-filter-value">5 - L</span></label>
                              <label for="07-6 - XL" class="product-filter-reference">
                                <input type="checkbox" name="07-6 - XL" data-filter-id="sizes" data-reference-id="07-6 - XL" value="on"><span class="product-filter-value">6 - XL</span></label>
                              <label for="00-1 yr" class="product-filter-reference">
                                <input type="checkbox" name="00-1 yr" data-filter-id="sizes" data-reference-id="00-1 yr" value="on"><span class="product-filter-value">1 yr</span></label>
                              <label for="09-14 yrs" class="product-filter-reference">
                                <input type="checkbox" name="09-14 yrs" data-filter-id="sizes" data-reference-id="09-14 yrs" value="on"><span class="product-filter-value">14 yrs</span></label>
                              <label for="08-7 - XXL" class="product-filter-reference">
                                <input type="checkbox" name="08-7 - XXL" data-filter-id="sizes" data-reference-id="08-7 - XXL" value="on"><span class="product-filter-value">7 - XXL</span></label>
                              <label for="09-8 - 3XL" class="product-filter-reference">
                                <input type="checkbox" name="09-8 - 3XL" data-filter-id="sizes" data-reference-id="09-8 - 3XL" value="on"><span class="product-filter-value">8 - 3XL</span></label>
                              <label for="10-16 yrs" class="product-filter-reference">
                                <input type="checkbox" name="10-16 yrs" data-filter-id="sizes" data-reference-id="10-16 yrs" value="on"><span class="product-filter-value">16 yrs</span></label>
                              <label for="00-XS" class="product-filter-reference">
                                <input type="checkbox" name="00-XS" data-filter-id="sizes" data-reference-id="00-XS" value="on"><span class="product-filter-value">XS</span></label>
                              <label for="01-S" class="product-filter-reference">
                                <input type="checkbox" name="01-S" data-filter-id="sizes" data-reference-id="01-S" value="on"><span class="product-filter-value">S</span></label>
                              <label for="02-M" class="product-filter-reference">
                                <input type="checkbox" name="02-M" data-filter-id="sizes" data-reference-id="02-M" value="on"><span class="product-filter-value">M</span></label>
                              <label for="03-L" class="product-filter-reference">
                                <input type="checkbox" name="03-L" data-filter-id="sizes" data-reference-id="03-L" value="on"><span class="product-filter-value">L</span></label>
                              <label for="05-XXL" class="product-filter-reference">
                                <input type="checkbox" name="05-XXL" data-filter-id="sizes" data-reference-id="05-XXL" value="on"><span class="product-filter-value">XXL</span></label>
                              <label for="04-XL" class="product-filter-reference">
                                <input type="checkbox" name="04-XL" data-filter-id="sizes" data-reference-id="04-XL" value="on"><span class="product-filter-value">XL</span></label>
                              <label for="03-4 yrs" class="product-filter-reference">
                                <input type="checkbox" name="03-4 yrs" data-filter-id="sizes" data-reference-id="03-4 yrs" value="on"><span class="product-filter-value">4 yrs</span></label>
                              <label for="04-6 yrs" class="product-filter-reference">
                                <input type="checkbox" name="04-6 yrs" data-filter-id="sizes" data-reference-id="04-6 yrs" value="on"><span class="product-filter-value">6 yrs</span></label>
                              <label for="05-8 yrs" class="product-filter-reference">
                                <input type="checkbox" name="05-8 yrs" data-filter-id="sizes" data-reference-id="05-8 yrs" value="on"><span class="product-filter-value">8 yrs</span></label>
                              <label for="06-10 yrs" class="product-filter-reference">
                                <input type="checkbox" name="06-10 yrs" data-filter-id="sizes" data-reference-id="06-10 yrs" value="on"><span class="product-filter-value">10 yrs</span></label>
                              <label for="07-12 yrs" class="product-filter-reference">
                                <input type="checkbox" name="07-12 yrs" data-filter-id="sizes" data-reference-id="07-12 yrs" value="on"><span class="product-filter-value">12 yrs</span></label>
                              <label for="08-14 yrs" class="product-filter-reference">
                                <input type="checkbox" name="08-14 yrs" data-filter-id="sizes" data-reference-id="08-14 yrs" value="on"><span class="product-filter-value">14 yrs</span></label>
                              <label for="09-16 yrs" class="product-filter-reference">
                                <input type="checkbox" name="09-16 yrs" data-filter-id="sizes" data-reference-id="09-16 yrs" value="on"><span class="product-filter-value">16 yrs</span></label>
                              <label for="02-1 - XXS" class="product-filter-reference">
                                <input type="checkbox" name="02-1 - XXS" data-filter-id="sizes" data-reference-id="02-1 - XXS" value="on"><span class="product-filter-value">1 - XXS</span></label>
                              <label for="00-6 months" class="product-filter-reference">
                                <input type="checkbox" name="00-6 months" data-filter-id="sizes" data-reference-id="00-6 months" value="on"><span class="product-filter-value">6 months</span></label>
                              <label for="01-1 yr" class="product-filter-reference">
                                <input type="checkbox" name="01-1 yr" data-filter-id="sizes" data-reference-id="01-1 yr" value="on"><span class="product-filter-value">1 yr</span></label>
                              <label for="02-2 yrs" class="product-filter-reference">
                                <input type="checkbox" name="02-2 yrs" data-filter-id="sizes" data-reference-id="02-2 yrs" value="on"><span class="product-filter-value">2 yrs</span></label>
                              <label for="00-2 - XS" class="product-filter-reference">
                                <input type="checkbox" name="00-2 - XS" data-filter-id="sizes" data-reference-id="00-2 - XS" value="on"><span class="product-filter-value">2 - XS</span></label>
                              <label for="00-Unique size" class="product-filter-reference">
                                <input type="checkbox" name="00-Unique size" data-filter-id="sizes" data-reference-id="00-Unique size" value="on"><span class="product-filter-value">Unique size</span></label>
                              <label for="01-3 - S" class="product-filter-reference">
                                <input type="checkbox" name="01-3 - S" data-filter-id="sizes" data-reference-id="01-3 - S" value="on"><span class="product-filter-value">3 - S</span></label>
                              <label for="02-4 - M" class="product-filter-reference">
                                <input type="checkbox" name="02-4 - M" data-filter-id="sizes" data-reference-id="02-4 - M" value="on"><span class="product-filter-value">4 - M</span></label>
                              <label for="03-5 - L" class="product-filter-reference">
                                <input type="checkbox" name="03-5 - L" data-filter-id="sizes" data-reference-id="03-5 - L" value="on"><span class="product-filter-value">5 - L</span></label>
                              <label for="04-6 - XL" class="product-filter-reference">
                                <input type="checkbox" name="04-6 - XL" data-filter-id="sizes" data-reference-id="04-6 - XL" value="on"><span class="product-filter-value">6 - XL</span></label>
                              <label for="05-7 - XXL" class="product-filter-reference">
                                <input type="checkbox" name="05-7 - XXL" data-filter-id="sizes" data-reference-id="05-7 - XXL" value="on"><span class="product-filter-value">7 - XXL</span></label>
                              <label for="06-8 - XXXL" class="product-filter-reference">
                                <input type="checkbox" name="06-8 - XXXL" data-filter-id="sizes" data-reference-id="06-8 - XXXL" value="on"><span class="product-filter-value">8 - XXXL</span></label>
                              <label for="07-9 - 4XL" class="product-filter-reference">
                                <input type="checkbox" name="07-9 - 4XL" data-filter-id="sizes" data-reference-id="07-9 - 4XL" value="on"><span class="product-filter-value">9 - 4XL</span></label>
                              <label for="00-14½" class="product-filter-reference">
                                <input type="checkbox" name="00-14½" data-filter-id="sizes" data-reference-id="00-14½" value="on"><span class="product-filter-value">14½</span></label>
                              <label for="01-15" class="product-filter-reference">
                                <input type="checkbox" name="01-15" data-filter-id="sizes" data-reference-id="01-15" value="on"><span class="product-filter-value">15</span></label>
                              <label for="02-15½" class="product-filter-reference">
                                <input type="checkbox" name="02-15½" data-filter-id="sizes" data-reference-id="02-15½" value="on"><span class="product-filter-value">15½</span></label>
                              <label for="03-15¾" class="product-filter-reference">
                                <input type="checkbox" name="03-15¾" data-filter-id="sizes" data-reference-id="03-15¾" value="on"><span class="product-filter-value">15¾</span></label>
                              <label for="04-16" class="product-filter-reference">
                                <input type="checkbox" name="04-16" data-filter-id="sizes" data-reference-id="04-16" value="on"><span class="product-filter-value">16</span></label>
                              <label for="05-16½" class="product-filter-reference">
                                <input type="checkbox" name="05-16½" data-filter-id="sizes" data-reference-id="05-16½" value="on"><span class="product-filter-value">16½</span></label>
                              <label for="06-17" class="product-filter-reference">
                                <input type="checkbox" name="06-17" data-filter-id="sizes" data-reference-id="06-17" value="on"><span class="product-filter-value">17</span></label>
                              <label for="07-17½" class="product-filter-reference">
                                <input type="checkbox" name="07-17½" data-filter-id="sizes" data-reference-id="07-17½" value="on"><span class="product-filter-value">17½</span></label>
                              <label for="08-10 - 4XL" class="product-filter-reference">
                                <input type="checkbox" name="08-10 - 4XL" data-filter-id="sizes" data-reference-id="08-10 - 4XL" value="on"><span class="product-filter-value">10 - 4XL</span></label>
                              <label for="08-10 - 5XL" class="product-filter-reference">
                                <input type="checkbox" name="08-10 - 5XL" data-filter-id="sizes" data-reference-id="08-10 - 5XL" value="on"><span class="product-filter-value">10 - 5XL</span></label>
                              <label for="08-17¾" class="product-filter-reference">
                                <input type="checkbox" name="08-17¾" data-filter-id="sizes" data-reference-id="08-17¾" value="on"><span class="product-filter-value">17¾</span></label>
                              <label for="09-11 - 5XL" class="product-filter-reference">
                                <input type="checkbox" name="09-11 - 5XL" data-filter-id="sizes" data-reference-id="09-11 - 5XL" value="on"><span class="product-filter-value">11 - 5XL</span></label>
                              <label for="09-11 - 6XL" class="product-filter-reference">
                                <input type="checkbox" name="09-11 - 6XL" data-filter-id="sizes" data-reference-id="09-11 - 6XL" value="on"><span class="product-filter-value">11 - 6XL</span></label>
                              <label for="09-18" class="product-filter-reference">
                                <input type="checkbox" name="09-18" data-filter-id="sizes" data-reference-id="09-18" value="on"><span class="product-filter-value">18</span></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="no-desk">
                        <div class="search-modal-window">
                          <button type="button" class="search-modal-window-button">Filter By</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="search-stickable-bar-right">
                    <div>
                      <div class="no-mob no-tab search-sortby-button-ctn">
                        <button type="button" class="search-sortby-button nav-ico-after">Sort by</button>
                        <div class="search-sortby">
                          <div class="search-sortby-item">
                            <button type="button" data-name="" class="search-sortby-item-button search-sortby-item-button-enabled">Relevance</button>
                          </div>
                          <div class="search-sortby-item">
                            <button type="button" data-name="price_asc" class="search-sortby-item-button">Price - Low</button>
                          </div>
                        </div>
                      </div>
                      <div class="no-desk">
                        <div class="search-modal-window">
                          <button type="button" class="search-modal-window-button">Sort by</button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="search-stickable-bar-bottom">
                    <div class="search-selected-filters"></div>
                  </div>
                </div>
                <div style="display: block;">
                  <div class="search-products l-vmargin--large" id="product-search-results">
                  </div>
<!--                   <div class="search-pagination">
                    <div>
                      <button class="nav-ico-after btn-pagination-next">Next Page</button>
                    </div>
                  </div> -->
                </div>
                <div class="search-panel-nocontent" style="display: none;">Modify the selected filters to obtain results for your search</div>
              </div>
            </div>
          </div>













        </aside>
      </div>
      <button class="l-popin-close js-popin-close">
        <svg role="presentation" class="icon-svg icon-close" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
        </svg>
        <span class="visually-hidden">Close the search window</span>
      </button>
    </div>
  </div>
</div>