<div class="l-padding-menu padding-1">
   <div class="fs--xlarge l-vmargin--large">
      Hello {{ customer.first_name }}
   </div>
   <hr class="l-vmargin--large">
   <ul class="text-grey fs--medium l-vmargin--xlarge">
      <li class="l-vmargin--large">
         <a href="/account" class="reverse-link" rel="nofollow">
         My profile
         </a>
      </li>
<!--       <li class="l-vmargin--large">
         <a href="/on/demandware.store/Sites-GB-Site/en/Fidelity-Show" class="reverse-link" rel="nofollow">
         My rewards
         </a>
      </li> -->
      <li class="l-vmargin--large">
         <a href="/pages/orders" class="reverse-link" rel="nofollow">
         My online orders and returns
         </a>
      </li>
      <li class="l-vmargin--large">
         <a href="/pages/contact-us" class="reverse-link" rel="nofollow">
         Customer Service
         </a>
      </li>
   </ul>
   <a class="btn-cta text-white fs--medium ff-normal" href="/account/logout">
   Log out
   </a>
</div>