{% for link in linklist.mens-clothing.links %}
<li class="js-menu-item">

<a href="{{link.url}}" class="nav-lvl2-link js-menu-item-link" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;L3&quot;,&quot;%label%&quot;:&quot;Lacoste_Men_Clothing_Polos&quot;}">
{{link.title}}
</a>
</li>
{% endfor %}