<div class="checkout-wrapper lost-password-page">
  <div class="checkout-inner">
    <div class="checkout-block">
      <h3 class="checkout-block-title">
        Password Reset
      </h3>
      <p class="step-1 checkout-block-text js-lostpassword-help-you">
        We'll send you an email to reset your password.
      </p>
      {% form 'recover_customer_password', id: 'password-rec', class: 'step-1' %}
<!-- 		<input type="hidden" name="checkout_url" value="/pages/reset-password#isSent"> -->
      {{ form.errors | default_errors }}
      <label class="field-wrapper is-required" for="customer_email">
        <input class="field js-field" type="email" name="email" id="email" value="" required="true" aria-required="true">
        <span class="label label--floating">
          Your email address
        </span>
      </label>

      
      {% if form.posted_successfully? %}
      	<span class="password-success"></span>
      {% endif %}
      


      <footer class="flex flex--justify-end l-field-margin">
        <button class="btn btn-new lostpassword-submit" type="submit" type="submit" value="Submit">
          <span>Send</span>
        </button>
      </footer>
      {% endform %}
      <div id="step-2" style="display:none;">
        <p class="checkout-block-text">
          An email has been sent to
          <span class="checkout-block-text-bold" id="set-email">
            
          </span>
        </p>
        <p class="checkout-block-text">
          Please check your Inbox and click on the link of the email to proceed with the password reset.
        </p>
      </div>
    </div>
  </div>
</div>
