{%- comment -%}
Brand Block: A Place In The Sun - Riviera
{%- endcomment -%}
<article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style="background-color: #C0AB8C">
    <div class="cell-11 cell-m-24 text-white">
      
        <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
          <div class="l-vmargin--small">
            <h3 class="l-vmargin--small overline ff-normal">POSITIVE WAVES</h3>
            <h2 class="title--medium">The Riviera polo</h2>
          </div>
          <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18">
            Because summer rhymes with ease, this polo has been thought up to follow your summer rhythm with style. Here are three reasons to choose it:
            <br>
            <br>
            - You will keep cool: homage to René Lacoste who invented the polo to cope with the heat of American tournaments, this polo in ice-cotton piqué is made of natural cotton ingeniously knitted. Result: optimal ventilation.
            <br>
            <br>
            - You will match with the ambient light: with its four colourblock sections from peach pink to turquoise blue, you will eminate the softness of summer.
            <br>
            <br>
            - You will travel light and uncreased: thanks to its special weave, this feather-light polo doesn´t crease.
          </p>
        </div>

      <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
          <picture class="img-fill-width">
            <source media="(min-width: 801px)" srcset="{{ 'pdp-polorriviera-2.jpg' | asset_img_url: 'master' }}">
            <img class="img-fill-width" src="{{ 'pdp-polorriviera-2.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
          </picture>
      </div>
    </div>
    <div class="cell-13 cell-mt-14 cell-m-25">
      <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{ 'pdp-polorriviera-1.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'pdp-polorriviera-1.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
      <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
      </div>
    </div>
</article>