{%- comment -%}
Brand Block: A Place In The Sun - Duo Bag
{%- endcomment -%}
<article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style="background-color: #CAC2AE">
    <div class="cell-11 cell-m-24 text-white">
      
        <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
          <div class="l-vmargin--small">
            <h3 class="l-vmargin--small overline ff-normal">RAISE YOUR HAND STYLE</h3>
            <h2 class="title--medium">The new duo bag</h2>
          </div>
          <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18">
            Designed for those who live several days in one, discover the new Lacoste Duo bag. A tote inspired from the Spring-Summer show, its double personality is perfectly adapted to your daily rhythm. Win at heads or tails:
            <br>
            <br>
            - Assembled from two pieces of premium leather, this two-tone tote adjusts to your outfit. Light-toned on one side, more intense on the other, play with contrasts as if you had changed your bag.
            <br>
            <br>
            - Find (finally) the ideal size: designed to hold everything necessary in your active day, it comes with two pleated spaces separated by a zip-up compartment: the possibility of clever hassle-free organisation.
            <br>
            <br>
            - Always ready to go: seen on the Lacoste Spring-Summer podium, it comes with a double signature L handgrip and a detachable strap. According to how you pack it, carry it as seems right to you: folded in your hands or more functional on your shoulder.
          </p>
        </div>

      <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
          <picture class="img-fill-width">
            <source media="(min-width: 801px)" srcset="{{ 'pdp-duobag-2.jpg' | asset_img_url: 'master' }}">
            <img class="img-fill-width" src="{{ 'pdp-duobag-2.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
          </picture>
      </div>
    </div>
    <div class="cell-13 cell-mt-14 cell-m-25">
      <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{ 'pdp-duobag-1.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'pdp-duobag-1.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
      <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
      </div>
    </div>
</article>