{%- comment -%}
Brand Block: A Place In The Sun - Beach Bag
{%- endcomment -%}
<article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style="background-color: #BFAD90">
    <div class="cell-11 cell-m-24 text-white">
      
        <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
          <div class="l-vmargin--small">
            <h3 class="l-vmargin--small overline ff-normal">THINK BIG</h3>
            <h2 class="title--medium">The giant totebag</h2>
          </div>
          <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18">
            For your summer holidays, you have just one rule: you will only carry essential and lightweight things. Despite your best intentions your suitcase is already full... discover this oversize tote, a perfect travel companion.
            <br>
            <br>
            - With its crocodile print, its iconic colours and its XXL branding, it displays an immoderiation that will sign off all your looks. With a simple black dress or basic jeans and t-shirt: you don’t need more.
            <br>
            <br>
            - Produced in organic ecoresponsable cotton, its XXL size and its supple featherlight fabric will allow you to slip in everything you need for the beach (and that doesn’t fit in your suitcase).
            <br>
            <br>
            - Fitted with an interior zip-up pocket, you will easily find your essentials. Put the contrasting loops over your shoulder and keep the possibility of having your hands free when the access to the beach requires all your balance.
          </p>
        </div>

      <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
          <picture class="img-fill-width">
            <source media="(min-width: 801px)" srcset="{{ 'pdp-beachbag-2.jpg' | asset_img_url: 'master' }}">
            <img class="img-fill-width" src="{{ 'pdp-beachbag-2.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
          </picture>
      </div>
    </div>
    <div class="cell-13 cell-mt-14 cell-m-25">
      <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{ 'pdp-beachbag-1.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'pdp-beachbag-1.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
      <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
      </div>
    </div>
</article>