{%- comment -%}
Brand Block: A Place In The Sun - Robe
{%- endcomment -%}
<article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style="background-color: #C0AB8C">
    <div class="cell-11 cell-m-24 text-white">
      
        <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
          <div class="l-vmargin--small">
            <h3 class="l-vmargin--small overline ff-normal">SUMMER TIME</h3>
            <h2 class="title--medium">The holiday dress</h2>
          </div>
          <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18">
            Inspired by the caftan dress, this piece pairs style and ease to wear at several summer daytime moments.
            <br>
            <br>
            - The morning, it is all about softness. Made in 100% organic piqué cotton, this long dress only lightly brushes your skin.
            <br>
            <br>
            - On the beach, before or after bathing, it slips easily over your swimming costume, like a floaty gown.
            <br>
            <br>
            - The evening, it adjusts to your plans. Fitted with a detachable belt, a hood and a button-up collar, simply emphasise your figure and add some gold jewellery to go out for dinner."
          </p>
        </div>

      <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
          <picture class="img-fill-width">
            <source media="(min-width: 801px)" srcset="{{ 'pdp-robe-2.jpg' | asset_img_url: 'master' }}">
            <img class="img-fill-width" src="{{ 'pdp-robe-2.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
          </picture>
      </div>
    </div>
    <div class="cell-13 cell-mt-14 cell-m-25">
      <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{ 'pdp-robe-1.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'pdp-robe-1.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
      <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
      </div>
    </div>
</article>