{%- comment -%}
Brand Block: NewClassicPolo
{%- endcomment -%}
<div class="lacoste-container-fluid brand-block-container brand-block-new-classic-polo cell-25 padding-1">

    <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-12">
        <div class="lacoste-col-inner lacoste-col-text-center lacoste-col-text-container">
          <h6>L.12.12, 2021 STYLE</h6>
          <h2>L.12.21: The new classic Men's polo</h2>
          <p>New year, new classic: discover 2021's take on Lacoste's iconic L.12.12 polo shirt.</p>          
        </div>
       </div>
  	</div>
  
     <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-col-inner-wrap lacoste-col-text-wrap-middle">
         <div class="lacoste-col-text-middle">
           	<div class="lacoste-col-text-inner-middle lacoste-col-text-container"> 
              	<h6>SOLID FOUNDATIONS</h6>
                 <h2>Timeless for today</h2>
                 <p>Fans of the iconic L.12.12 polo, you will love the new version for 2021. It still has that classic, straight cut, and the petit piqué cotton's legendary elegance. What's new? Premium organic cotton that is thicker for a perfect fit, a wide ribbed collar, and a crocodile made from recycled polyester.</p>          	
           	</div>
          </div>
        </div>
      </div>
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-col-inner">
         <img src="{{'Image_1.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
         <img src="{{'Image_Mobile.png' | asset_url}}" alt="" class="lacoste-mobile-show">
        </div>
      </div>       
   </div>
  
   <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-col-inner">
         <img src="{{'image_2.jpg' | asset_url}}" alt="">
        </div>
      </div>
      <div class="lacoste-col-12 lacoste-col-sm-6">
          <div class="lacoste-col-inner-wrap lacoste-col-text-wrap-middle">
           	<div class="lacoste-col-text-middle">
              <div class="lacoste-col-text-inner-middle">          
                <h6>EMBODY AN ICON</h6>
                <h2>Your essential polo shirt</h2>
                <p>Find the one that fits you to a T: your polo shirt style defined.</p>
                <p><a class="btn-cta l-hmargin--large pointer-auto fs--medium ff-normal btn--dark" href="/collections/polos-shop">It's time to choose</a></p>
                 <br/>
                <img src="{{'Image_3.jpg' | asset_url}}" alt="">                
             </div>
            </div>
          </div>
      </div>
   </div>

</div>