{%- comment -%}
<div class="tab-content" data-cid="sizechart_men_belts-men">
   <div class="content-asset">
      <!-- dwMarker="content" dwContentID="612d090bd488bc29d15f921e32" -->
      <div class="sizeChart">
         <h2 class="sizeChart-title">Men's Belts</h2>
         <div class="desktop">
            <div class="active inner-tab">
               <table>
                  <tbody>
                     <tr>
                        <th class="large-t" scope="row">
                           <h3>Trousers size UK</h3>
                        </th>
                        <td>33</td>
                        <td>34</td>
                        <td>36</td>
                        <td>38</td>
                        <td>40</td>
                        <td>42</td>
                     </tr>
                     <tr>
                        <th class="large-t" scope="row">
                           <h3>Trousers size EU</h3>
                        </th>
                        <td>42</td>
                        <td>44</td>
                        <td>46</td>
                        <td>48</td>
                        <td>50</td>
                        <td>52</td>
                     </tr>
                  </tbody>
               </table>
               <p class="chest">Belt size</p>
               <table>
                  <tbody>
                     <tr>
                        <th class="large-t" scope="row">
                           <h3>Size (cm)</h3>
                        </th>
                        <td>85</td>
                        <td>90</td>
                        <td>95</td>
                        <td>100</td>
                        <td>105</td>
                        <td>110</td>
                     </tr>
                     <tr>
                        <th class="large-t" scope="row">
                           <h3>Size (inches)</h3>
                        </th>
                        <td>33.5</td>
                        <td>35.5</td>
                        <td>37.5</td>
                        <td>40</td>
                        <td>42</td>
                        <td>44</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="step">
            <div class="belt">
               <select name="second-cat" class="second-cat sub-title">
                  <option data-number="belt-1" value="">33 / 42</option>
                  <option data-number="belt-2" value="">34 / 44</option>
                  <option data-number="belt-3" value="">36 / 46</option>
                  <option data-number="belt-4" value="">38 / 48</option>
                  <option data-number="belt-5" value="">40 / 50</option>
                  <option data-number="belt-6" value="">42 / 52</option>
               </select>
               <!-- option SELECT 1 --> 
               <div class="belt-1 hide">
                  <ul>
                     <li class="prop">Size</li>
                     <li>Size (cm)</li>
                     <li>Size (inches)</li>
                  </ul>
                  <ul class="right">
                     <li class="prop">Hip size</li>
                     <li>85</li>
                     <li>33.5</li>
                  </ul>
               </div>
               <!-- option SELECT 2 --> 
               <div class="belt-2 hide">
                  <ul>
                     <li class="prop">Size</li>
                     <li>Size (cm)</li>
                     <li>Size (inches)</li>
                  </ul>
                  <ul class="right">
                     <li class="prop">Hip size</li>
                     <li>90</li>
                     <li>35.5</li>
                  </ul>
               </div>
               <!-- option SELECT 3 --> 
               <div class="belt-3 hide">
                  <ul>
                     <li class="prop">Size</li>
                     <li>Size (cm)</li>
                     <li>Size (inches)</li>
                  </ul>
                  <ul class="right">
                     <li class="prop">Hip size</li>
                     <li>95</li>
                     <li>37.5</li>
                  </ul>
               </div>
               <!-- option SELECT 4 --> 
               <div class="belt-4 hide">
                  <ul>
                     <li class="prop">Size</li>
                     <li>Size (cm)</li>
                     <li>Size (inches)</li>
                  </ul>
                  <ul class="right">
                     <li class="prop">Hip size</li>
                     <li>100</li>
                     <li>40</li>
                  </ul>
               </div>
               <!-- option SELECT 5 --> 
               <div class="belt-5 hide">
                  <ul>
                     <li class="prop">Size</li>
                     <li>Size (cm)</li>
                     <li>Size (inches)</li>
                  </ul>
                  <ul class="right">
                     <li class="prop">Hip size</li>
                     <li>105</li>
                     <li>42</li>
                  </ul>
               </div>
               <!-- option SELECT 6 --> 
               <div class="belt-6 hide">
                  <ul>
                     <li class="prop">Size</li>
                     <li>Size (cm)</li>
                     <li>Size (inches)</li>
                  </ul>
                  <ul class="right">
                     <li class="prop">Hip size</li>
                     <li>110</li>
                     <li>44</li>
                  </ul>
               </div>
            </div>
            <!-- FIN POLO MOBIL --> 
         </div>
      </div>
   </div>
</div>
{%- endcomment -%}
<section class="js-tabs-content">
   <!---->
   <div class="">
      <p class="l-vmargin--small ellipsis-clamp-2">
         <b class="fs--xlarge">
            <!---->Men Belts - 
         </b>
         <span class="fs--medium text-grey">
            <!---->Men's Made in France Lacoste Engraved Buckle Woven Fabric Belt<!---->
         </span>
      </p>
      <span class="js-sizeguide-helper-link flex flex--justify-end">
         <!----><!---->
      </span>
      <table class="t-fixed text-center l-fill-width fs--xsmall t-hpadding--xsmall l-vmargin--xlarge">
         <!---->
         <tr class="ff-semibold">
            <th class="text-left fs--small" style="width: 145px;">
               <!---->Alpha Sizing<!---->
            </th>
            <!---->
            <th>
               <!---->M<!---->
            </th>
            <!----><!---->
            <th>
               <!---->L<!---->
            </th>
            <!----><!---->
            <th>
               <!---->L<!---->
            </th>
            <!----><!---->
            <th>
               <!---->XL<!---->
            </th>
            <!----><!---->
            <th>
               <!---->XL<!---->
            </th>
            <!----><!---->
            <th>
               <!---->2XL<!---->
            </th>
            <!---->
         </tr>
         <!----><!---->
         <tr class="ff-semibold">
            <th class="text-left fs--small" style="width: 145px;">
               <!---->Numeric Sizing<!---->
            </th>
            <!---->
            <th>
               <!---->42<!---->
            </th>
            <!----><!---->
            <th>
               <!---->44<!---->
            </th>
            <!----><!---->
            <th>
               <!---->46<!---->
            </th>
            <!----><!---->
            <th>
               <!---->48<!---->
            </th>
            <!----><!---->
            <th>
               <!---->50<!---->
            </th>
            <!----><!---->
            <th>
               <!---->52<!---->
            </th>
            <!---->
         </tr>
         <!---->
         <!---->
         <!---->
         <tr class="">
            <th class="text-left">
               <!---->Pant Waist Circumference (cm)
            </th>
            <!---->
            <td>
               <!---->85<!---->
            </td>
            <!----><!---->
            <td>
               <!---->90<!---->
            </td>
            <!----><!---->
            <td>
               <!---->95<!---->
            </td>
            <!----><!---->
            <td>
               <!---->100<!---->
            </td>
            <!----><!---->
            <td>
               <!---->105<!---->
            </td>
            <!----><!---->
            <td>
               <!---->110<!---->
            </td>
            <!---->
         </tr>
         <!----><!---->
         <tr class="">
            <th class="text-left">
               <!---->Pant Waist Circumference (inch)
            </th>
            <!---->
            <td>
               <!---->33.5<!---->
            </td>
            <!----><!---->
            <td>
               <!---->35.5<!---->
            </td>
            <!----><!---->
            <td>
               <!---->37.5<!---->
            </td>
            <!----><!---->
            <td>
               <!---->40<!---->
            </td>
            <!----><!---->
            <td>
               <!---->42<!---->
            </td>
            <!----><!---->
            <td>
               <!---->44<!---->
            </td>
            <!---->
         </tr>
         <!---->
         <!---->
      </table>
      <div class="js-sizeguide-helper">
         <h3 class="fs--xlarge ff-semibold">
            <!---->How to measure?<!---->
         </h3>
         <div class="flex flex--space-between">
            <ol class="fs--small l-vmargin--medium">
               <!---->
               <li>
                  <!---->A. Pant Waist Circumference<!---->
               </li>
               <!---->
               <li>
                  <!---->B. Low Hip Circumference<!---->
               </li>
               <!---->
               <li>
                  <!---->C. Inseam Leg Length<!---->
               </li>
               <!---->
            </ol>
            <div class="l-half-width text-center">
               <img alt="" with="auto" height="auto" class="img-auto" src="{{ 'Men_Bottom.png' | file_img_url: 'master' }}">
            </div>
         </div>
      </div>
   </div>
   <!---->
</section>