 <div class="tab-content" data-cid="sizechart_men_polos-men">

      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="a30a931e80802f17086c332d8d" -->
        <div class="sizeChart"> <h2 class="sizeChart-title">Men's polos</h2> <div class="desktop"> <div class="active inner-tab"> 
          <table> <tbody><tr> <th class="large-t" scope="row"><h3>Your usual size</h3></th> <td>XXS</td> <td>XS</td> <td>S</td> <td>M</td> <td>L</td> <td>XL</td> <td>XXL</td> <td>3XL</td> <td>4XL</td> <td>5XL</td> <td>6XL</td> </tr> 
            <tr> <th class="large-t" scope="row"><h3>Lacoste size</h3></th> <td>1</td> <td>2</td> <td>3</td> <td>4</td> <td>5</td> <td>6</td> <td>7</td> <td>8</td> <td>9</td> <td>10</td> <td>11</td> </tr> </tbody></table> 
          <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p> 
          <p class="chest">ORIGINAL FIT</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>93</td> <td>98</td> <td>103</td> <td>108</td> <td>115</td> <td>122</td> <td>129</td> <td>136</td> <td>143</td> <td>150</td> <td>157</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>36.5</td> <td>38.5</td> <td>40.5</td> <td>42.5</td> <td>45</td> <td>48</td> <td>50.5</td> <td>53.5</td> <td>56.5</td> <td>59</td> <td>62</td> </tr> </tbody></table>
          <p class="chest">REGULAR FIT</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>-</td> <td>94</td> <td>99</td> <td>104</td> <td>111</td> <td>118</td> <td>125</td> <td>132</td> <td>139</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>-</td> <td>37</td> <td>39</td> <td>41</td> <td>44</td> <td>46.5</td> <td>49</td> <td>52</td> <td>54.5</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">REGULAR FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>-</td> <td>96</td> <td>100</td> <td>104</td> <td>108</td> <td>112</td> <td>116</td> <td>120</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>-</td> <td>38</td> <td>39.5</td> <td>41</td> <td>42.5</td> <td>44</td> <td>45.5</td> <td>47</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">SLIM FIT</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>-</td> <td>88</td> <td>93</td> <td>100</td> <td>107</td> <td>114</td> <td>123</td> <td>132</td> <td>141</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>-</td> <td>34.5</td> <td>36.5</td> <td>39.5</td> <td>42</td> <td>45</td> <td>48.5</td> <td>52</td> <td>55.5</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">SLIM FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>-</td> <td>92</td> <td>96</td> <td>100</td> <td>104</td> <td>108</td> <td>112</td> <td>116</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>-</td> <td>36</td> <td>38</td> <td>39.5</td> <td>41</td> <td>42.5</td> <td>44</td> <td>45.5</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">UNISEX FIT</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>79</td> <td>86</td> <td>93</td> <td>100</td> <td>107</td> <td>114</td> <td>121</td> <td>128</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>31</td> <td>34</td> <td>36.5</td> <td>39.5</td> <td>42</td> <td>45</td> <td>47.5</td> <td>50.5</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">UNISEX FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>88</td> <td>92</td> <td>96</td> <td>100</td> <td>104</td> <td>108</td> <td>112</td> <td>116</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>34</td> <td>36</td> <td>38</td> <td>39.5</td> <td>41</td> <td>42.5</td> <td>44</td> <td>45.5</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          </div> </div>
          <div class="step"> <div class="polos"> <!-- DEUXIEME SELECT (shirts) --> <select name="second-cat" class="second-cat sub-title">
            <option data-number="polos-1" value="1">1 / XXS</option>
            <option data-number="polos-2" value="2">2 / XS</option>
            <option data-number="polos-3" value="3">3 / S</option>
            <option data-number="polos-4" value="4">4 / M</option>
            <option data-number="polos-5" value="5">5 / L</option>
            <option data-number="polos-6" value="6">6 / XL</option>
            <option data-number="polos-7" value="7">7 / XXL</option>
            <option data-number="polos-8" value="8">8 / 3XL</option>
            <option data-number="polos-9" value="9">9 / 4XL</option>
            <option data-number="polos-10" value="10">10 / 5XL</option>
            <option data-number="polos-11" value="11">11 / 6XL</option> </select>
            <!-- option SELECT 1 --> <div class="polos-1"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>93cm / 36.5in</li> <li>-</li> <li>-</li> <li>-</li> <li>-</li> <li>79cm / 31in</li> <li>88cm / 34.5in</li> </ul> </div> 
            <!-- option SELECT 2 --> <div class="polos-2 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>98cm / 38.5in</li> <li>94cm / 37in</li> <li>96cm / 38in</li> <li>88cm / 34.5in</li> <li>92cm / 36in</li> <li>86cm / 34in</li> <li>92cm / 36in</li> </ul> </div> 
            <!-- option SELECT 3 --> <div class="polos-3 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>103cm / 40.5in</li> <li>99cm / 39in</li> <li>100cm / 39.5in</li> <li>93cm / 36.5in</li> <li>96cm / 38in</li> <li>93cm / 36.5in</li> <li>96cm / 38in</li> </ul> </div> 
            <!-- option SELECT 4 --> <div class="polos-4 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>108cm / 42.5in</li> <li>104cm / 41in</li> <li>104cm / 41in</li> <li>100cm / 39.5in</li> <li>100cm / 39.5in</li> <li>100cm / 39.5in</li> <li>100cm / 39.5in</li> </ul> </div> 
            <!-- option SELECT 5 --> <div class="polos-5 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>115cm / 45in</li> <li>111cm / 44in</li> <li>108cm / 42.5in</li> <li>107cm / 42in</li> <li>104cm / 41in</li> <li>107cm / 42in</li> <li>104cm / 41in</li> </ul> </div> 
            <!-- option SELECT 6 --> <div class="polos-6 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>122cm / 48in</li> <li>118cm / 46.5in</li> <li>112cm / 44in</li> <li>114cm / 45in</li> <li>108cm / 42.5in</li> <li>114cm / 45in</li> <li>108cm / 42.5in</li> </ul> </div> 
            <!-- option SELECT 7 --> <div class="polos-7 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>129cm / 50.5in</li> <li>125cm / 49in</li> <li>116cm / 45.5in</li> <li>123cm / 48.5in</li> <li>112cm / 44in</li> <li>121cm / 47.5in</li> <li>112cm / 44in</li> </ul> </div> 
            <!-- option SELECT 8 --> <div class="polos-8 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>136cm / 53.5in</li> <li>132cm / 52in</li> <li>120cm / 47in</li> <li>132cm / 52in</li> <li>116cm / 45.5in</li> <li>128cm / 50.5in</li> <li>116cm / 45.5in</li> </ul> </div> 
            <!-- option SELECT 9 --> <div class="polos-9 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>143cm / 56.5in</li> <li>139cm / 54.5in</li> <li>-</li> <li>141cm / 55.5in</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div> 
            <!-- option SELECT 10 --> <div class="polos-10 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>150cm / 59in</li> <li>-</li> <li>-</li> <li>-</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div> 
            <!-- option SELECT 11 --> <div class="polos-11 hide"> <ul> <li class="prop">Fit</li> <li>Original</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Unisex</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>157cm / 62in</li> <li>-</li> <li>-</li> <li>-</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div> 
            </div> 
            <!-- FIN POLO MOBIL --> </div> </div>
      </div>

    </div>