 <div class="tab-content" data-cid="sizechart_junior_shoes-junior">

      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="46c9770eb5dd9bf7b29ec2b760" -->
        <div class="sizeChart"> <h2 class="sizeChart-title">Kids Shoes</h2> <div class="desktop"> <div class="active inner-tab"> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>UK Size</h3></th> <td>0.5</td> <td>1.5</td> <td>2</td> <td>3</td> <td>3.5</td> <td>4.5</td> <td>5.5</td> <td>6</td> <td>7</td> <td>7.5</td> <td>8.5</td> <td>9</td> <td>10</td> <td>11</td> <td>11.5</td> <td>12.5</td> <td>13</td> <td>1</td> <td>2</td> <td>2.5</td> <td>3.5</td> <td>4</td> <td>5</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>EU Size</h3></th> <td>16</td> <td>17</td> <td>18</td> <td>19</td> <td>20</td> <td>21</td> <td>22</td> <td>23</td> <td>24</td> <td>25</td> <td>26</td> <td>27</td> <td>28</td> <td>29</td> <td>30</td> <td>31</td> <td>32</td> <td>33</td> <td>34</td> <td>35</td> <td>36</td> <td>37</td> <td>38</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>US Size</h3></th> <td>1</td> <td>2</td> <td>2.5</td> <td>3.5</td> <td>4.5</td> <td>5</td> <td>6</td> <td>6.5</td> <td>7.5</td> <td>8</td> <td>9.5</td> <td>10.5</td> <td>11</td> <td>12</td> <td>12.5</td> <td>13</td> <td>1.5</td> <td>2</td> <td>3</td> <td>3.5</td> <td>4.5</td> <td>5</td> <td>6</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Size (cm)</h3></th> <td>9,6</td> <td>10,3</td> <td>11</td> <td>11,7</td> <td>12,4</td> <td>13</td> <td>13,7</td> <td>14,4</td> <td>15</td> <td>15,7</td> <td>16,4</td> <td>17</td> <td>17,7</td> <td>18,4</td> <td>19</td> <td>19,7</td> <td>20,4</td> <td>21</td> <td>21,7</td> <td>22,4</td> <td>23</td> <td>23,7</td> <td>24,4</td> </tr> </tbody></table>
          </div> </div> 
          <div class="step"> <div class="children"> <!-- DEUXIEME SELECT (children) -->
            <select name="second-cat" class="second-cat sub-title">
              <option data-number="shoes-0-5" value="">0.5 / 16</option>
              <option data-number="shoes-1-5" value="">1.5 / 17</option>
              <option data-number="shoes-2" value="">2 / 18</option>
              <option data-number="shoes-3" value="">3 / 19</option>
              <option data-number="shoes-3-5" value="">3.5 / 20</option>
              <option data-number="shoes-4-5" value="">4.5 / 21</option>
              <option data-number="shoes-5-5" value="">5.5 / 22</option>
              <option data-number="shoes-6" value="">6 / 23</option>
              <option data-number="shoes-7" value="">7 / 24</option>
              <option data-number="shoes-7-5" value="">7.5 / 25</option>
              <option data-number="shoes-8-5" value="">8.5 / 26</option>
              <option data-number="shoes-9" value="">9 / 27</option>
              <option data-number="shoes-10" value="">10 / 28</option>
              <option data-number="shoes-11" value="">11 / 29</option>
              <option data-number="shoes-11-5" value="">11.5 / 30</option>
              <option data-number="shoes-12-5" value="">12.5 / 31</option>
              <option data-number="shoes-13" value="">13 / 32</option>
              <option data-number="shoes-1" value="">1 / 33</option>
              <option data-number="shoes-2" value="">2 / 34</option>
              <option data-number="shoes-2.5" value="">2.5 / 35</option>
              <option data-number="shoes-3.5" value="">3.5 / 36</option>
              <option data-number="shoes-4" value="">4 / 37</option>
              <option data-number="shoes-5" value="">5 / 38</option> </select>
            <!-- option SELECT 1 --> <div class="shoes-0-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>0.5</li> <li>16</li> <li>1</li> </ul> </div>
            <!-- option SELECT 2 --> <div class="shoes-1-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>1.5</li> <li>17</li> <li>2</li> </ul> </div>
            <!-- option SELECT 3 --> <div class="shoes-2 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>2</li> <li>18</li> <li>2.5</li> </ul> </div>
            <!-- option SELECT 4 --> <div class="shoes-3 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>3</li> <li>19</li> <li>3.5</li> </ul> </div>
            <!-- option SELECT 5 --> <div class="shoes-3-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>3.5</li> <li>20</li> <li>4.5</li> </ul> </div>
            <!-- option SELECT 6 --> <div class="shoes-4-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> &gt; </ul> <ul class="right"> <li>4.5</li> <li>21</li> <li>5</li> </ul> </div>
            <!-- option SELECT 7 --> <div class="shoes-5-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>5.5</li> <li>22</li> <li>6</li> </ul> </div>
            <!-- option SELECT 8 --> <div class="shoes-6 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>6</li> <li>23</li> <li>6.5</li> </ul> </div>
            <!-- option SELECT 9 --> <div class="shoes-7 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>7</li> <li>24</li> <li>7.5</li> </ul> </div>
            <!-- option SELECT 10 --> <div class="shoes-7-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>7.5</li> <li>25</li> <li>8</li> </ul> </div>
            <!-- option SELECT 11 --> <div class="shoes-8-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>8.5</li> <li>26</li> <li>9.5</li> </ul> </div>
            <!-- option SELECT 12 --> <div class="shoes-9 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>9</li> <li>27</li> <li>10.5</li> </ul> </div>
            <!-- option SELECT 13 --> <div class="shoes-10 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>10</li> <li>28</li> <li>11</li> </ul> </div>
            <!-- option SELECT 14 --> <div class="shoes-11 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>11</li> <li>29</li> <li>12</li> </ul> </div>
            <!-- option SELECT 15 --> <div class="shoes-11-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>11.5</li> <li>30</li> <li>12.5</li> </ul> </div>
            <!-- option SELECT 16 --> <div class="shoes-12-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>12.5</li> <li>31</li> <li>13</li> </ul> </div>
            <!-- option SELECT 17 --> <div class="shoes-13 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>13</li> <li>32</li> <li>1.5</li> </ul> </div>
            <!-- option SELECT 18 --> <div class="shoes-1 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>1</li> <li>33</li> <li>2</li> </ul> </div>
            <!-- option SELECT 19 --> <div class="shoes-2 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>2</li> <li>34</li> <li>3</li> </ul> </div>
            <!-- option SELECT 20 --> <div class="shoes-2.5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>2.5</li> <li>35</li> <li>3.5</li> </ul> </div>
            <!-- option SELECT 21 --> <div class="shoes-3.5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>3.5</li> <li>36</li> <li>4.5</li> </ul> </div>
            <!-- option SELECT 22 --> <div class="shoes-4 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>4</li> <li>37</li> <li>5</li> </ul> </div>
            <!-- option SELECT 23 --> <div class="shoes-5 hide"> <ul> <li class="prop">UK Size</li> <li class="prop">EU Size</li> <li class="prop">US Size</li> </ul> <ul class="right"> <li>5</li> <li>38</li> <li>6</li> </ul> </div>
            </div> <!-- FIN POLO MOBIL --> </div> </div>
      </div>

    </div>