
    <div class="tab-content" data-cid="sizechart_men_sweaters-men">

  <div class="content-asset">
        <!-- dwMarker="content" dwContentID="dba06b088212e1754d507c55d2" -->
        <div class="sizeChart"> <h2 class="sizeChart-title">Men's Sweaters</h2> <div class="desktop"> <div class="active inner-tab"> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Your usual size</h3></th> <td>XS</td> <td>S</td> <td>M</td> <td>L</td> <td>XL</td> <td>XXL</td> <td>3XL</td> <td>4XL</td> <td>5XL</td> <td>6XL</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Lacoste Size</h3></th> <td>2</td> <td>3</td> <td>4</td> <td>5</td> <td>6</td> <td>7</td> <td>8</td> <td>9</td> <td>10</td> <td>11</td> </tr> </tbody></table>
          <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p>
          <p class="chest">Chest size</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>96</td> <td>101</td> <td>106</td> <td>113</td> <td>120</td> <td>127</td> <td>134</td> <td>141</td> <td>145</td> <td>149</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>38</td> <td>40</td> <td>42</td> <td>45</td> <td>47</td> <td>50</td> <td>53</td> <td>55.5</td> <td>57</td> <td>58.5</td> </tr> </tbody></table>
          </div> </div> <div class="step"> <div class="sweater"> <select name="second-cat" class="second-cat sub-title">
          <option data-number="sweater-2" value="">XS / 2</option>
          <option data-number="sweater-3" value="">S / 3</option>
          <option data-number="sweater-4" value="">M / 4</option>
          <option data-number="sweater-5" value="">L / 5</option>
          <option data-number="sweater-6" value="">XL / 6</option>
          <option data-number="sweater-7" value="">XXL / 7</option>
          <option data-number="sweater-8" value="">3XL / 8</option>
          <option data-number="sweater-9" value="">4XL / 9</option>
          <option data-number="sweater-10" value="">5XL / 10</option>
          <option data-number="sweater-11" value="">6XL / 11</option> </select>
          <!-- option SELECT 2 --> <div class="sweater-2 hide"> <ul> <li class="prop">Size</li> <li>XS / 2</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>96cm / 38in</li> </ul> </div>
          <!-- option SELECT 3 --> <div class="sweater-3 hide"> <ul> <li class="prop">Size</li> <li>S / 3</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>101cm / 40in</li> </ul> </div>
          <!-- option SELECT 4 --> <div class="sweater-4 hide"> <ul> <li class="prop">Size</li> <li>M / 4</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>106cm / 42in</li> </ul> </div>
          <!-- option SELECT 5 --> <div class="sweater-5 hide"> <ul> <li class="prop">Size</li> <li>L / 5</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>113cm / 45in</li> </ul> </div>
          <!-- option SELECT 6 --> <div class="sweater-6 hide"> <ul> <li class="prop">Size</li> <li>XL / 6</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>120cm / 47in</li> </ul> </div>
          <!-- option SELECT 7 --> <div class="sweater-7 hide"> <ul> <li class="prop">Size</li> <li>XXL / 7</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>127cm / 50in</li> </ul> </div>
          <!-- option SELECT 8 --> <div class="sweater-8 hide"> <ul> <li class="prop">Size</li> <li>3XL / 8</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>134m / 53in</li> </ul> </div>
          <!-- option SELECT 9 --> <div class="sweater-9 hide"> <ul> <li class="prop">Size</li> <li>4XL / 9</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>141m / 55.5in</li> </ul> </div>
          <!-- option SELECT 10 --> <div class="sweater-10 hide"> <ul> <li class="prop">Size</li> <li>5XL / 10</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>145cm / 57in</li> </ul> </div>
          <!-- option SELECT 11 --> <div class="sweater-11 hide"> <ul> <li class="prop">Size</li> <li>6XL / 11</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>149cm / 58.5in</li> </ul> </div>
          </div> <!-- FIN POLO MOBIL --> </div> </div>
      </div>






    </div>