
    <div class="tab-content" data-cid="sizechart_men_t-shirts-men">


      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="52017816c18c949dc1dae8215d" -->
        <div class="sizeChart"> <h2 class="sizeChart-title">Men's T-Shirts</h2> <div class="desktop"> <div class="active inner-tab"> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Your usual size</h3></th> <td>XXS</td> <td>XS</td> <td>S</td> <td>M</td> <td>L</td> <td>XL</td> <td>XXL</td> <td>3XL</td> <td>4XL</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Lacoste Size</h3></th> <td>1</td> <td>2</td> <td>3</td> <td>4</td> <td>5</td> <td>6</td> <td>7</td> <td>8</td> <td>9</td> </tr> </tbody></table>
          <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p>
          <h3 class="chest">REGULAR FIT</h3> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>92</td> <td>96</td> <td>100</td> <td>104</td> <td>111</td> <td>118</td> <td>125</td> <td>132</td> <td>139</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>37</td> <td>38</td> <td>39.5</td> <td>41</td> <td>43.5</td> <td>46.5</td> <td>49</td> <td>52</td> <td>54.5</td> </tr> </tbody></table>
          <h3 class="chest">REGULAR FIT (LACOSTE L!VE)</h3> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>-</td> <td>96</td> <td>100</td> <td>104</td> <td>108</td> <td>112</td> <td>116</td> <td>120</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>-</td> <td>38</td> <td>39.5</td> <td>41</td> <td>42.5</td> <td>44</td> <td>45.5</td> <td>47</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">SLIM FIT</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>90</td> <td>94</td> <td>98</td> <td>102</td> <td>106</td> <td>110</td> <td>114</td> <td>118</td> <td>122</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>35.5</td> <td>37</td> <td>38.5</td> <td>40</td> <td>41.5</td> <td>43</td> <td>45</td> <td>46.5</td> <td>48</td> </tr> </tbody></table>
          <p class="chest">SLIM FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>-</td> <td>92</td> <td>96</td> <td>100</td> <td>104</td> <td>108</td> <td>112</td> <td>116</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>-</td> <td>36.5</td> <td>38</td> <td>39.5</td> <td>41</td> <td>42.5</td> <td>44</td> <td>45.5</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">LOOSE FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>-</td> <td>110</td> <td>114</td> <td>118</td> <td>122</td> <td>126</td> <td>130</td> <td>134</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>-</td> <td>43.5</td> <td>45</td> <td>46.5</td> <td>48</td> <td>49.5</td> <td>51</td> <td>53</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">UNISEX FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>88</td> <td>92</td> <td>96</td> <td>100</td> <td>104</td> <td>108</td> <td>112</td> <td>116</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>34.5</td> <td>36.5</td> <td>38</td> <td>39.5</td> <td>41</td> <td>42.5</td> <td>44</td> <td>45.5</td> <td>-</td> </tr> </tbody></table>
          </div> </div> <div class="step"> <div class="t-shirts"> <select name="second-cat" class="second-cat sub-title">
          <option data-number="t-shirts-1" value="">XXS / 1 </option>
          <option data-number="t-shirts-2" value="">XS / 2 </option>
          <option data-number="t-shirts-3" value="">S / 3</option>
          <option data-number="t-shirts-4" value="">M / 4</option>
          <option data-number="t-shirts-5" value="">L / 5</option>
          <option data-number="t-shirts-6" value="">XL / 6</option>
          <option data-number="t-shirts-7" value="">XXL / 7</option>
          <option data-number="t-shirts-8" value="">3XL / 8</option>
          <option data-number="t-shirts-9" value="">4XL / 9</option> </select>
          <!-- option SELECT 1 --> <div class="t-shirts-1 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>92cm / 37in</li> <li>-</li> <li>90cm / 35.5in</li> <li>-</li> <li>-</li> <li>88cm / 34.5in</li> </ul> </div>
          <!-- option SELECT 2 --> <div class="t-shirts-2 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>96cm / 38in</li> <li>96cm / 38in</li> <li>94cm / 37in</li> <li>92cm / 36.5in</li> <li>110cm / 43.5in</li> <li>92cm / 36.5in</li> </ul> </div>
          <!-- option SELECT 3 --> <div class="t-shirts-3 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>100cm / 39.5in</li> <li>100cm / 39.5in</li> <li>98cm / 38.5in</li> <li>96cm / 38in</li> <li>114cm / 45in</li> <li>96cm / 38in</li> </ul> </div>
          <!-- option SELECT 4 --> <div class="t-shirts-4 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>104cm / 41in</li> <li>104cm / 41in</li> <li>102cm / 40in</li> <li>100cm / 39.5in</li> <li>118cm / 46.5in</li> <li>100cm / 39.5in</li> </ul> </div>
          <!-- option SELECT 5 --> <div class="t-shirts-5 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>111cm / 43.5in</li> <li>108cm / 42.5in</li> <li>106cm / 41.5in</li> <li>104cm / 41in</li> <li>122cm / 48in</li> <li>104cm / 41in</li> </ul> </div>
          <!-- option SELECT 6 --> <div class="t-shirts-6 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>118cm / 46.5in</li> <li>112cm / 44in</li> <li>110cm / 43in</li> <li>108cm / 42.5in</li> <li>126cm / 49.5in</li> <li>108cm / 42.5in</li> </ul> </div>
          <!-- option SELECT 7 --> <div class="t-shirts-7 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>125cm / 49in</li> <li>116cm / 45.5in</li> <li>114cm / 45in</li> <li>112cm / 44in</li> <li>130cm / 51in</li> <li>112cm / 44in</li> </ul> </div>
          <!-- option SELECT 8 --> <div class="t-shirts-8 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>132cm / 52in</li> <li>120cm / 47in</li> <li>118cm / 46.5in</li> <li>116cm / 45.5in</li> <li>134cm / 53in</li> <li>116cm / 45.5in</li> </ul> </div>
          <!-- option SELECT 9 --> <div class="t-shirts-9 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Slim</li> <li>Slim (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>139cm / 54.5in</li> <li>-</li> <li>122cm / 48in</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div>
          </div> <!-- FIN POLO MOBIL --> </div> </div>
      </div>

    </div>