<div class="tab-content" data-cid="sizechart_children_children">

  <div class="content-asset">
    <!-- dwMarker="content" dwContentID="fbcf67a6a6417188ffc38f0172" -->
    <div class="sizeChart"> <h2 class="sizeChart-title">Children's size guide</h2> <div class="desktop"> <div class="active inner-tab"> <table>
      <tbody><tr> <th class="large-t" scope="row"><h3>Size on label</h3></th> <td>1A</td> <td>2A</td> <td>3A</td> <td>4A</td> <td>5A</td> <td>6A</td> <td>8A</td> <td>10A</td> <td>12A</td> <td>14A</td> <td>16A</td> </tr>
        <tr> <th class="large-t" scope="row"><h3>Stature (cm)</h3></th> <td>74</td> <td>86</td> <td>94</td> <td>102</td> <td>110</td> <td>118</td> <td>128</td> <td>140</td> <td>152</td> <td>164</td> <td>176</td> </tr>
        <tr> <th class="large-t" scope="row"><h3>Stature (inches)</h3></th> <td>29</td> <td>34</td> <td>37</td> <td>40</td> <td>43.5</td> <td>46.5</td> <td>50.5</td> <td>55</td> <td>60</td> <td>64.5</td> <td>69</td> </tr> </tbody></table>
      <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p>
      <p class="chest">Hip size</p> <table>
      <tbody><tr> <th class="large-t" scope="row"><h3>Hip size (cm)</h3></th> <td>50</td> <td>53</td> <td>56</td> <td>58</td> <td>60</td> <td>62</td> <td>66</td> <td>71.5</td> <td>78.5</td> <td>85.5</td> <td>92.5</td> </tr>
        <tr> <th class="large-t" scope="row"><h3>Hip size (inches)</h3></th> <td>20</td> <td>21</td> <td>22</td> <td>23</td> <td>23.5</td> <td>24.5</td> <td>26</td> <td>28</td> <td>31</td> <td>33.5</td> <td>36.5</td> </tr> </tbody></table>
      <p class="chest">Chest size</p> <table>
      <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>49.5</td> <td>52</td> <td>54</td> <td>56</td> <td>58</td> <td>60</td> <td>64</td> <td>68</td> <td>75</td> <td>82</td> <td>89</td> </tr>
        <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>19.5</td> <td>20.5</td> <td>21.5</td> <td>22</td> <td>23</td> <td>23.5</td> <td>25</td> <td>27</td> <td>29.5</td> <td>32</td> <td>35</td> </tr> </tbody></table>
      <p class="chest">Waist size</p> <table>
      <tbody><tr> <th class="large-t" scope="row"><h3>Waist size (cm)</h3></th> <td>49</td> <td>50</td> <td>51</td> <td>52</td> <td>53</td> <td>54</td> <td>56</td> <td>59</td> <td>63</td> <td>67</td> <td>71</td> </tr>
        <tr> <th class="large-t" scope="row"><h3>Waist size (inches)</h3></th> <td>19</td> <td>19.5</td> <td>20</td> <td>20.5</td> <td>21</td> <td>21.5</td> <td>22</td> <td>23</td> <td>25</td> <td>26</td> <td>28</td> </tr> </tbody></table>
      </div> </div> <div class="step"> <div class="children"> <!-- DEUXIEME SELECT (children) --> <select name="second-cat" class="second-cat sub-title">
      <option data-number="children-1" value="">1A / 74 / 29 </option>
      <option data-number="children-2" value="">2A / 86 / 34</option>
      <option data-number="children-3" value="">3A / 94 / 27 </option>
      <option data-number="children-4" value="">4A / 102 / 40</option>
      <option data-number="children-5" value="">5A / 110 / 43.5</option>
      <option data-number="children-6" value="">6A / 118 / 46.5</option>
      <option data-number="children-7" value="">8A / 128 / 50.5</option>
      <option data-number="children-8" value="">10A / 140 / 55</option>
      <option data-number="children-9" value="">12A / 152 / 60</option>
      <option data-number="children-10" value="">14A / 164 / 64.5</option>
      <option data-number="children-11" value="">16A / 176 / 69</option> </select>
      <!-- option SELECT 1 --> <div class="children-1 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>50cm / 20in</li> <li>49.5cm / 19.5in</li> <li>49cm /19in</li> </ul> </div>
      <!-- option SELECT 2 --> <div class="children-2 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>53cm / 21in</li> <li>52cm / 20.5in</li> <li>50cm / 19.5in</li> </ul> </div>
      <!-- option SELECT 3 --> <div class="children-3 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>56cm / 22in</li> <li>54cm / 21.5in</li> <li>51cm / 20in</li> </ul> </div>
      <!-- option SELECT 4 --> <div class="children-4 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>58cm / 23in</li> <li>56cm / 22in</li> <li>52cm / 20.5in</li> </ul> </div>
      <!-- option SELECT 5 --> <div class="children-5 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>60cm / 23.5in</li> <li>58cm / 23in</li> <li>53cm / 21in</li> </ul> </div>
      <!-- option SELECT 6 --> <div class="children-6 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>62cm / 24.5in</li> <li>60cm / 23.5in</li> <li>54cm / 21.5in</li> </ul> </div>
      <!-- option SELECT 7 --> <div class="children-7 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>66cm / 26in</li> <li>64cm / 25in</li> <li>56cm / 22in</li> </ul> </div>
      <!-- option SELECT 8 --> <div class="children-8 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>71.5cm / 28in</li> <li>68cm / 27in</li> <li>59cm / 23in</li> </ul> </div>
      <!-- option SELECT 9 --> <div class="children-9 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>78.5cm / 31in</li> <li>75cm / 29.5in</li> <li>63cm / 25in</li> </ul> </div>
      <!-- option SELECT 10 --> <div class="children-10 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>85.5cm / 33.5in</li> <li>82cm / 35in</li> <li>67cm / 26in</li> </ul> </div>
      <!-- option SELECT 11 --> <div class="children-11 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>92.5cm / 36.5in</li> <li>89cm / 35in</li> <li>71cm / 28in</li> </ul> </div>
      </div> <!-- FIN POLO MOBIL --> </div> </div>
  </div>






</div>
</section>
</div><div class="size-popin-tab-content">

<section class="is-active js-fit-tab fit-finder-tab" id="default-size-guide">
  <div class="tab-content" data-cid="sizechart_children_children">











    <div class="content-asset">
      <!-- dwMarker="content" dwContentID="fbcf67a6a6417188ffc38f0172" -->
      <div class="sizeChart"> <h2 class="sizeChart-title">Children's size guide</h2> <div class="desktop"> <div class="active inner-tab"> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Size on label</h3></th> <td>1A</td> <td>2A</td> <td>3A</td> <td>4A</td> <td>5A</td> <td>6A</td> <td>8A</td> <td>10A</td> <td>12A</td> <td>14A</td> <td>16A</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Stature (cm)</h3></th> <td>74</td> <td>86</td> <td>94</td> <td>102</td> <td>110</td> <td>118</td> <td>128</td> <td>140</td> <td>152</td> <td>164</td> <td>176</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Stature (inches)</h3></th> <td>29</td> <td>34</td> <td>37</td> <td>40</td> <td>43.5</td> <td>46.5</td> <td>50.5</td> <td>55</td> <td>60</td> <td>64.5</td> <td>69</td> </tr> </tbody></table>
        <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p>
        <p class="chest">Hip size</p> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Hip size (cm)</h3></th> <td>50</td> <td>53</td> <td>56</td> <td>58</td> <td>60</td> <td>62</td> <td>66</td> <td>71.5</td> <td>78.5</td> <td>85.5</td> <td>92.5</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Hip size (inches)</h3></th> <td>20</td> <td>21</td> <td>22</td> <td>23</td> <td>23.5</td> <td>24.5</td> <td>26</td> <td>28</td> <td>31</td> <td>33.5</td> <td>36.5</td> </tr> </tbody></table>
        <p class="chest">Chest size</p> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>49.5</td> <td>52</td> <td>54</td> <td>56</td> <td>58</td> <td>60</td> <td>64</td> <td>68</td> <td>75</td> <td>82</td> <td>89</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>19.5</td> <td>20.5</td> <td>21.5</td> <td>22</td> <td>23</td> <td>23.5</td> <td>25</td> <td>27</td> <td>29.5</td> <td>32</td> <td>35</td> </tr> </tbody></table>
        <p class="chest">Waist size</p> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Waist size (cm)</h3></th> <td>49</td> <td>50</td> <td>51</td> <td>52</td> <td>53</td> <td>54</td> <td>56</td> <td>59</td> <td>63</td> <td>67</td> <td>71</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Waist size (inches)</h3></th> <td>19</td> <td>19.5</td> <td>20</td> <td>20.5</td> <td>21</td> <td>21.5</td> <td>22</td> <td>23</td> <td>25</td> <td>26</td> <td>28</td> </tr> </tbody></table>
        </div> </div> <div class="step"> <div class="children"> <!-- DEUXIEME SELECT (children) --> <select name="second-cat" class="second-cat sub-title">
        <option data-number="children-1" value="">1A / 74 / 29 </option>
        <option data-number="children-2" value="">2A / 86 / 34</option>
        <option data-number="children-3" value="">3A / 94 / 27 </option>
        <option data-number="children-4" value="">4A / 102 / 40</option>
        <option data-number="children-5" value="">5A / 110 / 43.5</option>
        <option data-number="children-6" value="">6A / 118 / 46.5</option>
        <option data-number="children-7" value="">8A / 128 / 50.5</option>
        <option data-number="children-8" value="">10A / 140 / 55</option>
        <option data-number="children-9" value="">12A / 152 / 60</option>
        <option data-number="children-10" value="">14A / 164 / 64.5</option>
        <option data-number="children-11" value="">16A / 176 / 69</option> </select>
        <!-- option SELECT 1 --> <div class="children-1 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>50cm / 20in</li> <li>49.5cm / 19.5in</li> <li>49cm /19in</li> </ul> </div>
        <!-- option SELECT 2 --> <div class="children-2 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>53cm / 21in</li> <li>52cm / 20.5in</li> <li>50cm / 19.5in</li> </ul> </div>
        <!-- option SELECT 3 --> <div class="children-3 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>56cm / 22in</li> <li>54cm / 21.5in</li> <li>51cm / 20in</li> </ul> </div>
        <!-- option SELECT 4 --> <div class="children-4 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>58cm / 23in</li> <li>56cm / 22in</li> <li>52cm / 20.5in</li> </ul> </div>
        <!-- option SELECT 5 --> <div class="children-5 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>60cm / 23.5in</li> <li>58cm / 23in</li> <li>53cm / 21in</li> </ul> </div>
        <!-- option SELECT 6 --> <div class="children-6 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>62cm / 24.5in</li> <li>60cm / 23.5in</li> <li>54cm / 21.5in</li> </ul> </div>
        <!-- option SELECT 7 --> <div class="children-7 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>66cm / 26in</li> <li>64cm / 25in</li> <li>56cm / 22in</li> </ul> </div>
        <!-- option SELECT 8 --> <div class="children-8 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>71.5cm / 28in</li> <li>68cm / 27in</li> <li>59cm / 23in</li> </ul> </div>
        <!-- option SELECT 9 --> <div class="children-9 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>78.5cm / 31in</li> <li>75cm / 29.5in</li> <li>63cm / 25in</li> </ul> </div>
        <!-- option SELECT 10 --> <div class="children-10 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>85.5cm / 33.5in</li> <li>82cm / 35in</li> <li>67cm / 26in</li> </ul> </div>
        <!-- option SELECT 11 --> <div class="children-11 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>92.5cm / 36.5in</li> <li>89cm / 35in</li> <li>71cm / 28in</li> </ul> </div>
        </div> <!-- FIN POLO MOBIL --> </div> </div>
    </div>






  </div>
</section>
</div><div class="size-popin-tab-content">

<section class="is-active js-fit-tab fit-finder-tab" id="default-size-guide">
  <div class="tab-content" data-cid="sizechart_children_children">











    <div class="content-asset">
      <!-- dwMarker="content" dwContentID="fbcf67a6a6417188ffc38f0172" -->
      <div class="sizeChart"> <h2 class="sizeChart-title">Children's size guide</h2> <div class="desktop"> <div class="active inner-tab"> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Size on label</h3></th> <td>1A</td> <td>2A</td> <td>3A</td> <td>4A</td> <td>5A</td> <td>6A</td> <td>8A</td> <td>10A</td> <td>12A</td> <td>14A</td> <td>16A</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Stature (cm)</h3></th> <td>74</td> <td>86</td> <td>94</td> <td>102</td> <td>110</td> <td>118</td> <td>128</td> <td>140</td> <td>152</td> <td>164</td> <td>176</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Stature (inches)</h3></th> <td>29</td> <td>34</td> <td>37</td> <td>40</td> <td>43.5</td> <td>46.5</td> <td>50.5</td> <td>55</td> <td>60</td> <td>64.5</td> <td>69</td> </tr> </tbody></table>
        <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p>
        <p class="chest">Hip size</p> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Hip size (cm)</h3></th> <td>50</td> <td>53</td> <td>56</td> <td>58</td> <td>60</td> <td>62</td> <td>66</td> <td>71.5</td> <td>78.5</td> <td>85.5</td> <td>92.5</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Hip size (inches)</h3></th> <td>20</td> <td>21</td> <td>22</td> <td>23</td> <td>23.5</td> <td>24.5</td> <td>26</td> <td>28</td> <td>31</td> <td>33.5</td> <td>36.5</td> </tr> </tbody></table>
        <p class="chest">Chest size</p> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>49.5</td> <td>52</td> <td>54</td> <td>56</td> <td>58</td> <td>60</td> <td>64</td> <td>68</td> <td>75</td> <td>82</td> <td>89</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>19.5</td> <td>20.5</td> <td>21.5</td> <td>22</td> <td>23</td> <td>23.5</td> <td>25</td> <td>27</td> <td>29.5</td> <td>32</td> <td>35</td> </tr> </tbody></table>
        <p class="chest">Waist size</p> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Waist size (cm)</h3></th> <td>49</td> <td>50</td> <td>51</td> <td>52</td> <td>53</td> <td>54</td> <td>56</td> <td>59</td> <td>63</td> <td>67</td> <td>71</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Waist size (inches)</h3></th> <td>19</td> <td>19.5</td> <td>20</td> <td>20.5</td> <td>21</td> <td>21.5</td> <td>22</td> <td>23</td> <td>25</td> <td>26</td> <td>28</td> </tr> </tbody></table>
        </div> </div> <div class="step"> <div class="children"> <!-- DEUXIEME SELECT (children) --> <select name="second-cat" class="second-cat sub-title">
        <option data-number="children-1" value="">1A / 74 / 29 </option>
        <option data-number="children-2" value="">2A / 86 / 34</option>
        <option data-number="children-3" value="">3A / 94 / 27 </option>
        <option data-number="children-4" value="">4A / 102 / 40</option>
        <option data-number="children-5" value="">5A / 110 / 43.5</option>
        <option data-number="children-6" value="">6A / 118 / 46.5</option>
        <option data-number="children-7" value="">8A / 128 / 50.5</option>
        <option data-number="children-8" value="">10A / 140 / 55</option>
        <option data-number="children-9" value="">12A / 152 / 60</option>
        <option data-number="children-10" value="">14A / 164 / 64.5</option>
        <option data-number="children-11" value="">16A / 176 / 69</option> </select>
        <!-- option SELECT 1 --> <div class="children-1 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>50cm / 20in</li> <li>49.5cm / 19.5in</li> <li>49cm /19in</li> </ul> </div>
        <!-- option SELECT 2 --> <div class="children-2 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>53cm / 21in</li> <li>52cm / 20.5in</li> <li>50cm / 19.5in</li> </ul> </div>
        <!-- option SELECT 3 --> <div class="children-3 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>56cm / 22in</li> <li>54cm / 21.5in</li> <li>51cm / 20in</li> </ul> </div>
        <!-- option SELECT 4 --> <div class="children-4 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>58cm / 23in</li> <li>56cm / 22in</li> <li>52cm / 20.5in</li> </ul> </div>
        <!-- option SELECT 5 --> <div class="children-5 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>60cm / 23.5in</li> <li>58cm / 23in</li> <li>53cm / 21in</li> </ul> </div>
        <!-- option SELECT 6 --> <div class="children-6 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>62cm / 24.5in</li> <li>60cm / 23.5in</li> <li>54cm / 21.5in</li> </ul> </div>
        <!-- option SELECT 7 --> <div class="children-7 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>66cm / 26in</li> <li>64cm / 25in</li> <li>56cm / 22in</li> </ul> </div>
        <!-- option SELECT 8 --> <div class="children-8 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>71.5cm / 28in</li> <li>68cm / 27in</li> <li>59cm / 23in</li> </ul> </div>
        <!-- option SELECT 9 --> <div class="children-9 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>78.5cm / 31in</li> <li>75cm / 29.5in</li> <li>63cm / 25in</li> </ul> </div>
        <!-- option SELECT 10 --> <div class="children-10 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>85.5cm / 33.5in</li> <li>82cm / 35in</li> <li>67cm / 26in</li> </ul> </div>
        <!-- option SELECT 11 --> <div class="children-11 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>92.5cm / 36.5in</li> <li>89cm / 35in</li> <li>71cm / 28in</li> </ul> </div>
        </div> <!-- FIN POLO MOBIL --> </div> </div>
    </div>






  </div>
</section>
</div><div class="size-popin-tab-content">

<section class="is-active js-fit-tab fit-finder-tab" id="default-size-guide">
  <div class="tab-content" data-cid="sizechart_children_children">


    <div class="content-asset">
      <!-- dwMarker="content" dwContentID="fbcf67a6a6417188ffc38f0172" -->
      <div class="sizeChart"> <h2 class="sizeChart-title">Children's size guide</h2> <div class="desktop"> <div class="active inner-tab"> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Size on label</h3></th> <td>1A</td> <td>2A</td> <td>3A</td> <td>4A</td> <td>5A</td> <td>6A</td> <td>8A</td> <td>10A</td> <td>12A</td> <td>14A</td> <td>16A</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Stature (cm)</h3></th> <td>74</td> <td>86</td> <td>94</td> <td>102</td> <td>110</td> <td>118</td> <td>128</td> <td>140</td> <td>152</td> <td>164</td> <td>176</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Stature (inches)</h3></th> <td>29</td> <td>34</td> <td>37</td> <td>40</td> <td>43.5</td> <td>46.5</td> <td>50.5</td> <td>55</td> <td>60</td> <td>64.5</td> <td>69</td> </tr> </tbody></table>
        <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p>
        <p class="chest">Hip size</p> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Hip size (cm)</h3></th> <td>50</td> <td>53</td> <td>56</td> <td>58</td> <td>60</td> <td>62</td> <td>66</td> <td>71.5</td> <td>78.5</td> <td>85.5</td> <td>92.5</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Hip size (inches)</h3></th> <td>20</td> <td>21</td> <td>22</td> <td>23</td> <td>23.5</td> <td>24.5</td> <td>26</td> <td>28</td> <td>31</td> <td>33.5</td> <td>36.5</td> </tr> </tbody></table>
        <p class="chest">Chest size</p> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>49.5</td> <td>52</td> <td>54</td> <td>56</td> <td>58</td> <td>60</td> <td>64</td> <td>68</td> <td>75</td> <td>82</td> <td>89</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>19.5</td> <td>20.5</td> <td>21.5</td> <td>22</td> <td>23</td> <td>23.5</td> <td>25</td> <td>27</td> <td>29.5</td> <td>32</td> <td>35</td> </tr> </tbody></table>
        <p class="chest">Waist size</p> <table>
        <tbody><tr> <th class="large-t" scope="row"><h3>Waist size (cm)</h3></th> <td>49</td> <td>50</td> <td>51</td> <td>52</td> <td>53</td> <td>54</td> <td>56</td> <td>59</td> <td>63</td> <td>67</td> <td>71</td> </tr>
          <tr> <th class="large-t" scope="row"><h3>Waist size (inches)</h3></th> <td>19</td> <td>19.5</td> <td>20</td> <td>20.5</td> <td>21</td> <td>21.5</td> <td>22</td> <td>23</td> <td>25</td> <td>26</td> <td>28</td> </tr> </tbody></table>
        </div> </div> <div class="step"> <div class="children"> <!-- DEUXIEME SELECT (children) --> <select name="second-cat" class="second-cat sub-title">
        <option data-number="children-1" value="">1A / 74 / 29 </option>
        <option data-number="children-2" value="">2A / 86 / 34</option>
        <option data-number="children-3" value="">3A / 94 / 27 </option>
        <option data-number="children-4" value="">4A / 102 / 40</option>
        <option data-number="children-5" value="">5A / 110 / 43.5</option>
        <option data-number="children-6" value="">6A / 118 / 46.5</option>
        <option data-number="children-7" value="">8A / 128 / 50.5</option>
        <option data-number="children-8" value="">10A / 140 / 55</option>
        <option data-number="children-9" value="">12A / 152 / 60</option>
        <option data-number="children-10" value="">14A / 164 / 64.5</option>
        <option data-number="children-11" value="">16A / 176 / 69</option> </select>
        <!-- option SELECT 1 --> <div class="children-1 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>50cm / 20in</li> <li>49.5cm / 19.5in</li> <li>49cm /19in</li> </ul> </div>
        <!-- option SELECT 2 --> <div class="children-2 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>53cm / 21in</li> <li>52cm / 20.5in</li> <li>50cm / 19.5in</li> </ul> </div>
        <!-- option SELECT 3 --> <div class="children-3 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>56cm / 22in</li> <li>54cm / 21.5in</li> <li>51cm / 20in</li> </ul> </div>
        <!-- option SELECT 4 --> <div class="children-4 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>58cm / 23in</li> <li>56cm / 22in</li> <li>52cm / 20.5in</li> </ul> </div>
        <!-- option SELECT 5 --> <div class="children-5 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>60cm / 23.5in</li> <li>58cm / 23in</li> <li>53cm / 21in</li> </ul> </div>
        <!-- option SELECT 6 --> <div class="children-6 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>62cm / 24.5in</li> <li>60cm / 23.5in</li> <li>54cm / 21.5in</li> </ul> </div>
        <!-- option SELECT 7 --> <div class="children-7 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>66cm / 26in</li> <li>64cm / 25in</li> <li>56cm / 22in</li> </ul> </div>
        <!-- option SELECT 8 --> <div class="children-8 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>71.5cm / 28in</li> <li>68cm / 27in</li> <li>59cm / 23in</li> </ul> </div>
        <!-- option SELECT 9 --> <div class="children-9 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>78.5cm / 31in</li> <li>75cm / 29.5in</li> <li>63cm / 25in</li> </ul> </div>
        <!-- option SELECT 10 --> <div class="children-10 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>85.5cm / 33.5in</li> <li>82cm / 35in</li> <li>67cm / 26in</li> </ul> </div>
        <!-- option SELECT 11 --> <div class="children-11 hide"> <ul> <li class="prop">-</li> <li>Hip size</li> <li>Chest size</li> <li>Waist size</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>92.5cm / 36.5in</li> <li>89cm / 35in</li> <li>71cm / 28in</li> </ul> </div>
        </div> <!-- FIN POLO MOBIL --> </div> </div>
    </div>

  </div>