
    <div class="tab-content" data-cid="sizechart_women_pants-women">

      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="c76c7624464a831d3ace8921d9" -->
        <div class="sizeChart"> <h2 class="sizeChart-title">Women's Trousers &amp; Shorts</h2> <div class="desktop"> <div class="active inner-tab"> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>International Size</h3></th> <td>XS</td> <td>S</td> <td>M</td> <td>L</td> <td>XL</td> </tr> 
            <tr> <th class="large-t" scope="row"><h3>EU Size</h3></th> <td>32</td> <td>34-36</td> <td>38-40</td> <td>42-44</td> <td>46-48</td> </tr></tbody></table> 
          <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p> 
          <p class="chest">Waist Circumference</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Waist Circumference (cm)</h3></th> <td>60</td> <td>64-68</td> <td>72-76</td> <td>80-84</td> <td>89-94</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Waist Circumference (inches)</h3></th> <td>24</td> <td>25-27</td> <td>28-30</td> <td>31-33</td> <td>35-37</td> </tr> </tbody></table>
          <p class="chest">High Hip Circumference</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>High Hip Circumference (cm)</h3></th> <td>78</td> <td>82-86</td> <td>90-94</td> <td>98-102</td> <td>107-113</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>High Hip Circumference (inches)</h3></th> <td>31</td> <td>32-34</td> <td>35-37</td> <td>39-40</td> <td>42-44</td> </tr> </tbody></table>
          <p class="chest">Low Hip Circumference</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Low Hip Circumference (cm)</h3></th> <td>86</td> <td>90-94</td> <td>98-102</td> <td>106-110</td> <td>115-120</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Low Hip Circumference (inches)</h3></th> <td>34</td> <td>35-37</td> <td>39-40</td> <td>42-43</td> <td>45-47</td> </tr> </tbody></table>
          <p class="chest">Thigh Girth</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Thigh Girth (cm)</h3></th> <td>51</td> <td>53-55</td> <td>57-59</td> <td>61-64</td> <td>66-69</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Thigh Girth (inches)</h3></th> <td>20</td> <td>21-22</td> <td>22-23</td> <td>24-25</td> <td>25-27</td> </tr> </tbody></table>
          <p class="chest">Inseam Leg Length</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Inseam Leg Length (cm)</h3></th> <td>78</td> <td>78</td> <td>78</td> <td>78</td> <td>78</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Inseam Leg Length (inches)</h3></th> <td>31</td> <td>31</td> <td>31</td> <td>31</td> <td>31</td> </tr> </tbody></table>
          </div> </div>
          <div class="step"> <div class="pants-women"> <!-- DEUXIEME SELECT (shirts) --> <select name="second-cat" class="second-cat sub-title">
            <option data-number="pants-1" value="1">1 / XS</option>
            <option data-number="pants-2" value="2">2 / S</option>
            <option data-number="pants-3" value="3">3 / M</option>
            <option data-number="pants-4" value="4">4 / L</option>
            <option data-number="pants-5" value="5">5 / XL</option> </select>
            <!-- option SELECT 1 --> <div class="pants-1 hide"> <ul> <li class="prop">Body Measures</li> <li>Waist Circumference</li> <li>High Hip Circumference</li> <li>Low Hip Circumference</li> <li>Thigh Girth</li> <li>Inseam Leg Length</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>60cm / 24in</li> <li>78cm / 31in</li> <li>86cm / 34in</li> <li>51cm / 20in</li> <li>78cm / 31in</li> </ul> </div>
            <!-- option SELECT 2 --> <div class="pants-2 hide"> <ul> <li class="prop">Body Measures</li> <li>Waist Circumference</li> <li>High Hip Circumference</li> <li>Low Hip Circumference</li> <li>Thigh Girth</li> <li>Inseam Leg Length</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>64-68cm / 25-27in</li> <li>82-86cm / 32-34in</li> <li>90-94cm / 35-37in</li> <li>53-55cm / 21-22in</li> <li>78cm / 31in</li> </ul> </div>
            <!-- option SELECT 3 --> <div class="pants-3 hide"> <ul> <li class="prop">Body Measures</li> <li>Waist Circumference</li> <li>High Hip Circumference</li> <li>Low Hip Circumference</li> <li>Thigh Girth</li> <li>Inseam Leg Length</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>72-76cm / 28-30in</li> <li>90-94cm / 35-37in</li> <li>98-102cm / 39-40in</li> <li>57-59cm / 22-23in</li> <li>78cm / 31in</li> </ul> </div>
            <!-- option SELECT 4 --> <div class="pants-4 hide"> <ul> <li class="prop">Body Measures</li> <li>Waist Circumference</li> <li>High Hip Circumference</li> <li>Low Hip Circumference</li> <li>Thigh Girth</li> <li>Inseam Leg Length</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>80-84cm / 31-33in</li> <li>98-102cm / 39-40in</li> <li>106-110cm / 42-43in</li> <li>61-64cm / 24-25in</li> <li>78cm / 31in</li> </ul> </div>
            <!-- option SELECT 5 --> <div class="pants-5 hide"> <ul> <li class="prop">Body Measures</li> <li>Waist Circumference</li> <li>High Hip Circumference</li> <li>Low Hip Circumference</li> <li>Thigh Girth</li> <li>Inseam Leg Length</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>89-94cm / 35-37in</li> <li>107-113cm / 42-44in</li> <li>115-120cm / 45-47in</li> <li>66-69cm / 25-27in</li> <li>78cm / 31in</li> </ul> </div>
            </div> <!-- FIN POLO MOBIL --> </div> </div>
      </div>

    </div>