<div class="tab-content" data-cid="sizechart_men_jackets-men">











  <div class="content-asset">
    <!-- dwMarker="content" dwContentID="bd0a993326e89554dfeed63bee" -->
    <div class="sizeChart"> <h2 class="sizeChart-title">Men's Jackets &amp; Coats</h2> <div class="desktop"> <div class="active inner-tab"> <table> <tbody><tr> <th class="large-t" scope="row"><h3>International Size</h3></th> <td>XXS</td> <td>XS</td> <td>S</td> <td>M</td> <td>L</td> <td>XL</td> <td>XXL</td> <td>XXXL</td> <td>XXXXL</td> </tr> <tr> <th class="large-t" scope="row"><h3>Your Size</h3></th> <td>44</td> <td>46</td> <td>48</td> <td>50</td> <td>52</td> <td>54</td> <td>56</td> <td>58</td> <td>60</td> </tr> </tbody></table> <p class="chest">Chest Size</p> <table> <tbody><tr> <th class="large-t" scope="row"><h3>Chest Size (cm)</h3></th> <td>104/106</td> <td>106/108</td> <td>110/112</td> <td>114/116</td> <td>118/120</td> <td>123/125</td> <td>128/130</td> <td>133/135</td> <td>138/140</td> </tr> <tr> <th class="large-t" scope="row"><h3>Chest Size (inch)</h3></th> <td>41</td> <td>42</td> <td>43.5</td> <td>45</td> <td>47</td> <td>49</td> <td>50.5</td> <td>52.5</td> <td>54.5</td> </tr> </tbody></table> <p class="chest">Accross Back</p> <table> <tbody><tr> <th class="large-t" scope="row"><h3>Accross Back (cm)</h3></th> <td>44</td> <td>46</td> <td>47</td> <td>48.5</td> <td>50</td> <td>51</td> <td>52.5</td> <td>54</td> <td>55</td> </tr> <tr> <th class="large-t" scope="row"><h3>Accross Back (inches)</h3></th> <td>17</td> <td>18</td> <td>18.5</td> <td>19</td> <td>19.5</td> <td>20</td> <td>20.5</td> <td>21</td> <td>21.5</td> </tr> </tbody></table> <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p> </div> </div> <div class="step"> <div class="jackets"> <select name="second-cat" class="second-cat sub-title"> <option data-number="jackets-1" value="">XXS / 44 </option> <option data-number="jackets-2" value="">XS / 46</option> <option data-number="jackets-3" value="">S / 48</option> <option data-number="jackets-4" value="">M / 50</option> <option data-number="jackets-5" value="">L / 52</option> <option data-number="jackets-6" value="">XL / 54</option> <option data-number="jackets-7" value="">XXL / 56</option> <option data-number="jackets-8" value="">XXXL / 58</option> <option data-number="jackets-9" value="">XXXXL / 60</option> </select> <!-- option SELECT 1 --> <div class="jackets-1 hide"> <ul> <li class="prop">-</li> <li>Chest size</li> <li>Accross Back</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>106cm / 41in</li> <li>44cm / 17in</li> </ul> </div> <!-- option SELECT 2 --> <div class="jackets-2 hide"> <ul> <li class="prop">-</li> <li>Chest size</li> <li>Accross Back</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>108cm / 42in</li> <li>46cm / 18in</li> </ul> </div> <!-- option SELECT 3 --> <div class="jackets-3 hide"> <ul> <li class="prop">-</li> <li>Chest size</li> <li>Accross Back</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>112cm / 43.5in</li> <li>47cm / 18.5in</li> </ul> </div> <!-- option SELECT 4 --> <div class="jackets-4 hide"> <ul> <li class="prop">-</li> <li>Chest size</li> <li>Accross Back</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>116cm / 45in</li> <li>48.5cm / 19in</li> </ul> </div> <!-- option SELECT 5 --> <div class="jackets-5 hide"> <ul> <li class="prop">-</li> <li>Chest size</li> <li>Accross Back</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>120cm / 47in</li> <li>50cm / 19.5in</li> </ul> </div> <!-- option SELECT 6 --> <div class="jackets-6 hide"> <ul> <li class="prop">-</li> <li>Chest size</li> <li>Accross Back</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>125cm / 49in</li> <li>51cm / 20in</li> </ul> </div> <!-- option SELECT 7 --> <div class="jackets-7 hide"> <ul> <li class="prop">-</li> <li>Chest size</li> <li>Accross Back</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>130cm / 50.5in</li> <li>52.5cm / 20.5in</li> </ul> </div> <!-- option SELECT 8 --> <div class="jackets-8 hide"> <ul> <li class="prop">-</li> <li>Chest size</li> <li>Accross Back</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>135cm / 52.5in</li> <li>54cm / 21in</li> </ul> </div> <!-- option SELECT 9 --> <div class="jackets-9 hide"> <ul> <li class="prop">-</li> <li>Chest size</li> <li>Accross Back</li> </ul> <ul class="right"> <li class="prop">Size</li> <li>140cm / 54.5in</li> <li>55cm / 21.5in</li> </ul> </div> </div> <!-- FIN POLO MOBIL --> </div> </div>
  </div>






</div>