<div class="tab-content" data-cid="sizechart_men_underwear-men">

      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="c0e34fbc1c690e8993cb5ca21b" -->
        <div class="sizeChart"> <h2 class="sizeChart-title">Ropa Interior Hombre</h2> <div class="desktop"> <div class="active inner-tab"> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Su Talla Habitual</h3></th> <td>S</td> <td>M</td> <td>L</td> <td>XL</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Medidas Cintura (cm)</h3></th> <td>71-76</td> <td>81-86</td> <td>91-97</td> <td>102-107</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Medidas Cintura (inches)</h3></th> <td>28"-30"</td> <td>32"-34"</td> <td>36"-38"</td> <td>40"-42"</td> </tr> </tbody></table>
          </div> </div> <div class="step"> <div class="underwear"> <!-- DEUXIEME SELECT (underwear) --> <select name="second-cat" class="second-cat sub-title">
          <option data-number="underwear-3" value="">S / 3</option>
          <option data-number="underwear-4" value="">M / 4</option>
          <option data-number="underwear-5" value="">L / 5</option>
          <option data-number="underwear-6" value="">XL / 6</option> </select>
          <!-- option SELECT 1 --> <div class="underwear-3 hide"> <ul> <li class="prop">Talla</li> <li>Medidas Cintura (cm)</li> <li>Medidas Cintura (inches)</li> </ul> <ul class="right"> <li class="prop">Medidas Cadera</li> <li>71-76</li> <li>28-30</li> </ul> </div>
          <!-- option SELECT 2 --> <div class="underwear-4 hide"> <ul> <li class="prop">Talla</li> <li>Medidas Cintura (cm)</li> <li>Medidas Cintura (inches)</li> </ul> <ul class="right"> <li class="prop">Medidas Cadera</li> <li>81-86</li> <li>32-34</li> </ul> </div>
          <!-- option SELECT 3 --> <div class="underwear-5 hide"> <ul> <li class="prop">Talla</li> <li>Medidas Cintura (cm)</li> <li>Medidas Cintura (inches)</li> </ul> <ul class="right"> <li class="prop">Medidas Cadera</li> <li>91-97</li> <li>36-38</li> </ul> </div>
          <!-- option SELECT 4 --> <div class="underwear-6 hide"> <ul> <li class="prop">Talla</li> <li>Medidas Cintura (cm)</li> <li>Medidas Cintura (inches)</li> </ul> <ul class="right"> <li class="prop">Medidas Cadera</li> <li>102-107</li> <li>40-42</li> </ul> </div>
          </div> <!-- FIN POLO MOBIL --> </div> </div>
      </div>

    </div>