 <div class="tab-content" data-cid="sizechart_men_shirts-men">

      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="153796141ef7e73cda351f5c7b" -->
        <div class="sizeChart"> <h2 class="sizeChart-title">Men's Shirts</h2> <div class="desktop"> <div class="active inner-tab"> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Your usual size</h3></th> <td>XS/S</td> <td>S</td> <td>S/M</td> <td>M</td> <td>M/L</td> <td>L</td> <td>L/XL</td> <td>XL</td> <td>XL/XXL</td> <td>XXL</td> <td>XXL/3XL</td> <td>3XL</td> <td>3XL/4XL</td> <td>4XL</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Neck size (cm)</h3></th> <td>37</td> <td>38</td> <td>39</td> <td>40</td> <td>41</td> <td>42</td> <td>43</td> <td>44</td> <td>45</td> <td>46</td> <td>47</td> <td>48</td> <td>49</td> <td>50</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Neck size (inches)</h3></th> <td>14.6</td> <td>15</td> <td>15.4</td> <td>15.7</td> <td>16.1</td> <td>16.5</td> <td>16.9</td> <td>17.3</td> <td>17.7</td> <td>18.1</td>  <td>18.5</td>  <td>18.9</td>  <td>19.3</td>  <td>19.7</td> </tr> </tbody></table>
          <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p>
          <p class="chest">REGULAR FIT</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>100</td> <td>104</td> <td>108</td> <td>112</td> <td>116</td> <td>120</td> <td>124</td> <td>128</td> <td>132</td> <td>136</td> <td>140</td> <td>144</td> <td>148</td> <td>152</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>39.5</td> <td>41</td> <td>42.5</td> <td>44</td> <td>45.5</td> <td>47</td> <td>49</td> <td>50.5</td> <td>52</td> <td>53.5</td> <td>55</td> <td>56.5</td> <td>58.5</td> <td>60</td> </tr> </tbody></table>
          <p class="chest">SLIM FIT</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>94</td> <td>98</td> <td>102</td> <td>106</td> <td>110</td> <td>114</td> <td>118</td> <td>122</td> <td>126</td> <td>130</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>37</td> <td>38.5</td> <td>40</td> <td>41.5</td> <td>43.5</td> <td>45</td> <td>46.5</td> <td>48</td> <td>49.5</td> <td>51</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">SKINNY FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>96</td> <td>100</td> <td>104</td> <td>108</td> <td>112</td> <td>116</td> <td>120</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>38</td> <td>39.5</td> <td>41</td> <td>42.5</td> <td>44</td> <td>45.5</td> <td>47</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">BOXY FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>108</td> <td>112</td> <td>116</td> <td>120</td> <td>124</td> <td>128</td> <td>132</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>42.5</td> <td>44</td> <td>45.5</td> <td>47</td> <td>48</td> <td>50.5</td> <td>52</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          </div> </div> <div class="step"> <div class="shirts"> <!-- DEUXIEME SELECT (shirts) --> <select name="second-cat" class="second-cat sub-title">
          <option data-number="shirts-1" value="">XS-S / 37 / 14.6</option>
          <option data-number="shirts-2" value="">S / 38 / 15 </option>
          <option data-number="shirts-3" value="">S-M / 39 / 15.4</option>
          <option data-number="shirts-4" value="">M / 40 / 15.7</option>
          <option data-number="shirts-5" value="">M-L / 41 / 16.1</option>
          <option data-number="shirts-6" value="">L / 42 / 16.5</option>
          <option data-number="shirts-7" value="">L-XL / 43 / 16.9</option>
          <option data-number="shirts-8" value="">XL / 44 / 17.3</option>
          <option data-number="shirts-9" value="">XL-XXL / 45 / 17.7</option>
          <option data-number="shirts-10" value="">XXL / 46 / 18.1</option>
          <option data-number="shirts-11" value="">XXL-3XL / 47 / 18.5</option>
          <option data-number="shirts-12" value="">3XL / 48 / 18.9</option>
          <option data-number="shirts-13" value="">3XL-4XL / 49 / 19.3</option>
          <option data-number="shirts-14" value="">4XL / 50 / 19.7</option> </select>
          <!-- option SELECT 1 --> <div class="shirts-1 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>100cm / 39.5in</li> <li>94cm / 37in</li> <li>96cm / 38in</li> <li>108cm / 42.5in</li> </ul> </div>
          <!-- option SELECT 2 --> <div class="shirts-2 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>104cm / 41in</li> <li>98cm / 38.5in</li> <li>100cm / 39.5in</li> <li>112cm / 44in</li> </ul> </div>
          <!-- option SELECT 3 --> <div class="shirts-3 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>108cm / 42.5in</li> <li>102cm / 40in</li> <li>104cm / 41in</li> <li>116cm / 45.5in</li> </ul> </div>
          <!-- option SELECT 4 --> <div class="shirts-4 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>112cm / 44in</li> <li>106cm / 41.5in</li> <li>108cm / 42.5in</li> <li>120cm / 47in</li> </ul> </div>
          <!-- option SELECT 5 --> <div class="shirts-5 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>116cm / 45.5in</li> <li>110cm / 43.5in</li> <li>112cm / 44in</li> <li>124cm / 48in</li> </ul> </div>
          <!-- option SELECT 6 --> <div class="shirts-6 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>120cm / 47in</li> <li>114cm / 45in</li> <li>116cm / 45.5in</li> <li>128cm / 50.5in</li> </ul> </div>
          <!-- option SELECT 7 --> <div class="shirts-7 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>124cm / 49in</li> <li>118cm / 46.5in</li> <li>120cm / 47in</li> <li>132cm / 52in</li> </ul> </div>
          <!-- option SELECT 8 --> <div class="shirts-8 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>128cm / 50.5in</li> <li>122cm / 48in</li> <li>-</li> <li>-</li> </ul> </div>
          <!-- option SELECT 9 --> <div class="shirts-9 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>132cm / 52in</li> <li>126cm / 49.5in</li> <li>-</li> <li>-</li> </ul> </div>
          <!-- option SELECT 10 --> <div class="shirts-10 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>136cm / 53.5in</li> <li>130cm / 51in</li> <li>-</li> <li>-</li> </ul> </div>
          <!-- option SELECT 11 --> <div class="shirts-11 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>140cm / 55in</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div>
          <!-- option SELECT 12 --> <div class="shirts-12 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>144cm / 56.5in</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div>
          <!-- option SELECT 13 --> <div class="shirts-13 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>148cm / 58.5in</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div>
          <!-- option SELECT 14 --> <div class="shirts-14 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Slim</li> <li>Skinny (Lacoste Live)</li> <li>Boxy (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>152cm / 60in</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div>
          </div> <!-- FIN POLO MOBIL --> </div> </div>
      </div>


    </div>