
    <div class="tab-content" data-cid="sizechart_men_sweatshirts-men">

      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="5384e9fb6cf488d5dee9537cec" -->
        <div class="sizeChart"> <h2 class="sizeChart-title">Men's Sweatshirts</h2> <div class="desktop"> <div class="active inner-tab"> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Your usual size</h3></th> <td>XXS</td> <td>XS</td> <td>S</td> <td>M</td> <td>L</td> <td>XL</td> <td>XXL</td> <td>3XL</td> <td>4XL</td> <td>5XL</td> <td>6XL</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Lacoste Size</h3></th> <td>1</td> <td>2</td> <td>3</td> <td>4</td> <td>5</td> <td>6</td> <td>7</td> <td>8</td> <td>9</td> <td>10</td> <td>11</td> </tr> </tbody></table>
          <p class="measurements">MEASUREMENTS *MEASURES ON BODY : LACOSTE HAS A "MARGIN OF COMFORT"</p>
          <p class="chest">REGULAR FIT</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>98</td> <td>104</td> <td>110</td> <td>116</td> <td>122</td> <td>128</td> <td>134</td> <td>140</td> <td>146</td> <td>152</td> <td>158</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>38.5</td> <td>41</td> <td>43.5</td> <td>45.5</td> <td>48</td> <td>50.5</td> <td>53</td> <td>55</td> <td>57.5</td> <td>60</td> <td>62</td> </tr> </tbody></table>
          <p class="chest">REGULAR FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>-</td> <td>102</td> <td>106</td> <td>110</td> <td>114</td> <td>120</td> <td>126</td> <td>132</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>-</td> <td>40</td> <td>41.5</td> <td>43.5</td> <td>45</td> <td>47</td> <td>49.5</td> <td>52</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">LOOSE FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>-</td> <td>104</td> <td>110</td> <td>116</td> <td>122</td> <td>128</td> <td>134</td> <td>140</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>-</td><td>41</td> <td>43.5</td> <td>45.5</td> <td>48</td> <td>50.5</td> <td>53</td> <td>55</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          <p class="chest">UNISEXE FIT (LACOSTE L!VE)</p> <table>
          <tbody><tr> <th class="large-t" scope="row"><h3>Chest size (cm)</h3></th> <td>98</td> <td>102</td> <td>106</td> <td>110</td> <td>114</td> <td>120</td> <td>126</td> <td>132</td> <td>-</td> <td>-</td> <td>-</td> </tr>
            <tr> <th class="large-t" scope="row"><h3>Chest size (inches)</h3></th> <td>38.5</td> <td>40</td> <td>41.5</td> <td>43.5</td> <td>45</td> <td>47</td> <td>49.5</td> <td>52</td> <td>-</td> <td>-</td> <td>-</td> </tr> </tbody></table>
          </div> </div> <div class="step"> <div class="sweatshirts"> <select name="second-cat" class="second-cat sub-title">
          <option data-number="sweatshirts-1" value="">XXS / 1 </option>
          <option data-number="sweatshirts-2" value="">XS / 2 </option>
          <option data-number="sweatshirts-3" value="">S / 3</option>
          <option data-number="sweatshirts-4" value="">M / 4</option>
          <option data-number="sweatshirts-5" value="">L / 5</option>
          <option data-number="sweatshirts-6" value="">XL / 6</option>
          <option data-number="sweatshirts-7" value="">XXL / 7</option>
          <option data-number="sweatshirts-8" value="">3XL / 8</option>
          <option data-number="sweatshirts-9" value="">4XL / 9</option>
          <option data-number="sweatshirts-10" value="">5XL / 10</option>
          <option data-number="sweatshirts-11" value="">6XL / 11</option> </select>
          <!-- option SELECT 1 --> <div class="t-shirts-1 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>98cm / 38.5in</li> <li>-</li> <li>-</li> <li>98cm / 38.5in</li> </ul> </div>
          <!-- option SELECT 2 --> <div class="t-shirts-2 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>104cm / 41in</li> <li>102cm / 40in</li> <li>104cm / 41in</li> <li>102cm / 40in</li> </ul> </div>
          <!-- option SELECT 3 --> <div class="t-shirts-3 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>110cm / 43.5in</li> <li>106cm / 41.5in</li> <li>110cm / 43.5in</li> <li>106cm / 41.5in</li> </ul> </div>
          <!-- option SELECT 4 --> <div class="t-shirts-4 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>116cm / 45.5in</li> <li>110cm / 43.5in</li> <li>116cm / 45.5in</li> <li>110cm / 43.5in</li> </ul> </div>
          <!-- option SELECT 5 --> <div class="t-shirts-5 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>122cm / 48in</li> <li>114cm / 45in</li> <li>122cm / 48in</li> <li>114cm / 45in</li> </ul> </div>
          <!-- option SELECT 6 --> <div class="t-shirts-6 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>128cm / 50.5in</li> <li>120cm / 47in</li> <li>128cm / 50.5in</li> <li>120cm / 47in</li> </ul> </div>
          <!-- option SELECT 7 --> <div class="t-shirts-7 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>134cm / 53in</li> <li>126cm / 49.5in</li> <li>134cm / 53in</li> <li>126cm / 49.5in</li> </ul> </div>
          <!-- option SELECT 8 --> <div class="t-shirts-8 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>140cm / 55in</li> <li>132cm / 52in</li> <li>140cm / 55in</li> <li>132cm / 52in</li> </ul> </div>
          <!-- option SELECT 9 --> <div class="t-shirts-9 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>146cm / 57.5in</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div>
          <!-- option SELECT 10 --> <div class="t-shirts-10 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>152cm / 60in</li> <li>-</li> <li>-</li> <li>-</li> </ul> </div>
          <!-- option SELECT 11 --> <div class="t-shirts-11 hide"> <ul> <li class="prop">Fit</li> <li>Regular</li> <li>Regular (Lacoste Live)</li> <li>Loose (Lacoste Live)</li> <li>Unisex (Lacoste Live)</li> </ul> <ul class="right"> <li class="prop">Chest size</li> <li>158cm / 62in</li>  <li>-</li> <li>-</li> <li>-</li> </ul> </div>
          </div> <!-- FIN POLO MOBIL --> </div> </div>
      </div>

    </div>