

  <!---->
  <button class="static-video-btn btn-play">
    <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
    </svg>
  </button>
  <div class="static-video--time flex flex--justify-start l-relative">
    <!---->0:00<!---->
  </div>
  <div class="flex l-fill-width l-fill-height flex--align-center">
    <div class="static-video--total-timeline flex l-fill-width">
      <div class="static-video--elapsed-timeline l-fill-height l-fill-width" style="transform: scale(NaN, 1)"></div>
    </div>
  </div>
  <div class="static-video--time flex flex--justify-start l-relative">
    <!---->Invalid Date<!---->
  </div>
  <button class="static-video-btn js-toggle-mute">
    <svg role="presentation" aria-hidden="true" class="icon-svg icon-mute">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sound"></use>
    </svg>
  </button>
  <button class="static-video-btn js-toggle-fullscreen">
    <svg role="presentation" aria-hidden="true" class="icon-svg icon-fullscreen">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-expand"></use>
    </svg>
  </button>
  <!---->

