<div class="row clearfix refit-login" style="background-image: url(https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwb83ed067/loyalty/bg_fid_no.png);">
  <section class="login clearfix register-container">
    <div class="page-title">
      <h1>Sign In</h1>
    </div>
    <div class="row clearfix">
      <div class="form-items-all">
        <section class="form form-sign-in">
          {% include 'customer-fields' %}
        </section>
      </div>
    </div>
  </section>
</div>


<script>
  //   $('form#create_customer').submit(function(e) {
  //   if ( $('#Email').val() === $('#email2').val() && $('#CreatePassword').val() === $('#password2').val()) {
  //     $('form#create_customer').submit();
  //   } else {
  //     $('.password-match').fadeIn("slow");
  //     e.preventDefault(); // stops our form from submitting
  //   }
  // });


</script>