<div class="row clearfix refit-login" style="background-image: url(https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwb83ed067/loyalty/bg_fid_no.png);">
  {% form 'customer_login' %}
    <section class="login clearfix">
      <div class="row clearfix">
        <h1 class="page-title">Sign in</h1>
        <div class="column-half">
          <section class="form">
            <h3 class="title-15 nav-ico-before">I already have an account</h3>
            <div class="refit-clickable">
          		{%- if form.errors -%}
                	<div class="form-message form-message--error">
                    	{{ form.errors | default_errors }}
                    </div>
                 {%- endif -%}
              <div class="form-item form-item-full">
                <label for="email">Email address:</label>
                <input class="{% if form.errors contains 'email' %} input--error{% endif %}" type="email" name="customer[email]" id="CustomerEmail" value="" data-error-required="Email is required" data-error-email="Invalid Email" required="" aria-required="true">
              </div>
              <div class="form-item form-item-full">
                <label for="password">Password:</label>
                {% if form.password_needed %}
                <input type="password" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" value="" placeholder="Password">
                {% endif %}
              </div>
              <div class="form-item form-item-full">
              </div>
              <div class="form-item form-item-full form-item-no-spacing forgotpass">
                <a href="/pages/recover-password" class="link-lower f-pass">Forgot Your Password?</a>
              </div>
              
              <button class="btn btn-secondary btn-full only-mobile" name="dwfrm_login_login">
                sign in
              </button>
            </div> <!-- end clickable  -->
          </section>
        </div>
        <div class="column-half">
          <section class="form">
            <h3 class="title-15 nav-ico-before">I'm a new customer</h3>
            <div class="refit-clickable">
              <div class="form-item form-item-full">
                <p>Creating a Lacoste account is simple and easy. A Lacoste account will allow you to track the delivery of your purchases, manage your personal details, benefit from exclusive offers and more. Follow the next quick steps to set up your account today.</p>
              </div>
              <div class="only-mobile">
                <a href="/account/register" class="btn btn-secondary btn-full" rel="nofollow">create my account</a>
              </div>
            </div>
          </section>
        </div>
        <div class="refit-login-buttons no-mobile clearfix">
          <div class="column-half">
            <button class="btn btn-secondary btn-full" name="dwfrm_login_login">sign in</button>
          </div>
          <div class="column-half">
            <a href="/account/register" class="btn btn-secondary btn-full" rel="nofollow">create my account</a>
          </div>
        </div>
        <div style="clear:both"></div>
        <div class="login-oauth">
          <h3 class="l-padding--small">Sign up with social account</h3>
          <div class='oxi-social-login'></div>
<!--           <div class="error-message-r5"></div>
          <div id="load-social-connect"><div id="gum-login-block"><div id="gum-facebook-btn" class="gum-btn"></div><div id="gum-google-btn" class="gum-btn"></div></div></div> -->
          <input type="hidden" value="true" name="isLoginPage" class="isLoginPage">
        </div>
      </div>
  </section>
  <input type="hidden" name="dwfrm_login_securekey" value="1822416501">
  {% endform %}
</div>
<div class="reset-pass" style="display: none;">
  {% include  'password-reset' %}
</div>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    var resPas = document.querySelector('.password-success')
    if(resPas) {
      alert('Please check your email address to reset your password')
    }
    (function($){
      $('.f-pass').click(function(e){
        e.preventDefault();
        var $this = $(this)
        $this.closest('.refit-login').hide().siblings('.reset-pass').fadeIn();
      })
    })(jQuery);
  })
</script>