<div class="row clearfix refit-login" style="background-image: url(https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwb83ed067/loyalty/bg_fid_no.png);">
  {% form 'recover_customer_password' %}

  {{ form.errors | default_errors }}

  <label for="customer_email">Email Address</label>
  <input type="email" name="email" />

  <input type="submit" value="Submit" />

  {% endform %}
</div>
