{% include 'l-footer' %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button label",
      "default": "Signup"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "richtext",
      "id": "tc_label",
      "label": "TC's label",
      "default": "<p>By clicking on 'Sign Up', you agree to the terms of the Privacy Policy.</p>"
    }
  ],
  "blocks": [
    {
      "name": "Payment Icon",
      "type": "icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}