{% include 'nat-geo-promotion-video' %}

{% schema %}
{
    "name": "Promotion 4",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Dragonfly freedom"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "IN FLIGHT"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>With its transparent wings and iridescent glow, the dragonfly moves about with total freedom—a pillar in the Lacoste mission since the first polo was created in 1933. With inherent grace, the dragonfly has a majestic effect that, when seen up close, reveals a detailed motif that has been reproduced on this reversible puffer jacket.</p>"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Discover"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "header",
            "content": "Desktop"
        },
        {
            "type": "text",
            "id": "desktop_video",
            "label": "Video"
        },
        {
            "type": "image_picker",
            "id": "desktop_poster",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "Mobile"
        },
        {
            "type": "text",
            "id": "mobile_video",
            "label": "Video"
        },
        {
            "type": "image_picker",
            "id": "mobile_poster",
            "label": "Image"
        }
    ]
}
{% endschema %}