{% include 'promotion-product-list' %}

{% schema %}
  {
    "name": "Promotion Product List 2",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "The crocodile and the zebra"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Leave a trace in black and white</p>"
        }
    ],
    "blocks": [
      {
        "type": "products",
        "name": "Product" ,
        "limit": 6,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Select a product"
          }
        ]
      }
    ]
  }
{% endschema %}
