{% include 'nat-geo-promotion-image' %}

{% schema %}
{
    "name": "Promotion 1",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Jaguar elegance"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "NATURAL ALLURE"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>With its alluring contrast of dark spots on bright beige, the jaguar's iconic coat sets it apart from all other felines. Seen on a polo or eye-catching accessories, this delicate-yet-powerful print ensures your style gets noticed. Distinguish yourself naturally in the urban jungle with Lacoste's signature silhouettes.</p>"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Discover"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
        }
    ]
}
{% endschema %}