@import "../../misc/vars";
@import "../../misc/mixins";

@import "../../framework/utils/variables";
@import "../../framework/utils/mixins";
@import "../../framework/base/helpers";

@import "vars";

@media screen and (max-width: 1279px) {
    .content-container .page-content-wrapper {
        overflow: hidden;
    }
}

input[name="guest-emailconfirmation"] {
    margin-bottom: 20px;
}

.home-shipping-address-block .checkout-block {
    .checkout-input-wrapper select {
        color: $black;
        border: 1px solid #999999;
        border-radius: 5px;
        font: 1.5rem/1.8rem $f-cairolight;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }

    .checkout-input.phonePrefix {
        width: 110px;
        margin-top: 10px;
        display: inline-block;
        height: 50px;

        & + .checkout-address-form-line {
            width: 70%;
            margin-top: 10px;
            vertical-align: top;
            display: inline-block;
        }
    }
}

.checkout-wrapper {
    overflow: auto;
    background-color: $nav-grey;
    font-family: $co-font;
    text-transform: none;
    line-height: 1;

    .checkout-inner {
        position: relative;
        width: 100%;
        max-width: $desktop-column-width;
        margin: 50px auto;
        font-size: 0;
        overflow: hidden;
    }

    .left-column {
        display: inline-block;
        vertical-align: top;
        width: 55%;
        margin-right: 5%;
    }

    .right-column {
        display: inline-block;
        vertical-align: top;
        width: 40%;

        &.checkoutparallax-active {
            position: absolute;
            top: 0;
            right: 0;
            will-change: scroll;
            transform: translateZ(0);
        }
    }

    .checkout-block {
        margin: 0 auto 10px;
        padding: 30px 40px;
        font-size: $co-font-size-l;
        line-height: $co-line-height-l;
        background: white;

        &.checkout-block-full {
            width: 100%;
        }

        &.small-padding {
            padding: 10px 40px;
        }
    }

    .checkout-center-text {
        text-align: center;
    }

    .checkout-block-title {
        margin: 0 0 20px;
        font-family: $co-font;
        font-size: $co-font-size-xl;
        text-transform: none;
        color: $black;

        .lp-logo-black {
            width: 45px;
            margin-right: 10px;
        }

        span {
            font-size: $co-font-size;
        }
    }

    .checkout-block-text-bold {
        font-family: $co-font-bold;
        font-size: $co-font-size;
        line-height: $co-line-height;
    }

    .checkout-block-text {
        font-family: $co-font;
        font-size: $co-font-size-l;
        line-height: $co-line-height-l;
    }

    .checkout-block-text-bigger {
        font-family: $co-font;
        font-size: $co-font-size-l;
    }

    .checkout-block-text-smaller {
        font-family: $co-font;
        font-size: $co-font-size-s;
    }

    .checkout-block-action-wrapper {
        margin-top: 20px;
        text-align: right;
    }

    .checkout-block-action {
        display: inline-block;
        vertical-align: top;
        font-size: $co-font-size;
        text-transform: uppercase;
        text-decoration: underline;
        color: $black;
        cursor: pointer;
    }

    .checkout-block-error {
        font-family: $co-font;
        font-size: $co-font-size;
        line-height: $co-line-height;
        color: $error-color;
    }

    .checkout-block-label {
        display: table;
        width: 100%;
        margin-bottom: 20px;

        &.checkout-error {
            .checkout-block-label-text {
                color: $error-color;
            }
        }
    }

    .checkout-block-label-text {
        display: table-cell;
        vertical-align: top;
        font-family: $co-font;
        font-size: $co-font-size;
        line-height: $co-line-height;
    }

    .checkout-address-form-line {
        margin-top: 20px;
    }

    .checkout-form-singleline {
        display: flex;
        justify-content: space-between;

        .checkout-input-wrapper {
            width: 100%;
        }

        .btn {
            padding: 10px 0;
            flex: 80px 0 0;
            margin-left: 10px;
        }
    }

    .checkout-address-form-input-wrapper {
        display: inline-block;
        vertical-align: top;
        margin-left: 40px;
        color: $black;

        &:nth-child(2) {
            margin-left: 30px;
        }
    }

    .checkout-address-form-input-error {
        display: inline-block;
        vertical-align: top;
        color: $error-color;
        margin-left: 40px;
    }

    .btn {
        text-transform: uppercase;
    }

    /*
     * Some reset style
     * Put it in a common file later
     */

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }

    select {
        padding: 5px;
        border-radius: 3px;
    }

    textarea {
        border: none;
        overflow: auto;
        outline: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .checkout-btn-wrapper-left {
        margin-top: 20px;
        text-align: left;
    }

    .checkout-btn-wrapper-right {
        margin-top: 20px;
        text-align: right;
    }

    .checkout-btn-wrapper-center {
        margin-top: 20px;
        text-align: center;
    }

    .clucth	.clutch-balance {
        font-family: $f-light;
    }

    .clucth .add-card-number input[type="text"] {
        width: 100%;
    }

    .clucth #checkClucthBalance {
        margin-top: 15px;
    }

    .clucth .clucth-result {
        label {
            display: inline-block;
            width: auto;
        }
    }

    .clucth #giftAmount {
        width: 100%;
    }

    .clucth #validateBalance {
        margin-top: 20px;
    }

    .clucth #usingGiftCertificate {
        margin-top: -30px;
    }

    .clucth .clucth-result + .clucth-message #clutch-message {
        margin-top: 0;
    }

    .payment-method-details .clucth {
        padding-bottom: 38px;
    }

    .payment-method-details .clucth #checkClucthBalance {
        margin-top: 15px;
    }

    .payment-method-details .clucth #clutch-message {
        color: #f00;
    }

    .payment-method-details .clucth .clutch-balance {
      display: inline-block;
    }

    .payment-method-details .clucth .btn {
      display: inline-block;
    }

    .payment-method-details .clucth .clucth-result + .clucth-message #clutch-message {
        color: #454545;
        position: absolute;
    }

    #js-payment-method-giftCert-form button {
        float: none;
    }

    .clucth-result {
        display: none;
    }

    .clucth-result.row {
        clear: both;
        padding-top: 20px;
    }

    @import "checkoutinput";
    @import "stepper";
    @import "price-summary-block";
    @import "summary-products";
    @import "summary-shipment";
    @import "newsletter-block";
    @import "gift-block";
    @import "checkout-list";
}

// To match .page-content rules
@media screen and (min-width: 1280px) {
    .checkout-wrapper {
        min-height: calc(100vh - 88px);
    }
}

@media screen and (max-width: 1023px) {
    .checkout-wrapper {
        .left-column,
        .right-column,
        .right-column.checkoutparallax-active {
            position: static;
            display: block;
            width: 100%;
        }

        .checkout-block {
            width: calc(100% - 140px);
            padding: 30px;
        }
    }
}

@media screen and (max-width: 767px) {
    .checkout-wrapper {
        .checkout-inner {
            margin: 30px auto;
        }

        .checkout-block {
            width: calc(100% - 40px);
            margin-bottom: 20px;
            padding: 20px 15px;
        }

        .checkout-address-form-input-wrapper {
            margin-left: 30px;

            &:nth-child(2) {
                margin-left: 20px;
            }
        }
    }
}
