




@media screen and (max-width: 1400px) {
  .home-slider{
    .text-container {
      right: 6%;
      width: 300px;
    }
    h2 {
      font-size: 25px;
    }	
    p {
      font-size: 18px;
    }						
  }
}
@media screen and (max-width: 1000px) {
}
@media screen and (min-width: 940px) {
  .header-section{
    .nav-section{
      .navigation{
        >li{
          &:hover{
            >a:after {
              border-bottom: 3px solid #F47920;
              position: absolute;
              content: "";
              display: block;
              width: 80%;
              bottom: 10px;
              left: 10%;
            }
          }
        }
      }
    }
  }
  .footer-section .border-contain {
    border: 0;
  }  
}
@media screen and (min-width: 768px) {
  .center-slider{
    height: calc(101vh - 180px);
  }  
}
@media screen and (min-width: 600px){
  .brands-filters .input-box {
    float: right;
  }
}
#black-cover{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 199;
  left: 0;
  cursor: pointer;
  display: none;
  bottom: 0;  
  &.active{
    display: block;    	
  }
}
.for-mobile940,.for-mobile480,.for-mobile768, .for-tabonw{
  display: none;
}

@media screen and (max-width: 1080px) {
  .header-section{
    .contain{
      flex-wrap: wrap;
    }
    .nav-section{
      width: 100%;
    }
  }
}

@media screen and (max-width: 940px) {
  .account-page-new{
    .sidebar.sidebar-main{
      .block-collapsible-nav-title {
        border-top: 1px solid #ccc;
        cursor: pointer;
        margin-bottom: 0;
        position: relative;
        border-bottom: 1px solid #ccc;
        padding: 8.5px 34px 8.5px 15px;
        display: block;
        text-decoration: none;
        width: 100%;
        height: auto;
      }    
    }   
    .block-collapsible-nav .content{
      display: none; 
    }
    .block-content {
      flex-wrap: wrap;

      > div{
        width: 100%; 

        &:first-child{
          margin-bottom: 30px; 
        }
      }
    }
  }
  .footer-section {
    ul {
      &.payment-icons {
        justify-content: center;
      }
    }  
  }
  .for-mobile940{
    display: initial;
  }
  .zoomContainer {
    display: none;
  }    
  .menu-btn{
    position: absolute;
    color: #e5640b;
    font-size: 28px;
    cursor: pointer;
    top: 30px;

    &:hover{
      color: black;
    }
  }
  .header-section{
    .contain{
      position: relative;
    }
    h1{
      width: 100%;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 25px;

      /* 			// img{
      // 	width: 100%;
      // } */
    }
    .nav-section{
      .nav-container{
        z-index: 200;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 85%;
        background-color: #f6f8fa;
        left: -85%;
        overflow-x: auto;

      }
      ul{
        &.navigation{
          margin: 0;
          width: auto;
          padding-left: 0;
          flex-wrap: wrap;
          /* 					// display: none; */
          li{
            width: 100%;
            background-color: #f6f8fa;
            position: relative;
            /* 						// &:first-child{
            // 	padding: 20px 20px;
            // } */
            &:hover{
              background-color: orange;
              border-bottom: none;

              .sub-contents{
                display: none;
              }
            }
            .arrow-drop{
              display: block;
              position: absolute;
              top: 0;
              right: 10px;
              transform: rotate(180deg);
              cursor: pointer;

              &.on-drop{
                transform: rotate(0deg);
              }
            }
          }
          >li >a {
            font-size: 13px;
            padding: 16px 16px;
          }
          .sub-contents{
            position: initial;
            width: 100%;
            padding: 0;

            h3, h4{
              padding-left: 35px;
              padding-top: 20px;
              margin-bottom: 0;
              padding-bottom: 20px;
              font-size: 12px;
              cursor: pointer;
              font-weight: 600;
            }                      
          }
          .styles-container{
            width: 100%;
            padding: 0;

            &.featured{
              h3{
                padding-left: 35px; 
              }
              .link-lists li{
                padding-left: 0px;
                width: 100%;

                a{

                }
              }
            }                      

          }
          .size-container{
            width: 100%; 
          }
          .featured-image{
            display: none;
          }
          .link-lists{

            li{
              padding: 0;
              width: 100%;
            }
            &.style-lists a{
              display: block;
              width: 100%;
              padding: 16px 0 16px 50px;
              font-size: 12px;
            }
            &.sizes-list{
              padding: 10px 20px 5px 20px;
              background-color: #f6f8fa;
            }                      
          }
          .age-container{
            .age-head{
              display:none; 
            }
          }

          &.overflowed{
            max-height: 460px;
            overflow: hidden;
            overflow-y: auto;                   	 
          }

        }
        &.with-icon{
          position: absolute;
          top: 5px;
          right: 0;					
          /* 					// span{
          // 	display: none;
          // }
          // li{
          // 	padding: 0;
          // } */
        }

      }

    }
  }
  .media-header, .offers-section{
    display: none;
  }
  .allforms-section,.info-section{
    padding: 0 2%;
  }
  .allforms-section{
    h1{
      font-size: 23px;
      margin-bottom: 17px;
    }		
    .acc-flexer{
      flex-wrap: wrap;

      .login-sec, .create-link{
        width: 100%;
        margin-bottom: 34px;

        input[type="submit"]{
          width: 100%;
        }
        a.blue-link{
          display: block;
          margin: 10px 0;
          text-align: center;
        }			
      }
    }
    .fieldset.login{
      input[type="text"], input[type="password"]{
        width: 100%;
      }
    }
    .required-note{
      text-align: center;
    }
    .link-btn{
      width: 100%;
      text-align: center;
    }
    .row-div{
      width: 100%;

    }
    &.account-new-section{			
      input[type="submit"]{
        width: 100%;
      }			
    }
  }

  .footer-section{
    .connect-section{
      flex-wrap: wrap;
      text-align: center;
      padding-bottom: 0;
      padding-top: 40px;

      >div{
        width: 100%;
      }
    }
    .border-contain{
      border-bottom: 0px;
    }
    .connectpay-col{
      text-align: center;
      /* 			border: 1px solid black; */
      border-top: 0px;
      border-bottom: 0px;
    }
    .lower-wrap{
      padding-top: 0;
      border: 0;

      .container{
        border: 0;
        border-top: 0;
        padding-top: 20px;
        padding-bottom: 30px;
      }
      ul{
        flex-wrap:wrap;
        line-height: 20px;
        a{
          padding: 0 10px;
        }
        li:first-child a{
          padding-left: 0;
        }
        li:last-child a{
          padding-right: 0;
        }
      } 
    }
    .rights{
      /* 			display: none; */
    }
    .socials{
      margin-bottom: 20px;

      h4{
        display: none; 
      }
    }
    .sale-brand{
      display: none;
    }		
  }
  .info-section{
    .wrapper{
      flex-direction: column-reverse;
      flex-wrap: wrap;

      >div{
        width: 100%;
      }
      &.locator{
        flex-direction: initial;
        position: relative;
        padding-top: 11px;              
      }
    }
    .content-cont{
      width: 80%;
    }
    .info-sidebar{
      padding-right: 0;
      padding-top: 243px;          
    }
    &.locator{
      .info-sidebar .today_schedule .locator_arrow{
        top: 25px;
      }
      .info-main .filter-section {
        position: absolute;
        top: 3%;
        width: 100%;
      }          
    }

  }
  .collections-container{
    .container{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;

      >div{
        width: 100%;
      }			
    }
    .sidebar{
      padding-right: 0;
    }
    .sorting-sec{
      display: block;

    }
    .select-contain{
      width: 100%;

      select{
        width: 100%;
      }
    }
  }
  .main-container{
    .prod-imgdetail{
      flex-wrap: wrap;

      >div{
        width: 100%;
      }
    }
    .prod-imgslider{
      margin-bottom: 30px;
    }

    .viewed-details{
      flex-wrap: wrap;
      flex-direction: column-reverse;

      >div{
        width: 100%;
      }
    }
  }
  .acclogin-new{
    .newform-block{
      width: 100%;
    }
  }
  .home-slider{
    .text-container {
      right: 2%;
      top: 28%;
      width: 300px;
    }
    h2 {
      font-size: 20px;
    }	
    p {
      font-size: 16px;
    }
    .center-slider a {
      padding: 17px;
    }							
  }		
}










@media screen and (max-width: 768px) {
  .for-mobile768, .for-tabonw{
    display: block;
  }
  .for-desktop768, .for-mobile480{
    display: none;
  }
  .product-slider{
    border-bottom: 1px solid black; 
  }
  .info-section.locator .info-sidebar .side-scroller {
    height: 400px !important;
  }
  .header-section{
    /* 		// h1{
    //     width: 190px;
    //     padding-left: 35px;

    //   		img{
    //   			width: 100%;
    //   		}
    // } */
    .nav-section{
      ul{
        /* 				// &.navigation{
        // 	flex-wrap: wrap;
        // 	position: fixed;
        // 	// display: none;
        // 	li{
        // 		width: 100%;
        // 		background-color: white;
        // 		&:first-child{
        // 			padding: 20 20px;
        // 		}
        // 		&:hover{
        // 			background-color: orange;

        // 			.sub-contents{
        // 				display: none;
        // 			}
        // 		}
        // 	}
        // } */
        &.with-icon{
          position: absolute;
          top: 17px;
          right: 0;					
          span{
            display: none;
          }
          li{
            padding: 0 6px;
          }
        }

      }

    }
  }	
  .allforms-section,.info-section{
    padding: 0 20px;
  }	
  .info-sidebar{
    &.locator{
      padding-right: 0;
    }
  }
  .info-section.locator{

    .info-sidebar, .info-main{
      width: 100% !important;
    }

    .info-sidebar{
      padding-right: 0px;
      .today_schedule .locator_arrow{
        top: 0px;
      }
    }
  }


  .product-container{
    padding: 0 0 30px;
    /* 		border-bottom: 1px solid black; */

    div {
      text-align: center;
      font-weight: 600;
      font-size: 14px;    
    }
    h3{
      margin-bottom: 5px;
      font-weight: 500;
    }		   	
  }
  .products-sections{

    .slider-wrapper{
      padding: 0 30px;

      .product-shell {
        width: 33.333333%;
      }          
    }	
    h1 {
      font-size: 24px;
      font-weight: 500;
    }	 
  }
  .products-promo-sections{
    h1{
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 0px;			
    }
    .promo-seg{
      flex-wrap: wrap;
      padding-top: 0px;
      padding: 0	15px;
    }
    .promo-sec{
      width: 100%;
      display: block;
      padding-right: 0;
    }
    .promo-details{
      p{
        text-align: center;
        font-style: italic;
        font-weight: 600;
        font-size: 16px; 
        padding: 0px 19%;    			
      }
    }
    .slider-wrapper{
      padding: 0 30px;
    }
    .product-shell{
      width: 33.3333%; 
    }        
  }

  .instafeed{
    h1{
      font-size: 24px;
    }
  }	
  #search-bar{
    padding: 17px 30px;
    right: -142px;
    top: 33px;
  }
  #spsecondary{
    width: 100% 
  }
  #primary{
    width: 100%;
  }	

  .also-viewed{
    &.recently-viewed{
      .flex-container{
        flex-wrap: wrap;

        &.for-upsells{
          display: none; 
        }

      }
      .shoe-wrap{
        width: 33.3333%;
      }
    }
    .flex-container{
      &.for-upsells{
        display: none; 
      }
    }     
  }
  .product-slider-related{
    .shoe-wrap{
      width: 48%;
    }
  }
  .account-page-new{
    .columns {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    } 
    .column.main {
      width: 90%;
      margin: 0 auto;
    }    
    .sidebar.sidebar-main {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 30px;
    }    
  }
  /* responsive table*/
  .account-table-responsive{
    max-width:768px;
    overflow-x:hidden;
  }

}




@media screen and (max-width: 540px) {
  .header-section{
    h1{
      width: 190px;
      padding-left: 35px;
      margin-top: 28px;

      img{
        width: 100%;
      }
    }
    /* 		// .nav-section{
    // 	ul{
    // 		&.navigation{
    // 			flex-wrap: wrap;
    // 			position: fixed;
    // 			display: none;
    // 			li{
    // 				width: 100%;
    // 				background-color: white;
    // 				&:first-child{
    // 					padding: 0 20px;
    // 				}
    // 				&:hover{
    // 					background-color: orange;
    // 				}
    // 			}
    // 		}
    // 		&.with-icon{
    // 		    position: absolute;
    // 		    top: 17px;
    // 		    right: 0;					
    // 			span{
    // 				display: none;
    // 			}
    // 			li{
    // 				padding: 0 6px;
    // 			}
    // 		}

    // 	}

    // } */
  }
  .order-table-responsive{
    max-width: 540px;
    width: 100%;
    overflow: scroll;
    height: 450px;
  }	
  .responsive-table .order-table tr td:first-child{
    width: 100%;
    max-width: 100%;
    min-width: 218px;
  }
  .grid__item.medium-up--one-third {
  	flex-wrap:wrap;
  }
  .grid-item-left{
   	width:100%; 
  }
   .grid-item-right{
   	width:100%; 
  }
}




@media screen and (max-width: 480px) {
  .for-desktop480, .for-mobile768{
    display: none;
  }
  .for-mobile480{
    display: block;
  }
  .menu-btn{
    top: 22px;
    font-size: 20px;
  }
  .header-section{
    h1{
      width: 135px;
      padding-left: 25px;
      margin: 15px 0px;
      margin-top: 19px;

      img{
        width: 100%;
      }
    }
    .nav-section{
      ul{
        &.footer-options{
          display: flex;
          flex-wrap: wrap;
          position: relative;
          bottom: -50px;  
          margin-bottom: 0;

          li{
            width: 100%;

            a{
              padding: 14px 13px;
              display: block;
              font-size: 13px;
              /*                           font-weight: bold; */

              &:hover{
                background-color: orange;
                color: white;
              }
            }
          }
        }

        &.with-icon{
          position: absolute;
          top: 4px;
          right: 0;					
          span{
            display: none;
          }
          li{
            padding: 0 3px;
          }
        }

      }

    }
  }	
  .info-section{
    .info-main{
      .border-block.flexer{
        flex-wrap:wrap;
        justify-content: center;
      }
      .img-text{
        width: 33.3333%;
      }

      &.about{
        .about-content{
          flex-wrap: wrap;

          .img-content{
            width: 100%;
          }
          .desc-content{
            width: 100%;
          }
        }
      }
    }						    	
  }
  .collections-container{
    .products-grid{
      li{
        width: 100%;
        padding: 0;
        margin-bottom: 0;
      }
      .prod-name{
        text-align: left;
        padding-left: 10px;
        a{
          font-size: 14px;
          font-weight: 700;			
        }
      }
      .brandnprice{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }
      .swatch-select, .product-description{
        text-align: left;
      }
      .product-item{
        box-shadow: none;
        -webkit-box-shadow: none;
        border-top: 0.5px solid lightgray;
        padding: 20px 15px;
      }
      .img-section{
        border-bottom: none;
        span{
          left: 30px;
        }
      }
      .img-container {
        padding: 25px 70px;
      }          
    }
  }
  .also-viewed{
    .flex-container{
      flex-wrap:wrap;
      /* 			display: none; */

      >div{
        width: 100%;
      }
      &.for-crosssell{
        display: flex; 
      }
    }
    .shoe-wrap img {
      width: 50%;
    }
    &:before{
      top: 54px;
    }
    &.related{
      .shoe-link{
        font-weight: 700;
      }
      &:before{
        top: 13.5%;
      }
    }
    &.recently-viewed{
      &:before{
        top: 52px;
      }
      .shoe-wrap{
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .shoe-wrap:hover{
      border: none;
    }
    .shoe-wrap{
      width:100%; 
    }
  }
  .acclogin-new{
    .newform-block{
      input[type="submit"] {
        padding: 15px 80px;		    
      }			
    }
    .account-connect {
      width: 80%;
    }		
  }
  .products-sections{
    h1 {
      font-size: 24px;
    }	 
    .slider-wrapper{

      .product-shell {
        width: 100%;
      }
    }      
  }
  .products-promo-sections{
    h1{
      font-size: 24px;			
    }
    /* 		.promo-seg{
    flex-wrap: wrap;
    padding-top: 0px;
    padding: 0	15px;
  }
    .promo-sec{
    width: 100%;
    display: block;
    padding-right: 0;
  } */
    .promo-details{
      p{
        /* 			    // text-align: center; */
        /* 			    // font-style: italic; */
        /* 			    // font-weight: 600; */
        font-size: 14px; 
        /* 			    // padding: 0px 19%;    			 */
      }
    }
    .slider-wrapper{
      padding: 0 30px;

      .product-shell {
        width: 100%;
      }
    }
    .product-shell{
      width: 100%; 
    }       
  }

  .instafeed{
    padding: 0 2%;
    margin-top: 60px;
    .img-flex{
      padding: 0 30px;
      a{
        width: 100%;
        margin-bottom: 20px;
      }
    }
    h1{
      font-size: 24px;
      /* 		    font-style: italic; */
      font-weight: 500;
      margin-bottom: 0px;	

    }		
    h2{
      font-size: 14px;
      padding: 20px 19%;
      margin: 0;  
      font-weight: 600;
    }
  }
  .main-container{
    .ds-btns{
      padding: 4px 40px;	
    }
    .submit-row{
      flex-wrap: wrap;

      >div{
        width: 100%;

        &.quantity{
          margin-bottom: 10px;
        }
      }
    }
    .stock-list{
      padding-bottom: 20px;
      align-items: center;
    }		
  }
  #search-bar{
    /* 	    // padding: 17px 30px; */
    right: -109px;

    input{
      width: 306px; 
    }
  }
  #cart-table{
    .section-header{
      display: none;
    }
    .cart-row{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px 0;			
    }
  }
  p.grid-link__meta {
    width: 100%;
  }  
  .footer-section{  
    .lower-wrap{
      /*          	display: none;  */
      padding-bottom: 20px;
      ul{
        display: none; 
      }
      .container{
        border: 0; 
      }               
    }
    .paymethods {
      padding-bottom: 0px;
    }    
    .connect-section{
      padding-bottom: 0px;
    }
    .rights{
      padding-top: 0;
    }
  }

  .account-page-new .columns h1 {
    font-size: 24px;
  }

  .main-container .prod-imgslider img{
    pointer-events: none;
  }
  textarea#CartSpecialInstructions {
    width: 100%; 
  }
  #note-container{
    width: 100%;
  }
  #paymentLinks{
    padding-top: 20px;
    padding-bottom: 40px;      
  }
  .paymentLinks-bottom{
    justify-content: center; 
  }
  /* responsive table */
  .account-table-responsive{
    width: 100%;
    overflow-x: scroll;
    max-width: 480px;
  }
}



@media screen and (max-width: 320px) {	

}