@media only screen and (min-width: 768px) {
    .plp-header-cover {
        position:absolute;
        top: 0;
        left: 0
    }

    .plp-description {
        padding-bottom: 59px
    }

    .plp-categories {
        column-count: 2;
        column-gap: calc(1 * (100vw - 17px) / 25);
        column-gap: calc(1 * (100vw - var(--scrollbar-width)) / 25)
    }

    .plp-header+.plp-body {
        margin-top: calc(-5 * (100vw - 17px) / 25 - 59px);
        margin-top: calc(-5 * (100vw - var(--scrollbar-width)) / 25 - 59px)
    }

    .plp-header+.plp-body.no-overlap {
        margin-top: 0
    }
}

.ellipsis-clamp-2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

@supports (-webkit-line-clamp: 2) {
    .ellipsis-clamp-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }

    .ellipsis-clamp-2 div,.ellipsis-clamp-2 p {
        display: inline
    }
}

.ellipsis-wrapper {
    position: relative
}

.ellipsis-switch {
    bottom: 0;
    right: 0;
    font-size: 86%
}

.ellipsis-switch .icon-svg {
    margin-left: 5px;
    vertical-align: -3px
}

.is-collapsed .ellipsis-switch {
    position: absolute;
    padding-left: 60px;
    background: linear-gradient(to right, rgba(255,255,255,0), white 40px)
}

.is-collapsed .ellipsis-switch .icon-svg {
    transform: scaleY(-1)
}

.dir-rtl .ellipsis-switch {
    right: auto;
    left: 0
}

.dir-rtl .ellipsis-switch .icon-svg {
    margin-left: 0;
    margin-right: 5px
}

.dir-rtl .is-collapsed .ellipsis-switch {
    padding-left: 0;
    padding-right: 60px;
    background: linear-gradient(to left, rgba(255,255,255,0), white 40px)
}
