.ff-normal,.forms .label,.forms .field,.forms .field[type="password"],.forms .notice {
    font-family: "metropolis",Arial,Helvetica,sans-serif;
    font-weight: normal
}

.ff-bold {
    font-family: "metropolis",Arial,Helvetica,sans-serif;
    font-weight: bold
}

.fs--xlarge {
    font-size: 2rem;
    line-height: 3rem
}

.fs--medium,.forms .label,.forms .field,.forms .notice {
    font-size: 1.5rem;
    line-height: 2.5rem
}

.fs--small,.forms .field:focus+.label.label--floating,.forms .field.is-filled+.label.label--floating {
    font-size: 1.3rem;
    line-height: 2rem
}

.fs--xsmall {
    font-size: 1.1rem;
    line-height: 1.6rem
}

@media only screen and (max-width: 1190px) {
    .fs-mt--xlarge {
        font-size:2rem;
        line-height: 3rem
    }

    .fs-mt--medium {
        font-size: 1.5rem;
        line-height: 2.5rem
    }

    .fs-mt--small {
        font-size: 1.3rem;
        line-height: 2.3rem
    }

    .fs-mt--xsmall {
        font-size: 1.1rem;
        line-height: 1.6rem
    }
}

@media only screen and (max-width: 767px) {
    .fs-m--xlarge {
        font-size:2rem;
        line-height: 3rem
    }

    .fs-m--medium {
        font-size: 1.5rem;
        line-height: 2.5rem
    }

    .fs-m--small {
        font-size: 1.3rem;
        line-height: 2.3rem
    }

    .fs-m--xsmall {
        font-size: 1.1rem;
        line-height: 1.6rem
    }
}

.forms {
    text-transform: none
}

.forms .field-wrapper {
    position: relative
}

.forms .field-wrapper.field-wrapper--lefted {
    margin-right: auto
}

.forms .field-wrapper.is-error .label {
    color: #e72734 !important
}

.forms .field-wrapper.is-error .field {
    border-color: #e72734
}

.forms .field-wrapper.is-success .label {
    color: #105a33 !important
}

.forms .field-wrapper.is-success .field {
    border-color: #105a33
}

.forms .field-radio-wrapper,.forms .field-checkbox-wrapper {
    height: 20px
}

.forms .field-select-wrapper::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpath d='M20,25.5c-0.2,0-0.4-0.1-0.5-0.2L7.8,16.1c-0.4-0.3-0.4-0.8-0.1-1.2c0.3-0.4,0.8-0.4,1.2-0.1L20,23.5l11.2-8.8c0.4-0.3,0.9-0.2,1.2,0.1c0.3,0.4,0.2,0.9-0.1,1.2l-11.7,9.2C20.3,25.5,20.1,25.5,20,25.5z'/%3E%3C/svg%3E");
    pointer-events: none
}

.forms .label {
    align-self: center;
    display: inline;
    vertical-align: top;
    color: #545454;
    line-height: 2rem;
    cursor: pointer;
    transition: all 0.25s
}

.forms .label.label--floating {
    position: absolute;
    top: 15px;
    left: 20px;
    background-color: white
}

.forms .field:focus+.label.label--floating,.forms .field.is-filled+.label.label--floating {
    top: -10px;
    right: auto;
    padding: 0 3px;
    border-radius: 5px;
    color: #292929
}

.forms .field:disabled+.label.label.label--floating {
    background-color: #ebebe4
}

.forms .field {
    display: block;
    width: 100%;
    height: 50px;
    padding: 14px 19px;
    border: 1px solid #999;
    border-radius: 5px;
    color: white;
    line-height: 2rem;
    text-transform: none;
    -webkit-appearance: none;
    -moz-appearance: none
}

.forms .field::-webkit-input-placeholder {
    color: white
}

.forms .field:-ms-input-placeholder {
    color: white
}

.forms .field::placeholder {
    color: white
}

.forms .field:focus::-webkit-input-placeholder {
    color: #545454
}

.forms .field:focus:-ms-input-placeholder {
    color: #545454
}

.forms .field:focus::placeholder {
    color: #545454
}

.forms .field:focus,.forms .field.is-filled {
    outline: none;
    color: #545454
}

.forms .field.field--textarea {
    height: 120px
}

.forms .field-radio,.forms .field-checkbox {
    margin-right: 5px;
    vertical-align: middle;
    top: auto
}

.forms .notice {
    margin: 0;
    color: #292929
}

.is-required .label::after,.label.is-required::after {
    content: "*"
}

.l-field-margin--small {
    margin-top: 10px
}

.l-field-margin {
    margin-top: 20px
}

.l-field-spaced {
    margin-left: 30px
}

.radio-custom {
    position: absolute;
    clip: rect(0 0 0 0);
    outline: none
}

.radio-custom:focus+.radio-label::before {
    content: "";
    outline: #292929 1px dotted;
    outline: var(--focus-color) 1px dotted
}

.radio-custom+.radio-label::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #c8c8c8
}

.radio-custom:checked+.radio-label::before {
    content: " ";
    border-color: #292929;
    outline-offset: -1px;
    background-color: #292929;
    background-clip: content-box;
    padding: 0.5rem
}

.radio-custom:disabled+.radio-label {
    color: #999
}

.radio-custom:disabled+.radio-label::before {
    border-color: transparent;
    background-color: #c8c8c8
}

.checkbox-custom {
    position: absolute;
    clip: rect(0 0 0 0);
    outline: none
}

.checkbox-custom:focus+.label-focusable,.checkbox-custom:focus+.checkbox-label::before {
    outline: #292929 1px dotted;
    outline: var(--focus-color) 1px dotted;
    outline-offset: -1px
}

.checkbox-custom+.checkbox-label::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid #c8c8c8;
    border-radius: 0.4rem
}

.checkbox-custom:checked+.checkbox-label::before {
    content: " ";
    border: 1px solid #292929;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpath d='M17.2,27l-8.6-7.2c-0.3-0.2-0.3-0.7-0.1-1c0.2-0.3,0.7-0.3,1-0.1l7.7,6.3l13.1-11.8c0.3-0.3,0.7-0.2,1,0.1 s0.2,0.7-0.1,1L17.2,27z'/%3E%3C/svg%3E")
}

.checkbox-custom:disabled+.checkbox-label {
    color: #999
}

.checkbox-custom:disabled+.checkbox-label::before {
    border-color: transparent;
    background-color: #c8c8c8
}

.dir-rtl .forms .field-wrapper.field-wrapper--lefted {
    margin-right: 0;
    margin-left: auto
}

.dir-rtl .forms .field-radio,.dir-rtl .forms .field-checkbox {
    margin-left: 5px;
    margin-right: 0
}

.dir-rtl .l-field-spaced {
    margin-left: 0;
    margin-right: 30px
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.pagination .pagination-item,.pagination .pagination-item-nude {
    width: 38px;
    height: 38px;
    margin: 3px;
    border: 1px solid transparent;
    background: none;
    color: #292929;
    line-height: 36px;
    text-align: center;
    text-decoration: none
}

.pagination .pagination-item {
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    background-color: white;
    transition: all 0.2s linear
}

.pagination .pagination-item:hover,.pagination .pagination-item.is-active {
    border-color: #292929;
    color: white;
    background-color: #292929
}

.pagination-progress {
    height: 4px;
    background-color: #c8c8c8;
    border-radius: 4px
}

.pagination-progress-inner {
    background-color: #105a33;
    height: 100%;
    border-radius: 4px
}

.sticky.sticky-enabled {
    position: fixed;
    z-index: 115
}

.sticky.sticky-mode-bottom.sticky-enabled {
    opacity: 0;
    transform: translateY(200%);
    transition: all 0s ease-in-out;
    will-change: transform, opacity
}

.sticky.sticky-mode-bottom.sticky-visible {
    opacity: 1;
    transform: translateY(0%)
}

.sticky.sticky-mode-bottom.sticky-animate {
    transition-duration: 0.5s
}

.accordion .accordion-handle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #f4f4f4
}

.accordion .accordion-handle.accordion-handle--large {
    padding-top: 25px;
    padding-bottom: 25px
}

.accordion .accordion-handle.accordion-handle--no-border {
    border: none !important
}

.accordion .accordion-handle .icon-svg {
    font-size: 2rem;
    flex-shrink: 0;
    transform: scaleY(1);
    transition: transform ease 0.6s
}

.accordion.js-accordion .accordion-handle {
    cursor: pointer
}

.accordion.is-active .accordion-handle,.accordion:last-of-type .accordion-handle {
    border-bottom: 1px solid #f4f4f4
}

.accordion .accordion-target {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.6s
}

.accordion.is-active .accordion-handle .icon-svg {
    transform: scaleY(-1)
}

.accordion.is-active .accordion-target {
    max-height: none
}
