/*
 * Main file for page lost-password
 * Author: Arthur Estaun
 */

/* @import "./../common/base"; */

// General layout

.lost-password-page {
  background-image: url('//cdn.shopify.com/s/files/1/0233/9713/8496/t/152/assets/background-login.png?152036');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;

    .checkout-inner {
        max-width: 440px;
    }

    .checkout-block-text {
        margin-bottom: 20px;
    }
}

.lost-password-sent-page {
    .checkout-inner {
        max-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .lost-password-page,
    .lost-password-sent-page {
        .checkout-block {
            width: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    .lost-password-page,
    .lost-password-sent-page {
        .checkout-block {
            width: calc(100% - 40px);
        }

        .btn {
            width: 100%;
        }
    }
}
