@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.page-404 .slider .slider-text {
  width: 74%;
  left: 13%;
  margin: 0;
  top: 60px;
  bottom: auto;
  text-align: center;
  font-size: 1.5rem; }

.page-404 .slider h2 {
  font-size: 2rem;
  margin-top: 0; }

.page-404 .slider p {
  margin-bottom: 10px;
  max-width: 9999px; }

.page-404 .page-title {
  color: #454545;
  margin-top: 25px;
  font-size: 3.5rem; }

.page-404 .title-without-arrow {
  font-size: 2.5rem; }

.categories-404 {
  padding-left: 0; }
  .categories-404 li {
    display: inline;
    font-size: 2rem;
    font-family: "LacosteSansBold";
    color: #797979; }
    .categories-404 li:before {
      content: "/";
      margin: 0 5px; }
  .categories-404 li:first-child:before {
    display: none; }
  .categories-404 a {
    color: #797979;
    text-decoration: none; }
    .categories-404 a:hover {
      text-decoration: underline; }

.search-form-404 {
  width: 310px;
  margin: 30px auto;
  background: #fff;
  position: relative;
  /* firefox 19+ */
  /* ie */ }
  .search-form-404:after {
    content: "";
    display: block;
    float: right;
    margin-top: -27px;
    margin-right: 4%; }
  .search-form-404 input[type="text"] {
    font-family: "LacosteSansLight";
    border: 1px solid #797979;
    outline: 0;
    font-size: 1.5rem;
    padding: 3px 5px;
    width: 100%;
    -webkit-appearance: none;
    margin-right: -1px;
    text-transform: none; }
  .search-form-404 input[type="submit"],
  .search-form-404 button {
    border: 0;
    border-radius: 0;
    outline: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url(//cdn.shopify.com/s/files/1/0554/1937/1706/t/52/assets/sprite-ico.png?v=2576683338878110648);
    background-position: -517px -120px;
    width: 19px;
    height: 19px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    font-size: 0; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      .search-form-404 input[type="submit"],
      .search-form-404 button {
        background-image: url(//cdn.shopify.com/s/files/1/0554/1937/1706/t/52/assets/retina-sprite-ico.png?8579);
        background-position: -392px -59px;
        background-size: 457px 446px; } }
  .search-form-404 input::-webkit-input-placeholder {
    color: #454545; }
  .search-form-404 input::-moz-placeholder {
    color: #454545; }
  .search-form-404 input:-ms-input-placeholder {
    color: #454545; }
  .search-form-404 input:-moz-placeholder {
    color: #454545; }

.redirected {
  font-size: 2rem;
  font-family: "LacosteSansBold"; }
  .redirected span {
    color: #797979; }

@media screen and (max-width: 1279px) {
  .page-404 .slider .slider-text {
    font-size: 1.2rem; }
  .page-404 .slider h2 {
    font-size: 1.5rem; }
  .page-404 .page-title {
    font-size: 2rem;
    margin-top: 17px; }
  .page-404 .title-without-arrow {
    font-size: 1.5rem; }
  .categories-404 {
    font-size: 1.2rem; }
    .categories-404 li {
      font-size: 1.5rem; }
  .search-form-404 {
    width: 310px; }
  .redirected {
    font-size: 1.5rem; } }

@media screen and (max-width: 767px) {
  .page-404 .slider .slider-text {
    width: 100%;
    position: static;
    max-width: 999px; }
  .categories-404 li {
    display: block; }
    .categories-404 li:before {
      display: none; }
  .search-form-404 {
    width: 266px; }
  .slider-text-mobile {
    position: absolute;
    left: 6%;
    top: 19%;
    width: 88%;
    background: url(//cdn.shopify.com/s/files/1/0554/1937/1706/t/52/assets/bg-trans.png?8579);
    background: rgba(255, 255, 255, 0.7);
    padding: 7px 5% 2px;
    text-align: center; } }

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page-404 .slider .slider-text {
    font-size: 1rem; } }
