<div class="page-width">
  <div class="mashup-heading" >
    <img src="{{ 'l-e-raffle-logo.jpg' | asset_url }}" alt="Tennis Mash-up e-Raffle" class="img-cover img-cover--top">
  </div>
  <div class="r-content">
  	<div class="r-content-wrap">
	  	<div class="three-racket">
	  		<img src="{{ '3-tennis.png' | asset_url }}" alt="Tennis Mash-up e-Raffle" class="img-cover img-cover--top">
	  	</div>
	  	<div class="cont1">
	  		<h2>The response has not been submitted</h2>
	  	</div><br>
		<p>Apologies for the inconvenience.</p>
		<p>Please try again. If the error persist, please contact <a href="mailto:custserv@lacoste.com.ph" target="_top">custserv@lacoste.com.ph</a>.</p><br>
		<br>
		<p>Sincerely,</p>
		<p>Lacoste Philippines</p>
	</div>
  </div>
</div>