<div class="checkout-wrapper lost-password-page">
  <div class="checkout-inner">
    <div class="checkout-block">
      <div id="step-2">
        <p class="checkout-block-text">
          An email has been sent to you
<!--           <span class="checkout-block-text-bold" id="set-email">
            
          </span> -->
        </p>
        <p class="checkout-block-text">
          Please check your Inbox and click on the link of the email to proceed with the password reset.
        </p>
      </div>
    </div>
  </div>
</div>
