

<!-- <label for="customer_email">Email Address</label>
<input type="email" name="email" class="field js-field" />

<input class="btn btn-new lostpassword-submit" type="submit" value="Submit" /> -->







<div class="checkout-wrapper lost-password-page">
  <div class="checkout-inner">
    <div class="checkout-block">
      <h3 class="checkout-block-title">
        Forgot your password?
      </h3>
      <p class="step-1 checkout-block-text js-lostpassword-help-you">
        Don't worry we will help you, create a new one.
      </p>
      {% form 'recover_customer_password', id: 'password-rec', class: 'step-1' %}

      {{ form.errors | default_errors }}
      <label class="field-wrapper is-required" for="customer_email">
        <input class="field js-field" type="email" name="email" id="email" value="" required="true" aria-required="true">
        <span class="label label--floating">
          Your email address
        </span>
      </label>
      


      <footer class="flex flex--justify-end l-field-margin">
        <button class="btn btn-new lostpassword-submit" type="submit" type="submit" value="Submit">
          <span>Send</span>
        </button>
      </footer>
      {% endform %}
      <div id="step-2" style="display:none;">
        <p class="checkout-block-text">
          An email has been sent to
          <span class="checkout-block-text-bold" id="set-email">
            
          </span>
        </p>
        <p class="checkout-block-text">
          Please check your Inbox and click on the link of the email to proceed with the password reset.
        </p>
      </div>
    </div>
  </div>
</div>


{% if form.posted_successfully? %}
<script>
  window.location = "/pages/password-success";
</script>
{% endif %}