<div class="row clearfix">
  <section class="faq clearfix">                  
    <div class="column-three-quarter">	







      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="bcf1wiaagNPYQaaadnToASD7t0" -->
        <style>
          .privacy-page .accordion-content-faq {
            padding: 40px;
            margin-top: 0;
          }

          .cgv-page li, .privacy-page p, .privacy-page li {
            text-transform: initial;
            font-size: 14px;
            color: #797979;
            margin-bottom: 10px;
          }

          .privacy-page h2, .privacy-page h1 {
            font-family: 'LacosteSansCondensedBold';
            color: #292929;
          }

          .privacy-page a {
            font-family: 'LacosteSansBold';
          }

          .red-border-cgv{
            border: 3px solid crimson;
          }
        </style>

        <div class="faq-subheader cgv-page">
          <h1 class="page-title">Privacy Policy</h1>
          <p class="sku-info-gray"> </p>
        </div>

        <!-- ######## PART ORDERING ######## -->
        <div class="global-accordion" data-accordion-collapse="true" data-accordion-all-open="">
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-payment" data-accordion-group="faq">
            <h2 class="block-title-faq">1. YOUR PERSONAL DATA</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-payment" data-accordion-group="faq">
            <p>Personal data means any information about you which is personally identifiable, including, without limitation, your name, address, telephone number, email address, financial details, registration name, password and other information from which you can be identified and which you disclose to us at any time.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-contract" data-accordion-group="faq">
            <h2 class="block-title-faq">2. COLLECTION OF YOUR PERSONAL DATA</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
            <br>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-contract" data-accordion-group="faq">
            <p>We collect your Personal Data when:</p>
            <ul>
              <li>• you create an online account ("Account");</li>
              <li>• you place an order via the Website or by telephone;</li>
              <li>• you subscribe to the Lacoste’s newsletter</li>
              <li>• you make a complaint or enquiry or provide other feedback to us; and</li>
              <li>• you disclose your Personal Data to us through the Website or at any other point (including Lacoste stores).</li>
            </ul>
            <p>The information that you provide when setting up your account or making a purchase from the online store may include your name, email address, telephone number, delivery address, billing address and payment information. Please note that we will not be storing your payment information, this will be done via a third party payments company. If you register to hold an account with us, you will also have a unique password which enables you to access your account.<br>The information that you provide when setting up your account or making a purchase from the online store may include your name, email address, telephone number, delivery address, billing address and payment information. Please note that we will not be storing your payment information, this will be done via a third party payments company. If you register to hold an account with us, you will also have a unique password which enables you to access your account.<br>Where permitted by law, we may combine this information we receive from other sources, including from social media websites, with information you give to us and information we collect about you. We may use this information and the combined information for learning more about your preferences as our customer, for enhancing your user experience on our websites and for providing you with information, content and offerings tailored to your needs. In addition, we use cookies as explained in section 9 below.<br>Where collection of some personal data is necessary for us to carry out the purposes listed in section 3 below, we will make it clear that we will not be able to carry out those purposes without provision of the information.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-account" data-accordion-group="faq">
            <h2 class="block-title-faq">3. USE OF YOUR PERSONAL DATA</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-account" data-accordion-group="faq">
            <p>We use your Personal Data to:</p>
            <ul>
              <li>• process and complete orders you place via the Website;</li>
              <li>• process and deal with any complaints or inquiries made by you ;</li>
              <li>• monitor, develop and improve the Website and your experience when using the Website;</li>
              <li>• process the registration of your customer account and maintain your customer account;</li>
              <li>• send you dedicated offers and services; and</li>
              <li>• send you information and marketing materials about new or existing Lacoste products and services; and</li>
              <li>• recognize and reward top customers when applicable.</li>
            </ul>
            <p>If you do not wish to receive marketing information from us, you can click on the relevant Unsubscribe button or email us at <a href="mailto:custserv@lacoste.com.ph">custserv@lacoste.com.ph</a>&nbsp;and let us know.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-use" data-accordion-group="faq">
            <h2 class="block-title-faq">4. NEWSLETTERS</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-use" data-accordion-group="faq">
            <p>You can subscribe to the Lacoste newsletter and so choose to be informed at regular intervals of the commercial offers available on the website, at the Lacoste boutiques and those of our commercial partners.</p>
            <p>You have the opportunity at any time to unsubscribe by clicking on the link provided for this purpose at the end of each newsletter or by sending an email to <a href="mailto:custserv@lacoste.com.ph">custserv@lacoste.com.ph</a>.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-delivery" data-accordion-group="faq">
            <h2 class="block-title-faq">5. HOW TO OPT IN OR OPT OUT FROM DIRECT MARKETING</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-delivery" data-accordion-group="faq">
            <p>We and selected third parties may use the information you give us on our website for direct marketing purposes to provide updates; newsletters; events; or other communications that we think may interest you. Where required by law your prior consent will be obtained before sending direct marketing. in any event, we will offer you the option to unsubscribe on every communication sent.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-delivery" data-accordion-group="faq">
            <h2 class="block-title-faq">6. PASSING ON YOUR PERSONAL DATA TO THIRD PARTIES</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-delivery" data-accordion-group="faq">
            <p>We may disclose your Personal Data to:</p>
            <ul>
              <li>• Any member of our group, which means our subsidiaries; our ultimate holding company; its subsidiaries; and certain of our business partners which help us in providing your order, delivering your goods, taking your payment and analysing your use of the website in order to improve the website's efficiency;</li>
              <li>• Other third parties which may use your personal data to send you information and marketing materials about their products and services. However, we will only pass your personal data on to such third parties if you have ticked an "opt-in" box to indicate that you wish to receive such information.</li>
            </ul>
            <p>We may share, transfer or disclose your personal data to any potential or actual successor to our business.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-prices" data-accordion-group="faq">
            <h2 class="block-title-faq">7. YOUR RIGHTS</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-prices" data-accordion-group="faq">
            <p>It is up to you to decide how we can use and handle your personal data. In order to contact us to make such a request or to let us know that you no longer want your personal details to be held by us where you have previously consented to us using your details in accordance with this privacy policy (or for any other query related to the use of your personal data), please send an email to <a href="mailto:custserv@lacoste.com.ph">custserv@lacoste.com.ph</a><br>you can access the personal information we hold about you via your account to obtain a copy of it and to correct, amend, or delete information that is inaccurate. <br>It is your responsibility to ensure that you submit true, accurate and complete information on your account and keep it up to date. You may also update your personal information by contacting us through the contact details provided below. Please make sure to include your name, username, and order number or email address in your initial correspondence; this helps us protect the details and preferences on your account from unauthorised access.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-returns" data-accordion-group="faq">
            <h2 class="block-title-faq">8. DATA SECURITY</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-returns" data-accordion-group="faq">
            <p>We take data security seriously and have safeguards (including internal procedures and policies) in place to ensure data security is maintained to a high standard. We also use all efforts reasonably necessary to be sure that third parties who work with us to make this website and its contents available to you, and to fulfil your orders and requests, agree to protect personal information that they must access in order to serve our website and its visitors. We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs.<br>We will take all reasonable steps to ensure the secure treatment of your personal data. In particular, we will take appropriate security measures to protect your personal data against loss or misuse and we will use strict procedures and security features in order to prevent unauthorized access. All the data collected by us is stored on a secure server. <br>Where you have a password, which enables you to access our website, you are responsible for keeping this password secure and confidential.<br>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your personal data transmitted to our site; any transmission is at your own risk. Once we have received your personal data, we will treat it in accordance with our security procedures.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-customized" data-accordion-group="faq">
            <h2 class="block-title-faq">9. COOKIES</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-customized" data-accordion-group="faq">
            <p>When you visit the website, we may automatically collect the following information: your ip address, log-in information, browser type and version, browser plug-in types and versions, operating system and platform, information about your visit including the url clickstream to, through and from our websites, products you viewed or searched for, download errors, length of visits to certain pages and page interaction. We collect information automatically through the use of various technologies, including through "cookies", and this is explained further below.<br>cookies help us in various ways. We use cookies to help us (i) to administer our website for internal operations including troubleshooting purposes; (ii) to better compose the website or our product information so that it is more relevant to your interests or preferences; (iii)to understand who has seen which pages and advertisements, to determine how frequently particular pages are visited, to determine the most popular areas of the website and generally in order to monitor usage of the website; (iv) to allow us to keep our website safe and secure; (v) to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you; and (vi) to make suggestions and recommendations to you and other users of our website about goods or services that may interest you or them.<br>Most web browsers automatically accept cookies, though you do not have to. If you wish to disable cookies then you can do so by readjusting your browser settings although please note that by disabling cookies you may not be able to register with or use all features of the website. See below for more information on how to disable cookies for some web browsers.<br>For information about the specific cookies used on this website, please see below:</p>
            <strong>What it does</strong><br> <strong>Cookies necessary for essential website purposes</strong><br>
            <p>These cookies are essential to provide you with services available through this website and to use some of its features, such as access to secure areas. Without these cookies, services you have asked for, like transactional pages and secure login accounts, would not be possible.</p>
            <strong>Functionality Cookies</strong><br>
            <p>Functionality cookies record information about choices you’ve made and allow us to tailor the website to you. These cookies mean that when you continue to use or come back to the services, we can provide you with our services as you have asked for them to be provided. For example, these cookies allow us to:</p>
            <ul>
              <li>• Save your location preference if you have set your location on the homepage;</li>
              <li>• Remember settings you have applied, such as layout, text size, preferences, and colours;</li>
              <li>• Show you when you are logged in; and</li>
              <li>• Store accessibility options.</li>
            </ul>
            <p>&nbsp;</p>
            <strong>Analytics Cookies</strong><br>
            <p>These cookies collect information that is used either in aggregate form to help us understand how the website is being used or how effective our marketing campaigns are, or to help us customize the website for you. This information will also be used for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing them other services relating to website activity and internet usage. Our third party partners use their own cookies and have their own privacy policies. Third party cookies are used to gather statistics, but cannot be used to identify individuals. We allow our partners to serve these third party cookies, but we do not have other access to them.</p>
            <strong>Advertising Cookies</strong><br>
            <p>These cookies are used to make advertising messages more relevant to you. They perform functions like preventing the same advertisement from continuously reappearing, ensuring that advertisements are properly displayed, and in some cases selecting advertisements that are based on your interests. A large proportion of the advertisements you see on the website are generated by third parties. Cookies are often used by these third party partners to allow them to track the number of people who have clicked on or seen a particular advert or page and how many people have seen the advert or page more than once. Parts of this statistical data may be shared with us by third parties, allowing us to improve the targeting and placement of adverts on the website.</p>
            <p>For Internet Explorer 8.0 :</p>
            <ul>
              <li>• Choose Tools and then Internet Options;</li>
              <li>• Click the Privacy tab;</li>
              <li>• Move the slider to choose your preferred settings;</li>
              <li>• For more specialized cookie settings, click on Advanced, check the Override cookie handling button and modify the settings to suit your requirements.</li>
            </ul>
            <p>For Internet Explorer 7.0 :</p>
            <ul>
              <li>• Choose Tools and then Internet Options;</li>
              <li>• Click the Privacy tab;</li>
              <li>• Move the slider to choose your preferred settings;</li>
              <li></li>
              <li>• The default setting is medium and the menu allows you to select the level of filtering on the basis of (a) the source of the cookie and (b) whether the source has a privacy policy.</li>
              <li></li>
              <li>• For more specialized cookie settings, click on Advanced</li>
              <li></li>
            </ul>
            <p>For Firefox 3.0 :</p>
            <ul>
              <li>• Click on Tools, then Options (or Edit / Preferences on Linux);</li>
              <li>• Select Privacy;</li>
              <li>• Select Cookies;</li>
              <li>• Choose your preferred settings (you can configure which sites are allowed to set cookies, how long to keep them for, and view and manage your existing cookies).</li>
            </ul>
            <p>For Netscape Navigator 6 and Netscape Navigator 7 :</p>
            <ul>
              <li>• Choose Preferences from the Edit menu;</li>
              <li>• Select Privacy &amp; Security, then select Cookies;</li>
              <li>• Choose your preferred settings.</li>
            </ul>
            <p>Please note that we do not control the use of cookies by third parties.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-personaldata" data-accordion-group="faq">
            <h2 class="block-title-faq">10. LOCATION AND TRANSFER OF YOUR PERSONAL DATA</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-personaldata" data-accordion-group="faq">
            <p>We hold your personal data in our amazon web services (aws) account which are very secure. There might come a time when we may need to transfer and store your personal data at another destination. We will take all steps reasonably necessary to ensure that your personal data is treated securely and in accordance with this privacy policy.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-liability" data-accordion-group="faq">
            <h2 class="block-title-faq">11. LINKS TO OTHER WEBSITES</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-liability" data-accordion-group="faq">
            <p>We may offer links to third party websites. However, we are not responsible for the content or information collection policies of third party websites. If you visit a third party website, we advise you to review their privacy and other policies. We do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to the third party websites.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-feedback" data-accordion-group="faq">
            <h2 class="block-title-faq">12. DATA RETENTION</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-feedback" data-accordion-group="faq">
            <p>We will not retain your information for longer than is necessary for our business purposes or for legal requirements. However, please be advised that we may retain some information after you have closed your account with us, for instance if this is necessary to meet our legal obligations, such as retaining the information for tax and accounting purposes.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-feedback" data-accordion-group="faq">
            <h2 class="block-title-faq">13. CHANGES TO OUR PRIVACY POLICY</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-feedback" data-accordion-group="faq">
            <p>We reserve the right to make changes to this website and the terms of this privacy policy by placing a notification of such changes on the website’s homepage. You are bound by such revisions once you have consented to such changes or, where permitted by law, such notification has been placed on the website’s homepage and you continue to use the website. If you do not accept any such changes, you should stop using the website and notify us by writing to us at the email address below. You should periodically visit this page to review the current terms of this privacy policy.</p>
            <br>
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-policy" data-accordion-group="faq">
            <h2 class="block-title-faq">14. CONTACTING US</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-policy" data-accordion-group="faq">
            <p>This website is maintained by Stores Specialists, Inc. If you have any questions about our privacy policy or how we use your personal data please contact our customer service by mailing&nbsp;<a id="yui_3_16_0_ym19_1_1505813917962_4037" href="mailto:privacy@rgoc.com.ph" target="_blank" rel="nofollow">privacy@rgoc.com.ph</a></p>
            <br>
          </div>
        </div>
      </div>




    </div>
    <div class="column-quarter mobile-tablet-fixed" data-fixed-position="fixed" data-fixed-limit=".column-three-quarter" data-fixed-only-desktop="true">









      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="bc8GgiaagNcDaaaadn1cESD7tY" -->
        <div class="sticky-footer">	
          <div class="accordion accordion-faq help-use-accordion accordion-mobile-tablet-only" data-accordion-href="help-use">												

            <p class="title-sidebar-faq picto-customer-service">
              Need help ?
              <span class="btn-plus btn-plus-faq">  </span>
            </p>
            <p class="title-sidebar-faq picto-title-faq no-desktop no-mobile">
              FAQ
              <span class="btn-plus btn-plus-faq">  </span>
            </p>
            <span class="btn-plus btn-plus-faq-help">
              <span class="open"></span> 
              <span class="close"></span>
            </span>
          </div>
          <div class="accordion-content" data-accordion-id="help-use">
            <div class="column-half-tablet">							
              <div class="box-infos infos-faq">										
                <p class="sku-info-gray">
                  OUR CUSTOMER SERVICE IS HERE TO ASSIST YOU MONDAY THROUGH FRIDAY FROM 0800 TO 1700. KINDLY SEND US AN EMAIL AT CUSTSERV@LACOSTE.COM.PH.
                </p>								
<!--                 <p class="sku-infos-title title-info-faq">
                  Contact your customer service				<br>			
                  <span class="title-sidebar">0196 231 2803*</span>
                </p>
                <p class="faq-minimized">*Local costs apply depending on your phone provider. -->
                </p>
              </div>
              <div class="box-infos btn-faq">
                <a class="btn btn-secondary btn-full" href="mailto:custserv@lacoste.com.ph">Contact</a>
              </div>
            </div>
            <div class="column-half-tablet">
              <p class="title-sidebar-faq picto-title-faq no-tablet">
                FAQ
                <span class="btn-plus btn-plus-faq">  </span>
              </p>	
              <div class="box-infos infos-faq">										
                <p class="sku-info-gray">
                  You might find the answer you're looking for in our Frequently Asked Questions.
                </p>	
              </div>							
              <div class="box-infos btn-faq">
                <a class="btn btn-secondary btn-full" href="/pages/frequently-asked-questions">View FAQ</a>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
  </section>
</div>