<div class="fullhtml-content frenchness-landing">
  <div class="whatsnew">
    <div class="whatsnew-title one-fixed-column bloc-text tac pad gpad">
      <h3 class="medium underline">Who is Lacoste ?</h3>
    </div>
    <div class="whatsnew-items one-fixed-column pad">
      <ul>
        <li>
          <a href="https://lacoste-ph.myshopify.com/pages/rene-lacoste">
            <img src="{{ 'thumb-about-rene.jpg' | asset_url }}" alt="" />
            <div class="vertical-inner">
              <div><div>First, it&rsquo;s Ren&eacute;</div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="/pages/lacoste-savoir-faire">
            <img src="{{ 'thumb-savoir-faire.jpg' | asset_url  }}" alt="" />
            <div class="vertical-inner">
<!--               <div><div>Then, a Savoir-Faire</div></div> -->
              <div><div>Savoir faire</div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="/pages/lacoste-style">
            <img src="{{ 'thumb-about-lacoste.jpg' | asset_url }}" alt="" />
            <div class="vertical-inner">
              <div><div>Well, a Style</div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="/pages/timeless-elegance">
            <img src="{{ 'thumb-timeless-elegance.jpg' | asset_url }}" alt="" />
            <div class="vertical-inner">
              <div><div>Timeless elegance</div></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>