<div class="clearfix row fullhtml-content">
   <section class="clearfix">
      <style>
         .corporate-nav.notShow {
         opacity: 0;
         }
      </style>
      <div class="corporate-nav small">
         <button class="btn-arrow left"></button>
         <div class="slider-container flickity-container-horizontal">
            <div class="flickity-wrapper">
               <div class="flick-slide swiper-slide">
                  <a href="/pages/about-the-lacoste-group" class="link-group">The Lacoste Group</a>
               </div>
               <div class="flick-slide swiper-slide">
                  <a href="/pages/people" class="link-people">People</a>
               </div>
               <div class="flick-slide swiper-slide">
                  <a href="/pages/lacostes-products-origin-and-quality" class="link-products">Products</a>
               </div>
               <div class="flick-slide swiper-slide">
                  <a href="/pages/commitment" class="link-engagements">Commitment</a>
               </div>
               <div class="flick-slide swiper-slide slider-active">
                  <a href="/pages/protection" class="link-protection active">Brand Protection</a>
               </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
         </div>
         <button class="btn-arrow right"></button>
         <ul class="bullets">
            <li class="bullets-bullet"></li>
            <li class="bullets-bullet"></li>
            <li class="bullets-bullet"></li>
            <li class="bullets-bullet"></li>
            <li class="bullets-bullet active"></li>
         </ul>
         <button type="button" name="button" class="btn-expand"><span class="burger"></span></button>
      </div>
      <script src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/v1549415692108/events/corporate/js/corporate-nav.js"></script>
      <div class="content-asset">
         <!-- dwMarker="content" dwContentID="6812778893c189dfea93b6f553" -->
         <link rel="stylesheet" type="text/css" href="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/v1549415692108/events/corporate/css/swiper.min.css">
         <link rel="stylesheet" type="text/css" href="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/v1549415692108/events/corporate/css/corporate.css">
         <link rel="stylesheet" type="text/css" href="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/v1549415692108/events/corporate/css/swiper.min.css">
         <link rel="stylesheet" type="text/css" href="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/v1549415692108/events/corporate/css/corporate.css">
         <article id="protection" class="corporate-page isVisible">
            <!-- Header -->
            <header class="corporate-header">
               <h1 class="corporate-header-title corporate-title">
                  <span class="corporate-title-block">About <span class="bold">Lacoste</span></span>
                  <strong>Lacoste, an Authentic and Protected Brand</strong>
               </h1>
               <div class="corporate-header-picture" aria-hidden="true">
               </div>
            </header>
            <!-- Quote -->
            <section class="corpo-grid border-box small corporate-section" id="engagements-quote">
               <p class="quote quote-full-block">
                  <span class="quote-mark">“</span>
                  Confidence, tenacity, perseverance and rigor:<br>
                  these are the tools I believe necessary to find one’s way in life.      <span class="quote-mark">„</span>
               </p>
               <div class="quote-signature floated">
                  <p>René Lacoste</p>
               </div>
            </section>
            <!-- Innovation et authenticité -->
            <section class="corpo-grid corporate-section notShow" id="protection-strate-1">
               <div class="corpo-grid-1-2">
                  <div class="block-text">
                     <h2>A heritage of innovation and authenticity</h2>
                     <p>The Lacoste heritage is that of René Lacoste, the legendary tennis champion who created the Lacoste polo.<br>His celebrated shirt in petit pique would revolutionize the worlds of sport and fashion, giving rise to a brand that today is a symbol of elegance as well as savoir-faire, innovation and authenticity.         </p>
                  </div>
                  <div class="block-img center-img">
                     <div>
                        <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwfd29116c/events/corporate/imgs/protection/poster_mini.jpg" class="protection-poster" alt="Affiche Lacoste">
                        <p>© Lacoste Archives</p>
                     </div>
                  </div>
               </div>
               <div class="corpo-grid-1-2">
                  <div class="full-image border-box">
                     <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw0e0c0694/events/corporate/imgs/protection/poster.jpg" alt="Affiche Lacoste">
                  </div>
                  <p>© Lacoste Archives</p>
               </div>
            </section>
            <!-- Protéger la marque -->
            <section class="corporate-panel corporate-section tabAsDesk notShow" id="engagements-strate-panel-1">
               <div class="corporate-panel-picture" aria-hidden="true" style="background-image: url(https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwb45a580b/events/corporate/imgs/protection/protection_bg.jpg); height: 82%; width: 95%;">
               </div>
               <div class="corporate-panel-block">
                  <div class="corporate-panel-block-inner">
                     <h2>Protecting the brand and its ecosystem</h2>
                     <p class="last-paragraph marginMobile">Since its beginnings, Lacoste has been actively engaged in protecting its trademark.<br>This involves an ongoing commitment to customers, employees, partners and suppliers.<br>The commitment is clearly layed out in the <a class="lower-link" href="http://secure.lacoste.com/corporate/LACOSTECodeOfConduct_en.pdf">Code of Conduct</a> and in Lacoste’s CSR policy, which each of the company’s suppliers agrees to, and signs to that effect.</p>
                  </div>
               </div>
            </section>
            <!-- Lutte contre la contrefaçon -->
            <section id="protection-strate-3" class="corpo-grid corpo-grid-middle-align corporate-section corpo-grid-inverse clearfix notShow">
               <div class="corpo-grid-1-2">
                  <div class="full-image full-img-pro">
                     <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwe195a23e/events/corporate/imgs/protection/couture.jpg" alt="Couture Lacoste">
                  </div>
               </div>
               <div class="corpo-grid-1-2">
                  <h2>The fight against counterfeiting</h2>
                  <p>The dangers of counterfeiting are known to all popular brands. An illicit trade, and far from being considered "flattery" or "free publicity", counterfeiting endangers customer confidence as well as the capacity of the brand to further invest and innovate.<br>To ensure the company can fight effectively against this global scourge, Lacoste has a team dedicated to protecting and defending its intellectual property rights. This team works in partnership with public authorities around the world.       </p>
               </div>
            </section>
            <!-- Lacoste membre de -->
            <section class="corpo-grid corporate-section notShow" id="protection-strate-4">
               <div class="corpo-grid-1-2">
                  <div class="block-text">
                     <h2>LACOSTE IS A MEMBER OF INTA</h2>
                     <p>Because united we’re stronger, Lacoste is a member of INTA (the International Trademark Association), the largest international trademark association, whose objective is to support trademarks and related intellectual property. For more information about INTA and The UnReal Campaign,click <a class="lower-link" href="http://www.inta.org/Advocacy/Pages/UnrealCampaign.aspx">here</a>.</p>
                  </div>
                  <div class="align-center">
                     <a href="https://www.inta.org/Pages/Home.aspx"><img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw645e81af/events/corporate/imgs/protection/logo_inta.jpg" alt="Logo INTA"></a>
                  </div>
               </div>
               <div class="corpo-grid-1-2">
                  <div class="block-text">
                     <h2>LACOSTE IS A MEMBER OF ICC/BASCAP</h2>
                     <p>Lacoste has also joined BASCAP (Business Action to Stop Counterfeiting and Piracy), an initiative of the International Chamber of Commerce (ICC), whose goal is to actively fight against counterfeiting. For more information about <a href="https://iccwbo.org/global-issues-trends/innovation-ip/counterfeiting-piracy/">BASCAP</a> and its campaign, I Buy Real, click <a class="lower-link" href="http://www.ibuyreal.org/index.html">here.</a></p>
                  </div>
                  <div class="align-center">
                     <a href="https://iccwbo.org/global-issues-trends/innovation-ip/counterfeiting-piracy/"><img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwe03065f7/events/corporate/imgs/protection/logo_icc.jpg" alt="Logo ICC"></a>
                  </div>
               </div>
            </section>
            <!-- Garantie d'authenticité -->
            <section class="corpo-grid corporate-section notShow" id="protection-strate-5">
               <div class="corpo-grid banner-img">
                  <div class="banner-txt-bg">
                     <span class="banner-img-txt">Guarantee of authenticity</span>
                  </div>
               </div>
               <div class="corpo-grid-1-2 corpo-grid-center values">
                  <p class="align-center top40">In order to guarantee authenticity, quality and service, Lacoste distributes its products through a global network of approved retailers. Find a store near to you with our store locator.<br><br></p>
                  <a href="https://www.lacoste.com/stores" class="loc_block">
                     <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw77db96b0/events/corporate/imgs/protection/loc.svg" alt="" class="icon_loc" title="Trouver une boutique">
                     <h2>Find a boutique</h2>
                  </a>
               </div>
            </section>
            <!-- Nous contacter -->
            <section class="corpo-grid corpo-grid-middle-align corporate-section corpo-grid-inverse clearfix notShow" id="protection-strate-6">
               <div class="corpo-grid-1-2">
                  <h2>Contact us</h2>
                  <p>If you’d like to notify us of a product which appears suspicious because of its appearance, quality, price or origins, please contact us at the following address: <a class="lower-link" href="mailto:counterfeit@lacoste.com">counterfeit@lacoste.com</a>. Please provide details of the sale (date, place, etc.), if possible including photos of the place and product. We guarantee that your information will be kept confidential. Thank you for helping protect the Lacoste trademark.</p>
               </div>
               <div class="corpo-grid-1-2">
                  <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw43c6d4f0/events/corporate/imgs/protection/crocodile.jpg" alt="" class="contact-img">
               </div>
            </section>
            <script>
               var swiperCorporateScript = document.createElement('script');
               swiperCorporateScript.src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/v1549415692108/events/corporate/js/swiper.min.js";
            </script>
            <script src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/v1549415692108/events/corporate/js/corporate-page.js"></script>
         </article>
      </div>
   </section>
</div>