<div class="birthday-wrapper birthday-full-height">
   <div class="birthday-decades birthday-full-height">
      <div class="loader show">
         <svg class="circular">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10">
            </circle>
         </svg>
      </div>
      <div class="birthday-animation">
         <div class="birthday-anim-rene">
            <template id="birthday-template-rene">
               <div class="birthday-anim-rene-bg js-birthday-anim-rene-bg-0" style="background-image: url('https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw2aa28934/events/ca-lacoste-birthday/imgs/decades/30/mosaique-home.jpg');"></div>
               <div class="birthday-anim-rene-bg js-birthday-anim-rene-bg-1" style="background-image: url('https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw9e6287a2/events/ca-lacoste-birthday/imgs/decades/40/mosaique-home.jpg');"></div>
               <div class="birthday-anim-rene-bg js-birthday-anim-rene-bg-2" style="background-image: url('https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw61c33da5/events/ca-lacoste-birthday/imgs/decades/50/mosaique-home.jpg');"></div>
               <div class="birthday-anim-rene-bg js-birthday-anim-rene-bg-3" style="background-image: url('https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwc963a5c2/events/ca-lacoste-birthday/imgs/decades/60/mosaique-home.jpg');"></div>
               <div class="birthday-anim-rene-bg js-birthday-anim-rene-bg-4" style="background-image: url('https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwc561f1ca/events/ca-lacoste-birthday/imgs/decades/70/mosaique-home.jpg');"></div>
               <div class="birthday-anim-rene-bg js-birthday-anim-rene-bg-5" style="background-image: url('https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw79977138/events/ca-lacoste-birthday/imgs/decades/80/mosaique-home.jpg');"></div>
               <div class="birthday-anim-rene-bg js-birthday-anim-rene-bg-6" style="background-image: url('https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw620abc61/events/ca-lacoste-birthday/imgs/decades/90/mosaique-home.jpg');"></div>
               <div class="birthday-anim-rene-bg js-birthday-anim-rene-bg-7" style="background-image: url('https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwa00f94b9/events/ca-lacoste-birthday/imgs/decades/00/mosaique-home.jpg');"></div>
               <div class="birthday-anim-rene-bg js-birthday-anim-rene-bg-8" style="background-image: url('https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwb2f58c48/events/ca-lacoste-birthday/imgs/decades/2018/mosaique-home.jpg');"></div>
            </template>
         </div>
         <div class="birthday-anim-blue-bg">
            <div class="birthday-anim-blue-bg-img birthday-full-height js-birthday-img-bg">
               <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwe3d26331/events/ca-lacoste-birthday/imgs/background-mobile.jpg" alt="" class="birthday-bg-img">
               <video src="" class="birthday-anim-blue-bg-video js-birthday-bg-video" muted="" preload="auto" playsinline=""></video>
               <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw1f8fc324/events/ca-lacoste-birthday/imgs/logo.svg" alt="" class="birthday-logo">
            </div>
         </div>
         <div class="birthday-anim-grey-bg js-birthday-anim-grey-bg"></div>
         <div class="marie-louise"></div>
         <div class="anim-logo">
            <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw235400ca/events/ca-lacoste-birthday/imgs/8.svg" alt="" class="logo-nb-1">
            <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw8e6953b2/events/ca-lacoste-birthday/imgs/5.svg" alt="" class="logo-nb-2">
            <img src="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwc7fef345/events/ca-lacoste-birthday/imgs/th.svg" alt="" class="logo-th th">
         </div>
      </div>
      <h1 class="birthday-title">&nbsp;Lacoste is 85, and to celebrate we’ve re-edited an iconic piece from each of the last eight decades. Click on one to choose your favourites.&nbsp;</h1>
      <div class="js-birthday-swiper-container birthday-swiper-container">
         <div class="swiper-wrapper">
            <div class="swiper-slide js-change-decade swiper-decade-30" data-id="0">
               <h4 class="text-decades english-decade">The</h4>
               <div class="swiper-years">
                  <h3 class="swiper-year"><span></span>30<span>s</span></h3>
               </div>
            </div>
            <div class="swiper-slide js-change-decade swiper-decade-40" data-id="1">
               <h4 class="text-decades english-decade">The</h4>
               <div class="swiper-years">
                  <h3 class="swiper-year"><span></span>40<span>s</span></h3>
               </div>
            </div>
            <div class="swiper-slide js-change-decade swiper-decade-50" data-id="2">
               <h4 class="text-decades english-decade">The</h4>
               <div class="swiper-years">
                  <h3 class="swiper-year"><span></span>50<span>s</span></h3>
               </div>
            </div>
            <div class="swiper-slide js-change-decade swiper-decade-60" data-id="3">
               <h4 class="text-decades english-decade">The</h4>
               <div class="swiper-years">
                  <h3 class="swiper-year"><span></span>60<span>s</span></h3>
               </div>
            </div>
            <div class="swiper-slide js-change-decade swiper-decade-70" data-id="4">
               <h4 class="text-decades english-decade">The</h4>
               <div class="swiper-years">
                  <h3 class="swiper-year"><span></span>70<span>s</span></h3>
               </div>
            </div>
            <div class="swiper-slide js-change-decade swiper-decade-80" data-id="5">
               <h4 class="text-decades english-decade">The</h4>
               <div class="swiper-years">
                  <h3 class="swiper-year"><span></span>80<span>s</span></h3>
               </div>
            </div>
            <div class="swiper-slide js-change-decade swiper-decade-90" data-id="6">
               <h4 class="text-decades english-decade">The</h4>
               <div class="swiper-years">
                  <h3 class="swiper-year"><span></span>90<span>s</span></h3>
               </div>
            </div>
            <div class="swiper-slide js-change-decade swiper-decade-00" data-id="7">
               <h4 class="text-decades english-decade">The</h4>
               <div class="swiper-years">
                  <h3 class="swiper-year"><span></span>00<span>s</span></h3>
               </div>
            </div>
            <div class="swiper-slide js-change-decade swiper-decade-2018" data-id="8">
               <h4 class="text-decades english-decade">The year</h4>
               <div class="swiper-years">
                  <h3 class="swiper-year"><span></span>2018<span></span></h3>
               </div>
            </div>
         </div>
         <div class="swiper-button-next nav-ico-after"></div>
         <div class="swiper-button-prev nav-ico-after"></div>
      </div>
   </div>
   <!-- GENERATED TEMPLATE -->
   <div class="js-decade-render js-decade-render-1"></div>
   <div class="js-decade-render js-decade-render-2"></div>
</div>