<div class="row clearfix">
  <section class="faq clearfix">
    <div class="column-three-quarter">
      <div class="content-asset"><!-- dwMarker="content" dwContentID="bcno6iaagNbyMaaadnpskSD7tY" -->
        <div class="faq-subheader">
          <h1 class="page-title">FAQ</h1>
        </div>
        <!-- ######## PART ORDERING ######## -->
        <div class="global-accordion" data-accordion-collapse="true" data-accordion-open-first="">
          <div class="ordering-faq account-faq-bg accordion accordion-faq active" data-accordion-href="faq-faq" data-accordion-group="faq">
            <h2 class="block-title-faq">Frequently Asked Questions</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-faq" data-accordion-group="faq"><dl><dt class="sku-infos-title title-info-faq">How do I monitor the progress of my order?</dt><dd>If you have placed your order whilst connected to your account (by creating an account or connecting to your account), you will find you order in my account/my orders.</dd><dt class="sku-infos-title title-info-faq">How do I return a product purchased in the Lacoste Online Shop?</dt><dd>You have the right to return any purchased products (other than customized products and underwear). This right lasts until thirty (30) days from the day on which you (or a person indicated by you) acquires physical possession of the products</dd><dd>Please note that it is not possible to return or exchange purchases made online in one of our stores or return or exchange products purchased in one of our stores on the online store.</dd><dd>We invite you to reuse the packaging your order was shipped in to proceed with the return.</dd><dd>Please return your articles in mint condition, without them being worn or washed. The sole of the shoes has to be clean and intact and the perfume's packaging still sealed. All of the packaging (plastic, boxes), accessories (glasses case), user manual and product labels have to be returned.</dd><dd>All returned products not complying with our return policy will be returned to you without refund. You will also have to pay for the shipping cost of returning said items back to you.</dd><dd>In case you used a promo code on your order, please note the value of the promo code is divided up proportionately to the item price. In case of return, you will get the refund of the amount paid on the returned item minus the promotion amount applied. You will then lose the promotion amount of the returned item.</dd><dd>Normally parcels are returned to us within 10 working days but on some occasions returned parcels are delayed especially at busy periods like Christmas. Please allow up to 15 working days before contacting us. It is important to note that refunds can take up to one month to be completed due to the time an inquiry with our logistics service and carrier company may take. We thank you for your understanding.</dd><dt class="sku-infos-title title-info-faq">Can I change or cancel my order once it has been confirmed?</dt><dd>It is not possible to change all or part of the order (size or colour of a product, addition or deleting of a product) once it has been confirmed. As well, it is not possible to cancel the order.</dd><dt class="sku-infos-title title-info-faq">How do I find the nearest store?</dt><dd><a href="http://stores.lacoste.com?lang=en" target="_blank">Find the nearest store</a></dd></dl>
            <br>
          </div>
        </div>
        <div class="ordering-faq ordering-faq-bg accordion accordion-faq" data-accordion-href="faq-ordering" data-accordion-group="faq">
          <h2 class="block-title-faq">Ordering</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-ordering" data-accordion-group="faq" style=""><dl><dt class="sku-infos-title title-info-faq">Why buy from the Lacoste Online Shop?</dt><dd>The Lacoste online shop is the official Lacoste shop on the internet. It offers the same products as those available in stores and also products specifically for sale online.</dd><dt class="sku-infos-title title-info-faq">How to order the right size?</dt><dd>Please check the size guide available on each product page</dd><dt class="sku-infos-title title-info-faq">Is there a minimum order value?</dt><dd>There is no minimum order value on the Lacoste Online Shop.</dd><dt class="sku-infos-title title-info-faq">How do I know if my order is being processed?</dt><dd>After placing your order, you will receive an order confirmation email. If you do not receive an order confirmation email from us within 24 business hours, kindly please follow up by calling our customer service at (02)830500 or email us at <a href="mailto:custserv@lacoste.com.ph">custserv@lacoste.com.ph</a></dd><dt class="sku-infos-title title-info-faq">Can I cancel my order?</dt><dd>Your order cannot be cancelled.</dd><dt class="sku-infos-title title-info-faq">Can I change my order once it has been confirmed?</dt><dd>It is not possible to change all or part of the order (size or colour of a product, addition or deleting of a product) once it has been confirmed.</dd><dt class="sku-infos-title title-info-faq">Can I place an order by e-mail, post or fax?</dt><dd>We only process orders placed via the Lacoste online shop.</dd></dl>
          <br>
        </div>
                <!-- ######## Click & Collect ######## -->        
        <div class="ordering-faq C&C-faq-bg accordion accordion-faq" data-accordion-href="faq-C&C" data-accordion-group="faq">
          <h2 class="block-title-faq">Click & Collect</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-C&C" data-accordion-group="faq" style=""><dl>
        <dt class="sku-infos-title title-info-faq">What is Click & Collect?</dt><dd>Click & Collect is an option to conveniently pick-up your online order from your preferred physical store without the worry of missing a delivery.</dd>
        <dt class="sku-infos-title title-info-faq">Where are the Click & Collect locations?</dt><dd>You may pick-up your online order from the following stores: Greenbelt 5, Megamall and Trinoma.</dd>
        <dt class="sku-infos-title title-info-faq">What are the payment options for Click & Collect?</dt><dd>We offer two (2) payment options: prepayment or pay-in-store.  For prepayment, the page will lead you to the payment gateway facility (PayPal, PesoPay).  For pay-in-store, order will be transacted in-store upon pick-up via cash, credit card, SSI gift certificate or Purple card.</dd><dl>
        </ol></dd><dt class="sku-infos-title title-info-faq">What is the flow of Click & Collect?</dt>
        <ol class="faq-list">
            <li>1.Shop for items online.</li> 
	    <li>2.Once you’ve reached the check-out page, choose the store pick-up option.</li> 
            <li>3.Select your preferred store location.</li>
            <li>4.Completely fill-out the customer details.</li> 
            <li>5.Choose either prepayment or pay-in-store. For prepayment, you will be redirected to the payment gateway facility, PayPal or PesoPay. For pay-in-store, order will be transacted in the store upon pick-up with the following payment options; cash, card, GC, Purple card, etc.</li> 
            <li>6.Wait for email notification to confirm your order.</li>  
            <li>7.Another email notification will be sent once your order is ready for pick-up.</li>
            <li>8.Pick-up your order within 72 hours or maximum of three (3) days from the order date.</li>
        </ol></dd>       
        <dt class="sku-infos-title title-info-faq">How long will you keep my order in the store?</dt><dd>For pay-in-store, order will be kept for 72 hours or three (3) days from the order date. For prepayment, order will be kept maximum of thirty (30) calendar days until order will be considered as abandoned.</dd>
        <dt class="sku-infos-title title-info-faq">How long do I need to wait for the email order confirmation?</dt><dd>You should receive an order confirmation immediately after the order has been placed.  Should you not receive it maximum of 24 business hours, please contact our Customer Service <u><a href="mailto: custserv@lacoste.com.ph">here</a></u>.</dd>
        <dt class="sku-infos-title title-info-faq">How long do I need to wait for the order pick-up notification?</dt><dd>Your order is important. Please allow us a maximum of 24 hours to process your order.</dd>
        <dt class="sku-infos-title title-info-faq">Can I go to the store without receiving any pick-up notification?</dt><dd>Your time is valuable.  Please await the pick-up notification before proceeding to the store to pick-up your order.</dd>
        <dt class="sku-infos-title title-info-faq">How long is the processing time from order placement to pick-up from store?</dt><dd>Your satisfaction is our priority.  Kindly give us one (1) day maximum leadtime to collect your order from the store.</dd>
        <dt class="sku-infos-title title-info-faq">Can someone collect my order from the store on my behalf?</dt><dd>Yes, most definitely! Please ensure your authorized representative will present the following:</dd>
        <ol class="faq-list">
            <li>1.A copy of the order confirmation in digital or printed form.</li>
	    <li>2.A copy of your valid government ID.</li>
            <li>3.Authorization letter indicating your representative’s name.</li> 
            <li>4.Your authorized representative’s valid government ID. </li>
        </ol></dd>  
        <dt class="sku-infos-title title-info-faq">How much do I pay for Click & Collect (pick-up from store)?</dt><dd>This is free of charge since you or your authorized representative will collect your order from our physical store without any minimum purchase requirement.</dd>
        <dt class="sku-infos-title title-info-faq">Are all products available for Click & Collect?</dt><dd>Most items are available for Click & Collect, however, there are some exceptions such as online exclusives and out-of-stock items in the physical store but may be available only for delivery.</dd> 	
        <dt class="sku-infos-title title-info-faq">What happens if items in my Click & Collect order are out of stock?</dt><dd>Due to demand and/or exclusivity of collection, sometimes, items in your Click & Collect order may be out of stock at your selected store for pick-up.  We will try our best to source them for you or contact you for any concerns.</dd>
        <dt class="sku-infos-title title-info-faq">Can I return an item in-store when I collect my order?</dt><dd>If you decide to return your Click & Collect order on the same pick-up day, our company return & exchange policy applies.  See here (link to T&C Returns/Effects of Cancellation).</dd>
        <dt class="sku-infos-title title-info-faq">How will I be refunded for my Click & Collect return & exchange order?</dt><dd>For prepayment, an in-store credit valid for 30 days will be issued and usable in any Lacoste store nationwide.  For payment-in-store, our company standard policy on return & exchange will be implemented (link to T&C Returns/Effects of Cancellation).</dd>
        <dt class="sku-infos-title title-info-faq">Can I request for gift receipt for my Click & Collect order?</dt><dd>Gift receipts are applicable only for pay-in-store option.</dd>
        <dt class="sku-infos-title title-info-faq">Will I be notified if my order will be cancelled after 72 hours from order date?</dt><dd>Yes, you will receive an order cancellation notification.</dd>
        <dt class="sku-infos-title title-info-faq">Can I extend my pick-up date?</dt><dd>Fairplay is one of our brand’s value.  We strictly follow the 72-hour reservation period for pay-in-store transactions to give chance to other customers online and in-store.  Please create a new online order.</dd>
      <br>
      <dd>Can’t find the answer to your question? Contact our customer service <u><a href="mailto: custserv@lacoste.com.ph"> here</a></u>.</dd>
       <br>
      </div>
        <div class="ordering-faq payment-faq-bg accordion accordion-faq" data-accordion-href="faq-payment" data-accordion-group="faq">
          <h2 class="block-title-faq">Payment</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-payment" data-accordion-group="faq" style=""><dl><dt class="sku-infos-title title-info-faq">How can I pay for my order?</dt><ydd>The following methods of payment are available at the Lacoste Online Shop:<ol class="faq-list">Size Guides:
          <li>- CREDIT CARD : VISA, MASTERCARD, JCB, AND BANCNET</li>
          <li>- DEBIT CARD : VISA, MASTERCARD, JCB, AND BANCNET</li>
          <li>- E-WALLET : GCASH, PAYMAYA </li>
          <li>- CASH ON DELIVERY</li>
          </ol></dd><dt class="sku-infos-title title-info-faq">How can I be sure my payment details are secure?</dt><dd>The security of your data is very important to us. As a Lacoste online shop customer, you can make your purchases with confidence. Generally you can visit our website without leaving personal data. However in the following situations we need your details:
          <ul class="faq-list">
            <li>- when placing an order</li>
            <li>- for a subscription to the Newsletter</li>
            <li>- when registering with the Lacoste Online Shop</li>
          </ul>
          <ol class="faq-list">
            <li>1. All personal data is encrypted before leaving your PC and being transmitted over the Internet. To do this, Lacoste uses the recognised secure transmission " <strong>"Secure Socket Layer"</strong> (SSL), with<strong>128 Bit encryption</strong>.The encrypted information concerning your order, your name, address, credit card or your bank details cannot be read by other people.</li>
            <li>2. As we work with different Frames, it is possible that you will not be able to recognise the encryption directly or that your browser will not always inform you with a message showing the link with an SSL server. However, you can see the protected transmission of your data (https mode) when, in the checkout section, you press the right-hand button of the mouse and select the function, "Display the source text".</li>
            <li>3. We save all personal information solely on a computer that is not connected to the Internet. Access by other people using the network of a modem is not, therefore, possible.</li>
            <li>4. To prevent unauthorized access to your account and to ensure your personal data remains secure, please do not share with anyone your login or password details.</li>
            <li>5. It is possible to unsubscribe from the Newsletter at any time. By going to the Newsletter link, you can access your data for the Newsletter at any time. In this section, you can change your details or unsubscribe from the Newsletter completely.</li>
          </ol></dd>
          <dt class="sku-infos-title title-info-faq">How do I use an promo code?</dt><dd>Please enter your promo code in the "Promotion" area of your basket and click on "Ok". The promo code and the corresponding discount will appear in your basket. Only one promo code can be used per order. Please note the value of the promo code is divided up proportionately to the item price. In case of return, you will get the refund of the amount paid on the returned item minus the promotion amount applied. You will then lose the promotion amount of the returned item.</dd>
          </dl>
          <br>
        </div>
        <div class="ordering-faq delivery-faq-bg accordion accordion-faq" data-accordion-href="faq-delivery" data-accordion-group="faq">
          <h2 class="block-title-faq">Delivery &amp; Returns</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-delivery" data-accordion-group="faq" style=""><dl><dt class="sku-infos-title title-info-faq">Can my order be delivered to an address of my choice?</dt><dd>
          <p>We can deliver your order to the address of your choice. Please specify the delivery address when you place your order. Unless an alternative address is provided delivery will be made to the billing address.</p>
          <p>We regret that we cannot deliver to a Post Box address.</p>
          </dd><dt class="sku-infos-title title-info-faq">Where do you deliver?</dt><dd>We deliver nationwide based on the deliverable addresses provided in our address fields in the checkout page.</dd><dt class="sku-infos-title title-info-faq">How much does delivery cost?</dt><dd>WE OFFER A FLAT RATE OF PHP 150 SHIPPING CHARGE PER ORDER FOR METRO MANILA AND PHP 200 FOR PROVINCIAL AREAS. FOR ORDERS AMOUNTING TO AT LEAST P5,000, FREE SHIPPING IS PROVIDED.</dd><dt class="sku-infos-title title-info-faq">How long does delivery take?</dt><dd>For Metro Manila orders, we deliver in 3-5 business days. For provincial orders, please give us up to 10 business days to deliver your order.</dd><dt class="sku-infos-title title-info-faq">How do I know if my order has been dispatched?</dt><dd>When your order has been dispatched you will receive a confirmation e-mail.</dd><dt class="sku-infos-title title-info-faq">What happens if I am not there when it is delivered?</dt><dd>If you (or your authorized representative) are not present at the time of delivery, we are afraid we cannot leave your order and hence delivery will not be completed. Our courier partner will try to contact you again for another delivery attempt prior to cancelling the delivery.</dd><dt class="sku-infos-title title-info-faq">How do I monitor the progress of my order?</dt><dd>If you have placed your order whilst connected to your account (by creating an account or connecting to your account), you will find you order in <a href="http://lacoste.com.ph/index.php/sales/order/history/">My Account/My Orders</a>.</dd><dt class="sku-infos-title title-info-faq">How do I return a product purchased in the Lacoste Online Shop?</dt><dd>You have the right to  and return any purchased products (other than customized products and underwear). This right lasts until thirty (30) days from the day on which you (or a person indicated by you) acquires physical possession of the products. <br>Please note that it is not possible to return or exchange purchases made online in one of our stores or return or exchange products purchased in one of our stores on the online store. <br>We invite you to reuse the packaging your order was shipped in to proceed with the return. Please return your articles in mint condition, without them being worn or washed. The sole of the shoes has to be clean and intact and the perfume's packaging still sealed. All of the packaging (plastic, boxes), accessories (glasses case), user manual and product labels have to be returned. <br>All returned products not complying with our return policy will be returned to you without refund. Further, we may ask you to pay for the related shipping charges of sending back these items to you. <br>Normally parcels are returned to us within 10 working days but on some occasions returned parcels are delayed especially at busy periods like Christmas. Please allow up to 15 working days before contacting us. It is important to note that refunds can take up to one month to be completed due to the time an inquiry with our logistics service and carrier company may take. We thank you for your understanding.</dd><dt class="sku-infos-title title-info-faq">Is it possible to return a product that has not been ordered from the Lacoste Online Shop?</dt><dd>We only accept products that have been purchased from the Lacoste online shop. Any product returned in error will be returned to the sender at sender’s expense.</dd><dt class="sku-infos-title title-info-faq">Is it possible to return a product to a Lacoste boutique or a department store?</dt><dd>It is not possible to return products purchased from the Lacoste online shop to a Lacoste boutique or a department store. Please follow the "how do I return a product purchased in the Lacoste online shop?" instructions.</dd><dt class="sku-infos-title title-info-faq">How long do I have to return a product?</dt><dd>You have the right to return any purchased products (other than customized products and underwear). This right lasts until thirty (30) days from the day on which you (or a person indicated by you) acquires physical possession of the products. Please note also that you are not entitled to return products customized with our polo configurator.</dd><dt class="sku-infos-title title-info-faq">How much does it cost to return a product?</dt><dd>All returns are free of charge using our return coupon.</dd><dt class="sku-infos-title title-info-faq">How will I be credited after the product is returned?</dt><dd><ol class="faq-list">
          <li>- When a product is returned to us, we treat the refund directly through the payment method used for placing the order.</li>
          <li>- If you paid by credit card, the value of the products returned will be credited to your card.</li>
          <li>Delivery charges are not reimbursed unless the product was faulty.</li>
          </ol></dd><dt class="sku-infos-title title-info-faq">How long will it take to be credited after returning a product?</dt><dd>Unworn products that are returned are normally credited within 14 days following receipt and completion of the necessary quality controls.</dd><dt class="sku-infos-title title-info-faq">What should I do if I receive a damaged or faulty product?</dt><dd>
          <p>If a product purchased from the Lacoste online shop does not meet Lacoste quality standards, you have the right to make a claim during the period of the legal guarantee.</p>
          <p>Please contact our Customer Services :</p>
          <ul class="faq-list">
            <ul class="faq-list">
              <li>- By e-mail: <a href="mailto: custserv@lacoste.com.ph">custserv@lacoste.com.ph</a></li>
              <li>- By telephone:&nbsp;(02) 8830 5000</li>
            </ul>
          </ul>
          <p>&nbsp;</p>
          </dd><dt class="sku-infos-title title-info-faq">Is it possible to exchange a product?</dt><dd>It is not possible to exchange a product.</dd><dt class="sku-infos-title title-info-faq">Where will be order be dispatched from?</dt><dd>The Lacoste online shop warehouse is based Metro Manila.</dd></dl>
          <br>
        </div>
        <div class="ordering-faq account-faq-bg accordion accordion-faq" data-accordion-href="faq-account" data-accordion-group="faq">
          <h2 class="block-title-faq">My Account</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-account" data-accordion-group="faq" style=""><dl><dt class="sku-infos-title title-info-faq">Why should I create an account?</dt><dd>
          <p>The benefits of creating an account with the Lacoste Online Shop are as follows:</p>
          <ol class="faq-list">
            <li>- Save your personal information for quick and easy ordering</li>
            <li>- Create a wish list of your favourite products which you can share with friends and family</li>
            <li>- Receive special offers from the Lacoste Online Shop</li>
            <li>- Receive invitations to exclusive events</li>
            <li>- Retain your order history</li>
            <li>- Save all your delivery information</li>
          </ol></dd><dt class="sku-infos-title title-info-faq">What use will be made of my personal details?</dt><dd>
          <p>Respect for your privacy is of the utmost importance. As a Lacoste Online Shop customer, you can make your purchases with confidence. We do not require your personal information except in the following situations:</p>
          <ol class="faq-list">
            <li>- Placing an order</li>
            <li>- Subscribing to the newsletter</li>
            <li>- Creating an account</li>
          </ol>
          <p>The information you give us about yourself or your interests will only be used to offer you the very best service possible and to adapt our offers to your requirements.</p>
          </dd><dt class="sku-infos-title title-info-faq">What should I do if I do not wish to receive the newsletter?</dt><dd>
          <p>You will only receive our newsletter if you subscribe to it via the Lacoste Online Shop website.</p>
          <p>If you no longer wish to receive our newsletter, please use the unsubscribe link to be found at the bottom of the newsletter. This does not affect your account.</p>
          </dd></dl>
          <br>
        </div>
        <div class="ordering-faq use-faq-bg accordion accordion-faq" data-accordion-href="faq-section" data-accordion-group="faq">
          <h2 class="block-title-faq">Use of the Lacoste Website</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-section" data-accordion-group="faq" style="display: none;"><dl><dt class="sku-infos-title title-info-faq">What are the technical settings required to use the Lacoste Online Shop?</dt><dd><ol>
          <li>- Browser software settings: to ensure the correct display and optimum operation of the Lacoste online shop, you must have an updated internet browser for optimum display you will need to activate Java and Javascript. To enable you to place products in your basket you will also need to activate the "Allow Cookies" function</li>
          <li>- Screen definition: To see the Lacoste Online Shop correctly, you must adjust your screen to a definition equal to or greater than 1024 x 768 pixels.</li>
          </ol></dd><dt class="sku-infos-title title-info-faq">How do I contact the Lacoste Online Shop?</dt><dd>
          <p>For questions relating to the Lacoste Online Shop and orders placed through it, our customer service is here to assist you Monday through Friday from 9 a.m to 6 p.m. You can contact us:</p>
          <ol class="faq-list" style="list-style-type: circle;">:
            <li>- By e-mail: <a href="mailto: custserv@lacoste.com.ph">custserv@lacoste.com.ph</a></li>
            <li>- By telephone: (02) 8830 5000</li>
          </ol></dd></dl>
          <br>
        </div>
      </div>
    </div>
    <div class="column-quarter mobile-tablet-fixed" data-fixed-position="fixed" data-fixed-limit=".column-three-quarter" data-fixed-only-desktop="true">
      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="bc8GgiaagNcDaaaadn1cESD7tY" -->
        <div class="sticky-footer">
          <div class="accordion accordion-faq help-use-accordion accordion-mobile-tablet-only active" data-accordion-href="help-use">
            <p class="title-sidebar-faq picto-customer-service">
              Need help ?
              <span class="btn-plus btn-plus-faq">  </span>
            </p>
            <p class="title-sidebar-faq picto-title-faq no-desktop no-mobile">
              FAQ
              <span class="btn-plus btn-plus-faq">  </span>
            </p>
            <span class="btn-plus btn-plus-faq-help">
              <span class="open"></span> 
              <span class="close"></span>
            </span>
          </div>
          <div class="accordion-content" data-accordion-id="help-use">
            <div class="column-half-tablet">
              <div class="box-infos infos-faq">
                <p class="sku-info-gray">
                  Contact our customer service team on Monday to Friday from 9am to 5pm and on Saturday from 9am to 3pm.
                </p>
                <p class="sku-infos-title title-info-faq">
                  Contact your customer service				<br>			
                  <span class="title-sidebar">(02) 8830 5000*</span>
                </p>
                <p class="faq-minimized">*Local costs apply depending on your phone provider.
                </p>
              </div>
              <div class="box-infos btn-faq">
                <a class="btn btn-secondary btn-full" href="/pages/contact-us">Contact</a>
              </div>
            </div>
            <div class="column-half-tablet">
              <p class="title-sidebar-faq picto-title-faq no-tablet">
                FAQ
                <span class="btn-plus btn-plus-faq">  </span>
              </p>
              <div class="box-infos infos-faq">
                <p class="sku-info-gray">
                  You might find the answer you're looking for in our Frequently Asked Questions.
                </p>
              </div>
              <div class="box-infos btn-faq">
                <a class="btn btn-secondary btn-full" href="/pages/frequently-asked-questions/">View FAQ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>