<div class="row clearfix">
  <section class="faq clearfix">
    <div class="col-main">
      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="bcno6iaagNbyMaaadnpskSD7tY" -->
        <div class="faq-subheader cgv-page">
          <h1 class="page-title">LE CLUB LACOSTE FAQ</h1>
        </div>
        <!-- ######## PART ORDERING ######## -->
        <div class="global-accordion" data-accordion-collapse="true" data-accordion-open-first="">
          <div class="ordering-faq accordion accordion-faq active" data-accordion-href="faq-faq" data-accordion-group="faq">
            <h2 class="block-title-faq">WHO CAN JOIN?</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-faq" data-accordion-group="faq">
            <dl><dt class="sku-infos-title title-info-faq">WHO CAN JOIN THE PROGRAM?</dt>
              <dd>
                <ol class="faq-list">You should:
                  <li>- be at least eighteen (18) years old</li>
                  <li>- be a legitimate Philippine resident,</li>
                  <li>- have a valid Philippine government-issued ID, and</li>
                  <li>- have an active email address.</li>
                </ol>
              </dd>
              <dd>
                <ol class="faq-list">Who are not qualified to join the program?
                  <li>- Corporvate accounts and</li>
                  <li>- current Stores Specialists, Inc. (SSI Group) employees.</li>
                </ol>
              </dd>
            </dl>
            <br/>
          </div>
        </div>
        <div class="ordering-faq accordion accordion-faq" data-accordion-href="faq-ordering" data-accordion-group="faq">
          <h2 class="block-title-faq">HOW CAN I SIGN UP?</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-ordering" data-accordion-group="faq">
          <dl><dt class="sku-infos-title title-info-faq">HOW CAN I SIGN UP FOR THE PROGRAM?</dt>
            <dd>- You may apply for a Le Club Lacoste membership by creating an account at lacoste.com.ph</dd>
            <dd>- You must have only one (1) email address registered for the program and one Le Club membership account linked to that email address.</dd>
          </dl>
          <br/>
        </div>
        <div class="ordering-faq accordion accordion-faq" data-accordion-href="faq-payment" data-accordion-group="faq">
          <h2 class="block-title-faq">RULES OF THE PROGRAM</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-payment" data-accordion-group="faq">
          <dl><dt class="sku-infos-title title-info-faq">WHAT ARE THE RULES OF THE PROGRAM?</dt>
            <dd>- Php 1 = 1 point</dd>
            <dd>- Your points will be based on your accumulated purchases.</dd>
            <dd>- You cannot use your points as payment for Lacoste purchases.</dd>
            <dd>- Your status is valid for 12 months from your latest level qualification date; each upgrade resets the validity period.</dd>
            <dd>- If after 12 months from the date you reach your current level, you do not purchase enough to maintain your level, your status will downgrade.</dd>
          </dl>
          <br/>
        </div>
        <div class="ordering-faq accordion accordion-faq" data-accordion-href="faq-delivery" data-accordion-group="faq">
          <h2 class="block-title-faq">PROGRAM REWARDS</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-delivery" data-accordion-group="faq">
          <dl><dt class="sku-infos-title title-info-faq">WHAT ARE THE PROGRAM REWARDS?</dt>
            <dd>- Level 1: Access to Private Sales and Exclusive Content</dd>
            <dd>- Level 2: Level 1 Benefits, Loyalty Reward, Exclusive and Personalized Products</dd>
            <dd>- Level 3: Level 1 and 2 Benefits, Invites to Private Events and Birthday Gift</dd>
            <dd>- Level 4: Level 1, 2, and 3 Benefits, Access to La Loge</dd>
            <dd>- Whenever your status upgrades, you keep the benefits of the previous level, except for the loyalty rewards and birthday gifts, which are specific to certain levels.</dd>
          </dl>
          <br/>
        </div>
        <div class="ordering-faq accordion accordion-faq" data-accordion-href="faq-account" data-accordion-group="faq">
          <h2 class="block-title-faq">HOW CAN I ACCUMULATE POINTS?</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-account" data-accordion-group="faq">
          <dl><dt class="sku-infos-title title-info-faq">HOW CAN I ACCUMULATE POINTS?</dt>
            <dd>- Your offline purchases may be accumulated at participating Lacoste stores upon presentation of your registered email address at the Cashier.</dd>
            <dd>- Your online transactions would be automatically tagged to your online account.</dd>
            <dd>- Only purchases paid in cash, credit card, checks, or gift certificates shall be qualified in the accumulation.</dd>
            <dd>- Accumulated purchases shall be reversed for voided transactions, returned merchandise or refunded purchases, subject to the return policy of SSI.</dd>
            <dd>- Accumulated purchases from exchanged items will honor the final amount exchanged, subject to the exchange policy of SSI.</dd>
            <dd>- You must ensure that the details of your account are valid and updated for the accurate accumulation of your purchases.</dd>
          </dl>
          <br/>
        </div>
        <div class="ordering-faq accordion accordion-faq" data-accordion-href="faq-check-account" data-accordion-group="faq">
          <h2 class="block-title-faq">HOW CAN I CHECK MY ACCOUNT?</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-check-account" data-accordion-group="faq">
          <dl><dt class="sku-infos-title title-info-faq">HOW CAN I CHECK MY LE CLUB LACOSTE ACCOUNT?</dt>
            <dd>- You may log in to your account at lacoste.com.ph.</dd>
            <dd>- You may view your points and corresponding rewards and benefits under ‘My Profile.’</dd>
          </dl>
          <br/>
        </div>
        <div class="ordering-faq accordion accordion-faq" data-accordion-href="faq-claim-rewards" data-accordion-group="faq">
          <h2 class="block-title-faq">HOW CAN I CLAIM MY REWARDS?</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-claim-rewards" data-accordion-group="faq">
          <dl><dt class="sku-infos-title title-info-faq">Exclusive content</dt>
            <dd>- You may view exclusive content on the ‘My Loyalty Benefits’ page or the ‘Enjoy My Rewards’ page.</dd><dt class="sku-infos-title title-info-faq">Private Sales, Private Events, La Loge</dt>
            <dd>- You will be notified via email regarding these exclusive events.</dd><dt class="sku-infos-title title-info-faq">Loyalty Reward &amp; Birthday Gift</dt>
            <dd>- You will be notified via email upon qualification of these items.</dd>
            <dd>- You may click on the ‘Redeem your Gift’ button on the ‘My Loyalty Benefits’ page or the ‘Enjoy My Rewards’ page, and choose the store where you will claim the item.</dd>
            <dd>- You will receive a confirmation email with details of your redemption.</dd>
            <dd>- You must present a valid ID with a print out of /screenshot of or actual confirmation email upon claiming your gift at the store.</dd>
            <dd>- You must sign an issuance sheet as proof that you have claimed your gift.</dd>
          </dl>
          <br/>
        </div>
        <div class="ordering-faq accordion accordion-faq" data-accordion-href="faq-redeem-rewards" data-accordion-group="faq">
          <h2 class="block-title-faq">WHEN CAN I REDEEM MY REWARDS AND GIFTS?</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-redeem-rewards" data-accordion-group="faq">
          <dl>
            <dd>- For each kind of gift, you are entitled to one gift each level every 12 months.</dd>
            <dd>- Your loyalty gift can be redeemed at any time until the expiry of your latest membership level.</dd>
            <dd>- Your birthday gift can be redeemed after receiving the email notification until the expiry of your latest membership level.</dd>
          </dl>
          <br/>
        </div>
        <div class="ordering-faq accordion accordion-faq" data-accordion-href="faq-others" data-accordion-group="faq">
          <h2 class="block-title-faq">OTHER INQUIRIES</h2>
          <div class="spacer-faq-title">&nbsp;</div>
          <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
        </div>
        <div class="accordion-content accordion-content-faq" data-accordion-id="faq-others" data-accordion-group="faq">
          <dl><dt class="sku-infos-title title-info-faq">For other inquiries, you may:</dt>
            <dd>- refer to the full Terms and Conditions of the program <a href="https://lacoste.com.ph/index.php/le-club-lacoste-terms-and-conditions/">here</a>,</dd>
            <dd>- visit a store near you and ask a member of our team, or</dd>
            <dd>- contact our Customer Service team at custserv@lacoste.com.ph or (02) 8830 5000.</dd>
          </dl>
          <br/>
        </div>
      </div>
    </div>
  </section>
</div>