<div class="clearfix row fullhtml-content">
  <section class="clearfix">







    <div class="content-asset">
      <!-- dwMarker="content" dwContentID="bcaasiaagNFXQaaadnrbaSD7tY" -->
      <style>
        .cgv-page .accordion-content-faq{
          padding: 40px;
          margin-top: 0;
        }
        .cgv-page li, .cgv-page p{
          text-transform: initial;
          font-size: 14px;
          color: #797979;
          margin-bottom: 10px;
        }
        .cgv-page h2, .cgv-page h1{
          font-family: 'LacosteSansCondensedBold';
          color: #292929;
        }
        .cgv-page a{
          font-family: 'LacosteSansBold';
        }
        .red-border-cgv{
          border: 3px solid crimson;
        }
        .accordion-content li{
          list-style: none;
        }
        section.wai-cgv-summary h3{
          font-size: 1em;
          margin: 1.33em 0;
          display: block;
          -webkit-margin-before: 1.33em;
          -webkit-margin-after: 1.33em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
        }
      </style>

      <div class="faq faq-subheader cgv-page">
        <h1 class="page-title">LE CLUB LACOSTE Terms &amp; Conditions</h1>
        <p class="sku-info-gray"> </p>
      </div>

      <div class="global-accordion cgv-page" data-accordion-collapse="true" data-accordion-all-open=""><!-- SECTION Sommaire -->
        <section class="wai-cgv-summary">
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-terms" data-accordion-group="faq">
            <h2 class="block-title-faq">Table of contents</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-terms" data-accordion-group="faq">
            <h3>1. GENERAL STATEMENT</h3>
            <h3>2. PROGRAM MEMBERSHIP ACTIVATION</h3>
            <h3>3. PROGRAM REWARDS</h3>
            <h3>4. ACCUMULATION OF PURCHASES</h3>
            <h3>5. INFORMATION ON ACCUMULATED PURCHASES</h3>
            <h3>6. AVAILMENT OF THE BENEFITS</h3>
            <h3>7. PRIVACY POLICY</h3>
            <h3>8. TERMINATION</h3>
            <h3>9. EXCLUSION OF LIABILITY</h3>
            <h3>10. NOTICES AND MODIFICATIONS</h3>
          </div>
        </section>
        <!-- EO SECTION Sommaire --> <!-- SECTION Contenu -->
        <section><!--========== PARTIE N°1==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-ordering" data-accordion-group="faq">
            <h2 class="block-title-faq">1. GENERAL STATEMENT</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-ordering" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>a.</strong> Le Club Lacoste (Program) is a loyalty program offered to customers of Lacoste in the Philippines (Lacoste) and is operated by the Program Headquarters at Stores Specialists, Inc. (SSI). Members (Club Members) are given rewards, discounts, and privileges in accordance with the Program&rsquo;s criteria for membership.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>b.</strong> Membership (Club Membership) is open to customers of Lacoste and is a privilege granted by SSI. SSI reserves the right to deny, suspend, or terminate at any time at its sole discretion without any liability the Membership in the Program of any Club Member for his/her unauthorized, improper, or illegal use of the rewards, discounts and privileges under the Program.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>c.</strong> All customers of Lacoste who are at least eighteen (18) years old and legitimate Philippine residents with a valid Philippine government-issued ID (valid ID) are qualified to join the Program.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>d.</strong> Corporate accounts and employees of SSI are not qualified to be Club Members of the Program.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>e.</strong> The Club Member&rsquo;s participation in the Program at SSI Lacoste stores in the Philippines and at the official Philippine Lacoste website (lacoste.com.ph) constitute the express consent to all the Terms and Conditions as stated herein.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>f.</strong> The Club Member understands and agrees that the successful implementation of the Program is based on the cooperative interaction among SSI, the Club Members, and third parties, which may be hired by SSI for the Program&rsquo;s operations and the provision of the Program&rsquo;s benefits for Club Members.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>g.</strong> The Program Terms and Conditions will be governed by the laws of the Republic of the Philippines.</li>
              </ul>
            </ul>
          </div>
          <!--========== PARTIE N°2==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-payment" data-accordion-group="faq">
            <h2 class="block-title-faq">2. PROGRAM MEMBERSHIP ACTIVATION</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-payment" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>a.</strong> Any individual who wants to be a Club Member must complete a membership application form.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>b.</strong> A customer may apply for Club Membership by:</li>
                <ul class="indent-parag">
                  <li>signing up at participating Lacoste stores with his/her valid email address and mobile number</li>
                  <li>or creating an account at lacoste.com.ph.</li>
                </ul>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>c.</strong> A customer may have only one (1) email address registered for the Program and one (1) Club Membership account linked with that email address.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <li><strong>d.</strong> Membership is activated once a customer completes the sign-up process.</li>
            </ul>
            <br />
            <ul>
              <li><strong>e.</strong> A customer&rsquo;s Club Membership starts at level 1 with basic benefits. To upgrade to levels 2, 3 and 4, a Club Member must meet the minimum spend requirement within twelve (12) months from his/her first purchase date:</li>
              <li>
                <div>
                  <table class="terms-table">
                    <tbody>
                      <tr><th>Membership Level</th><th>Accumulated Purchases within 12 Months</th></tr>
                      <tr>
                        <td>1-Player</td>
                        <td>=upon joining to &lt; P15K</td>
                      </tr>
                      <tr>
                        <td>2-Confirmed</td>
                        <td>=P15K to &lt; P40K</td>
                      </tr>
                      <tr>
                        <td>3-Advanced</td>
                        <td>=P40K to &lt; P85K</td>
                      </tr>
                      <tr>
                        <td>4-Legend</td>
                        <td>=P85K and above</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
            <br />
            <ul>
              <li><strong>f.</strong> Club Membership is valid for twelve (12) months from the Club Member&rsquo;s latest level qualification date.</li>
            </ul>
            <br />
            <ul>
              <li><strong>g.</strong> A Club Member may be upgraded to the next level as long as the minimum spend of that level is achieved within twelve (12) months from the first purchase date on the customer&rsquo;s first year of Club Membership. For succeeding years, the customer&rsquo;s Club Membership level will be based on his/her past twelve (12) months purchases from his/her latest qualified Club Membership level.</li>
            </ul>
            <br />
            <ul>
              <li><strong>h.</strong> Club Membership will be renewed automatically every year as long as the Club Member&rsquo;s account is active or until SSI announces the Program's cancellation.</li>
            </ul>
            <br />
            <ul>
              <li><strong>i.</strong> A Club Member&rsquo;s account is considered active as long as there is no breach of the Program Terms and Conditions whether intentional or not and/or the Club Member does not voluntarily opt out of the Program by either:</li>
              <ul class="indent-parag">
                <li>deleting one&rsquo;s account at lacoste.com.ph,</li>
                <li>informing an authorized sales consultant at an SSI Lacoste store,</li>
                <li>or informing Program Headquarters at custserv@lacoste.com.ph.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <li><strong>j.</strong> The Program Headquarters shall notify the Club Member if his/her membership is eligible for renewal. Likewise, a reminder Short Message Service (SMS)/electronic mail (email) will be sent to Club Members who have not reached the minimum spend at least one (1) month prior to the Club Membership validity date.</li>
            </ul>
            <br />
            <ul>
              <li><strong>k.</strong> Purchases from both Lacoste stand-alone stores and online store (lacoste.com.ph) are qualified for the spend accumulation. However, purchases from non-SSI Lacoste stores will not be part of the accumulated spend.</li>
            </ul>
            <br />
            <ul>
              <li><strong>l.</strong> All questions and disputes regarding eligibility for Club Membership activation, renewal, or change of levels within the Program, for accumulation of purchases, or for redemption of benefits availed within the Program will be resolved by SSI at its sole discretion.</li>
              <!-- <li><strong>III. PROGRAM REWARDS:</strong></li> -->
            </ul>
          </div>
          <!--========== PARTIE N°3 ==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-contract" data-accordion-group="faq">
            <h2 class="block-title-faq">3. PROGRAM REWARDS</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-contract" data-accordion-group="faq">
            <img style="max-width: 1000px; height: auto; margin: 0px auto; display: block; width: 100%;" src="{{ 'RewardsTable.png' | asset_img_url: 'master' }}">
          </div>
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-contract" data-accordion-group="faq">
            <h2 class="block-title-faq">4. ACCUMULATION OF PURCHASES</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-contract" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>a.</strong> Offline purchases may be accumulated at participating Lacoste stores with operable electronic transaction networks and upon presentation of the Club Member&rsquo;s registered email address at point of purchase. For online transactions, the Club Member&rsquo;s purchases would be tagged according to his/her account or his/her provided email address.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>b.</strong> Only purchases paid in cash, credit card, checks, or gift certificates shall be qualified in the accumulation.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>c.</strong> Purchases from corporate accounts are not qualified in this program.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <li><strong>d.</strong> Payments for services such as, but not limited to, shipping and handling, storage, alteration and repair are not qualified in the accumulation.</li>
            </ul>
            <br />
            <ul>
              <li><strong>e.</strong> Accumulated purchases shall be reversed for voided transactions, returned merchandise or refunded purchases, subject to the return policy of SSI.</li>
            </ul>
            <br />
            <ul>
              <li><strong>f.</strong> Accumulated purchases from exchanged items will honor the final amount exchanged, subject to the exchange policy of SSI.</li>
            </ul>
            <br />
            <ul>
              <li><strong>g.</strong> Accumulated purchases may not be assigned, sold, transferred, and/or pledged to any third party.</li>
            </ul>
            <br />
            <ul>
              <li><strong>h.</strong> For accurate accumulation of purchases, it is the Club Member&rsquo;s responsibility to ensure that the details of his/her account are updated (e.g. registered email address).</li>
            </ul>
            <br />
            <ul>
              <li><strong>i.</strong> SSI has the right to monitor all Club Members&rsquo; account activity.</li>
              <ul class="indent-parag">
                <li>If, at SSI&rsquo;s sole reasonable discretion, it is determined that the Club Member has engaged in any fraud, abuse or suspicious activity in relation to privileges granted by virtue of his/her Club Membership, failed to follow the Program Terms &amp; Conditions, or made any misrepresentations, SSI reserves the right to close or suspend the Club Member&rsquo;s account immediately, prohibit the Club Member from accruing purchases, and/or redeem any gifts.</li>
                <li>If the Club Member&rsquo;s accumulated purchases are cancelled or forfeited for any reason, SSI will not reinstate those purchases to the account.</li>
                <li>If the customer&rsquo;s account is closed for any reason, his/her Club Membership in the Program will be terminated.</li>
                <li>The Club Member is solely responsible for the use of any benefit within the Program. If the Club Member conducted any fraudulent activity in relation to his/her membership, SSI reserves the right to take any necessary legal action and/or charge and collect from the Club Member any gifts redeemed as a result of such activity.</li>
              </ul>
            </ul>
          </div>
          <!--========== PARTIE N°4==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-account" data-accordion-group="faq">
            <h2 class="block-title-faq">5. INFORMATION ON ACCUMULATED PURCHASES</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-account" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> a. Club members may know their accumulated program purchase and the corresponding gifts and benefits at lacoste.com.ph under My Account</li>
              </ul>
            </ul>
          </div>
          <!--========== PARTIE N°5==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-use" data-accordion-group="faq">
            <h2 class="block-title-faq">6. AVAILMENT OF THE BENEFITS</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-use" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>a.</strong> The Club Member&rsquo;s account status should be active in order to avail of the benefits</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>b.</strong> Gifts and benefits earned within the Program cannot be exchanged for cash or shopping credits.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>c.</strong> Status Gifts</li>
                <ul class="indent-parag">
                  <li>Thirty (30) days upon hitting the required spend, the Club Member will be informed and welcomed by the Program Headquarters through SMS/email to the next level of Club Membership. A 30-day lead time from the date of the customer&rsquo;s last purchase is given to ensure that returns will be deducted from the accumulated spend and that final amounts for exchanged items will be reflected on the accumulated spend before awarding the status gift.</li>
                  <li>The Club Member must respond via SMS/email sign-up form confirming his/her receipt of the notification with his/her complete name and preferred Lacoste store where he/she will pick up the status gift.</li>
                  <li>The qualified Club Member shall then present a valid ID together with the SMS/email notification to claim the status gift at the Lacoste store he/she indicated at the time of notification</li>
                </ul>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>d.</strong> Birthday Gift</li>
                <ul class="indent-parag">
                  <li>A Club Member may avail of one (1) birthday gift per calendar year depending on his/her latest membership level status at the time of his/her birthdate.</li>
                  <li>The Program Headquarters will send a birthday message via SMS/email on the first day of the Club Member&rsquo;s birth month.</li>
                  <li>The Club Member must respond via SMS/email sign-up form confirming his/her receipt of the notification with his/her complete name and preferred Lacoste store where he/she will pick up the birthday gift.</li>
                </ul>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>e.</strong> The Club Member may claim his/her birthday gift by presenting a valid ID together with the SMS/email at the Lacoste Store he/she indicated at the time of notification.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>f.</strong> Private Sales and Events</li>
                <ul class="indent-parag">
                  <li>Club Members will be notified via SMS/Email. To gain access, a Club Member should present the SMS/email invite or RSVP (if required).</li>
                </ul>
              </ul>
            </ul>
          </div>
          <!--========== PARTIE N°6==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-6" data-accordion-group="faq">
            <h2 class="block-title-faq">7. PRIVACY POLICY</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-6" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>a.</strong> By becoming a Club Member, the customer agrees to the Privacy Policy herein provided, and all its amendments thereto.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>b.</strong> SSI regards the Club Member&rsquo;s privacy with utmost importance. SSI will be the sole owner of the information collected on this form, as well as all revisions and changes to the information. The personal information the Program Headquarters collect from the Club Member shall be used to:</li>
                <ul class="indent-parag">
                  <li>contact the Club Member,</li>
                  <li>respond to his/her inquiries,</li>
                  <li>invite him/her to events,</li>
                  <li>reward and recognize top clients when applicable,</li>
                  <li>and develop products and deliver information to Club Members about the products, services, or website pertaining to all brands under SSI, its subsidiaries and affiliates, or the Rustan&rsquo;s Group of Companies.</li>
                </ul>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>c.</strong> The Program Headquarters shall store all information collected as long as necessary to fulfill the purpose for which it was collected or for as long as required by Philippine law.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>d.</strong> All information provided will be kept confidential and will not be sold, leased, conveyed, or shared with any third party outside SSI, its subsidiaries and affiliates, or the Rustan&rsquo;s Group of Companies, unless authorized by the Club Member or if necessary to respond to the Club Member&rsquo;s concern. In some instances, the Program Headquarters may also be required to disclose the Club Member&rsquo;s personal information to SSI&rsquo;s agents, partners, and other third party service providers as part of business operations and the provision of SSI&rsquo;s products and services. Unless the Club Member specifically asks the Program Headquarters not to, the Program Headquarters may use the Club Member&rsquo;s information to contact him/her via to inform him/her about promos, new products or services of all brands under SSI, the Rustan&rsquo;s Group of Companies, and its affiliates, or changes to this policy.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>e.</strong> The Program Headquarters will not share the Club Member&rsquo;s personal information with other third parties, which may use the personal data to send information and marketing materials about their products and services to the Club Member. However, the Program Headquarters will only pass the Club Member&rsquo;s personal data on to such third parties if he/she has ticked an "opt-in" box found in the application form to indicate that he/she wishes to receive such information.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>f.</strong> The Program Headquarters recognizes the value of the Club Member&rsquo;s personal information and strives to maintain the confidentiality, integrity, and availability of the Club Member&rsquo;s personal information by employing physical, technological, and procedural safeguards. The Program Headquarters trains employees to properly handle the Club Member&rsquo;s information. Whenever SSI engages other companies to provide services, the Program Headquarters requires the said companies to protect personal information aligned with the security standards of SSI.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>g.</strong> The Club Member understands his/her rights under the Data Privacy Act implemented in the Philippines. If Club Members have any questions, comments or concerns about how their personal information is handled, please contact the Program Headquarters at privacy@rgoc.com.ph. Club Members may also read the Privacy Policy Statement at this link http://lacoste.com.ph/privacypolicy. A Club Member has the right to</li>
                <ul class="indent-parag">
                  <li>advise the Program Headquarters if he/she does not want to be contacted by the Program Headquarters in the future,</li>
                  <li>request for a copy of his/her personal information that the Program Headquarters has in custody,</li>
                  <li>correct, update, or delete his/her personal information from the records of the Program Headquarters,</li>
                  <li>and report any misuse of his/her personal information.</li>
                </ul>
              </ul>
            </ul>
            <br />
            <ul>
              <li><strong>h.</strong> A Club Member has to state his/her full name and details to assist the Program Headquarters in processing his/her requests.</li>
            </ul>
          </div>
          <!--========== PARTIE N°7==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-7" data-accordion-group="faq">
            <h2 class="block-title-faq">8. TERMINATION</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-7" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>a.</strong> SSI may, at its sole discretion and for whatever reason, terminate the Program at any time. In the event of the Program&rsquo;s termination, accumulated purchases will be considered expired and Club Members will have sixty (60) days from Program termination date to avail any unclaimed status gift, birthday gift, and/or other benefits within the Program.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>b.</strong> Any breach of the Terms and Conditions, whether intentional or otherwise, may result in the termination of the relevant customer&rsquo;s Club Membership and account at www.lacoste.com.ph, forfeiture of any privileges, or being blacklisted by SSI in any program or promos that may be implemented in the future.</li>
              </ul>
            </ul>
          </div>
          <!--========== PARTIE N°8==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-8" data-accordion-group="faq">
            <h2 class="block-title-faq">9. EXCLUSION OF LIABILITY</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-8" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>a.</strong> SSI shall not be liable howsoever for any errors, delays, loss or damage, which may be directly or indirectly due to breakdown, failure of machinery or the processor, industry dispute, war, act of God, system failure, and anything outside the control of SSI.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>b.</strong> SSI shall not be liable for any loss of accumulated purchases or loss or damage suffered as a result of any defect or error in any machines or inability to retrieve any information or data from the computer system for whatever cause.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>c.</strong> All conditions and warranties, whether expressed or implied and whether arising under any legislation or otherwise, as to the condition, suitability, quality, fitness or safety of any goods and/or services supplied in relation to the Program are expressly excluded to the extent permitted by law.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <li><strong>d.</strong> SSI shall not be liable for any loss or damage suffered by the member due to the following reasons:</li>
              <ul class="indent-parag">
                <li>any delay or failure in the fulfillment of the Program benefits,</li>
                <li>and any failure or omission to notify the Club Member of any changes in the Terms and Conditions of this agreement, participating companies, qualifying purchases, and status gifts awarded for qualifying purchases.</li>
              </ul>
            </ul>
          </div>
          <!--========== PARTIE N°9==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-9" data-accordion-group="faq">
            <h2 class="block-title-faq">10. NOTICES AND MODIFICATIONS</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: none;" data-accordion-id="faq-9" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>a.</strong> Any notice in writing to SSI in relation to the Program shall be sent to custserv@lacoste.com.ph.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>b.</strong> The Club Member is responsible for remaining knowledgeable of any changes that SSI makes to the Program Terms and Conditions. The most current version of these Program Rules will be available at lacoste.com.ph and will supersede all previous versions of these Program Rules.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <ul>
                <li><strong>c.</strong> The Club Member shall be conclusively presumed to have been notified by updates or announcements upon posting of the same at lacoste.com.ph.</li>
              </ul>
            </ul>
            <br />
            <ul>
              <li><strong>d.</strong> SSI may cancel, modify, restrict, waive, or terminate any of the Program Terms and Conditions at any time, with or without prior notice, even though these changes may affect the Club Member&rsquo;s ability to use any accumulated purchases he/she has already accrued.</li>
            </ul>
            <br />
            <ul>
              <li><strong>e.</strong> In the event the Club Member is not agreeable to such variation, addition and/or amendments, the customer may terminate his/her Club Membership. His/her non-termination or continued use of his/her Club Membership account at participating Lacoste stores and/or at lacoste.com.ph shall be conclusively deemed acceptance of the variation, addition and/or amendments of the Program Terms and Conditions.</li>
            </ul>
          </div>
        </section>
        <!-- EO SECTION Contenu --></div>
    </div>




  </section>
</div>