<div class="page-width">
  <div class="mashup-heading" >
    <img src="{{ 'l-e-raffle-logo.jpg' | asset_url }}" alt="Tennis Mash-up e-Raffle" class="img-cover img-cover--top">
  </div>
  <div class="r-content">
	  	<div class="tennis-court">
	  		<img src="{{ 'tennis-court-e-raffle.jpg' | asset_url }}" alt="Tennis Mash-up e-Raffle" class="img-cover img-cover--top">
	  	</div>
  	<div class="r-content-wrap">
	  	<div class="cont1">
	  		<h2>The response has been submitted</h2>
	  	</div><br>
		<p>Thank you for signing up for our online raffle! your information has been sent to our team for processing. Best of luck to your entry!</p><br>
		<p>Deadline of submission of entries: August 1, 2019 11:59 PM</p><br>
		<br>
		<p>Sincerely,</p>
		<p>Lacoste Philippines</p>
	</div>
  </div>
</div>