<div class="page-width">
<script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js"></script>
<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.12110" type="text/javascript"></script>
<script type="text/javascript">
  JotForm.init(function(){
      setTimeout(function() {
          $('input_5').hint('First Name');
       }, 20);
      setTimeout(function() {
          $('input_6').hint('Last Name');
       }, 20);
      setTimeout(function() {
          $('input_10').hint('Facebook Name');
       }, 20);
      setTimeout(function() {
          $('input_11').hint('Address');
       }, 20);
      setTimeout(function() {
          $('input_9').hint('Mobile Phone Number');
       }, 20);

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("13", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":""}); }, 0); });
 } 
 JotForm.setCalendar("13", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":""});

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("14", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":""}); }, 0); });
 } 
 JotForm.setCalendar("14", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":""});
      JotForm.alterTexts(undefined);
  JotForm.clearFieldOnHide="disable";
  JotForm.submitError="jumpToFirstError";
    /*INIT-END*/
  });

   JotForm.prepareCalculationsOnTheFly([null,null,{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},null,null,{"name":"firstName","qid":"5","text":"First Name","type":"control_textbox"},{"name":"lastName6","qid":"6","text":"Last Name","type":"control_textbox"},null,null,{"name":"mobilePhone","qid":"9","text":"Mobile Phone Number","type":"control_textbox"},{"name":"facebookName","qid":"10","text":"Facebook Name","type":"control_textbox"},{"name":"address","qid":"11","text":"Address","type":"control_textbox"},{"name":"salesInvoice","qid":"12","text":"Sales Invoice \u002F Order Confirmation Number","type":"control_textbox"},{"name":"birthday","qid":"13","text":"Birthday","type":"control_datetime"},{"name":"dateOf","qid":"14","text":"Date of Purchase","type":"control_datetime"},null,{"name":"clickTo16","qid":"16","text":"Per DTI-FTEB Permit No. XXXX, series of 2019Promo Period: July 23 - August 1, 2019","type":"control_text"},null,{"name":"input18","qid":"18","type":"control_checkbox"},{"name":"emailAddress","qid":"19","text":"Email address","type":"control_email"},{"name":"purchaseAmount","qid":"20","text":"Purchase Amount","type":"control_textbox"},{"name":"storeWhere","qid":"21","text":"Store Where Purchase Was Made","type":"control_textbox"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,null,{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},null,null,{"name":"firstName","qid":"5","text":"First Name","type":"control_textbox"},{"name":"lastName6","qid":"6","text":"Last Name","type":"control_textbox"},null,null,{"name":"mobilePhone","qid":"9","text":"Mobile Phone Number","type":"control_textbox"},{"name":"facebookName","qid":"10","text":"Facebook Name","type":"control_textbox"},{"name":"address","qid":"11","text":"Address","type":"control_textbox"},{"name":"salesInvoice","qid":"12","text":"Sales Invoice \u002F Order Confirmation Number","type":"control_textbox"},{"name":"birthday","qid":"13","text":"Birthday","type":"control_datetime"},{"name":"dateOf","qid":"14","text":"Date of Purchase","type":"control_datetime"},null,{"name":"clickTo16","qid":"16","text":"Per DTI-FTEB Permit No. XXXX, series of 2019Promo Period: July 23 - August 1, 2019","type":"control_text"},null,{"name":"input18","qid":"18","type":"control_checkbox"},{"name":"emailAddress","qid":"19","text":"Email address","type":"control_email"},{"name":"purchaseAmount","qid":"20","text":"Purchase Amount","type":"control_textbox"},{"name":"storeWhere","qid":"21","text":"Store Where Purchase Was Made","type":"control_textbox"}]);}, 20); 
</script>
<!-- <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.12110" rel="stylesheet" type="text/css" /> -->
<!-- <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.12110" /> -->
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.12110" />
<!-- <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?"/> -->
  <div class="mashup-heading l-vmargin--xxlarge" >
      <img src="{{ 'mashup-header.jpg' | asset_url }}" alt="Tennis Mash-up e-Raffle" class="img-cover img-cover--top">
    </div>
    <div class="how-to l-vmargin--xxlarge">
      <div class="how-to-wrap">
        <h2 class="title--large offset-mt-2 l-vmargin--xxlarge text-white">How to join</h2>
        <div class="how-to-list">
          <div class="how-to-block">
            <div class="block-img1">
              <img src="{{ 'shopping-cart-tennis.png' | asset_url }}" alt="" class="img-fill-width">
            </div>
            <div class="block-desc l-vmargin--xxlarge">
              <div class="text-white">1. Purchase at
  least Php 5,000
  worth of regular
  items in-store
  or on lacoste.com.ph</div>
            </div>
          </div>
          <div class="how-to-block">
            <div class="block-img2">
              <img src="{{ 'receipt-tennis.png' | asset_url }}" alt="" class="img-fill-width">
            </div>
            <div class="block-desc l-vmargin--xxlarge">
              <div class="text-white">2. Take note of your
  sales invoice no. or
  order confirmation no.
  (for online purchases).</div>
            </div>
          </div>
          <div class="how-to-block">
            <div class="block-img3">
              <img src="{{ 'laptop-tennis.png' | asset_url }}" alt="" class="img-fill-width">
            </div>
            <div class="block-desc l-vmargin--xxlarge">
              <div class="text-white">3. Register via an 
  e-coupon at
  <a href="/pages/tennis-mash-up-e-raffle">https://lacoste.com.ph/pages/<br>tennis-
      mash-up-raffle</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="l-vmargin--xxlarge promo-date" style="padding: 0 15px;">
        <div><span><b>Purchase period:</b> July 23 to August 1, 2019</span></div>
        <div><span><b>Deadline submission of entries:</b> August 1, 2019 11:59 PM</span></div>  
        <div><span><b>Announcement of winner:</b> August 7, 2019 on our official Facebook page at facebook.com/LacostePhilippines</span></div>
        <br>
        <br>
        <div>1 valid transaction = 1 entry</div>
        <div>Unlimited number of entries per day per customer</div>
      </div>
      <div class="bod-top">
        <h2 class="title--medium ff-bold">Fill out the form below.</h2>
      </div>
      <div style="font-size: 16px;"><span><b>*Required fields</b></span></div>
<form class="jotform-form padding-1 l-padding--small" action="https://submit.jotform.me/submit/92018736333456/" method="post" name="form_92018736333456" id="92018736333456" accept-charset="utf-8">
  <input type="hidden" name="formID" value="92018736333456" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li class="form-line l-vmargin--medium jf-required" data-type="control_textbox" id="id_5">
        <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5">
          First Name
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_5" class="form-input-wide jf-required">
          <input type="text" id="input_5" name="q5_firstName" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" placeholder="First Name" data-component="textbox" aria-labelledby="label_5" required="" />
        </div>
      </li>
      <li class="form-line l-vmargin--medium jf-required" data-type="control_textbox" id="id_6">
        <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6">
          Last Name
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_6" class="form-input-wide jf-required">
          <input type="text" id="input_6" name="q6_lastName6" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" placeholder="Last Name" data-component="textbox" aria-labelledby="label_6" required="" />
        </div>
      </li>
      <li class="form-line l-vmargin--medium" data-type="control_textbox" id="id_10">
        <label class="form-label form-label-top form-label-auto" id="label_10" for="input_10"> Facebook Name </label>
        <div id="cid_10" class="form-input-wide">
          <input type="text" id="input_10" name="q10_facebookName" data-type="input-textbox" class="form-textbox" size="20" value="" placeholder="Facebook Name" data-component="textbox" aria-labelledby="label_10" />
        </div>
      </li>
      <li class="form-line l-vmargin--medium jf-required" data-type="control_textbox" id="id_11">
        <label class="form-label form-label-top form-label-auto" id="label_11" for="input_11">
          Address
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_11" class="form-input-wide jf-required">
          <input type="text" id="input_11" name="q11_address" data-type="input-textbox" class="form-textbox validate[required]" size="90" value="" placeholder="Address" data-component="textbox" aria-labelledby="label_11" required="" />
        </div>
      </li>
      <li class="form-line l-vmargin--medium jf-required" data-type="control_email" id="id_19">
        <label class="form-label form-label-top form-label-auto" id="label_19" for="input_19">
          Email address
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_19" class="form-input-wide jf-required">
          <input type="email" id="input_19" name="q19_emailAddress" class="form-textbox validate[required, Email]" size="30" value="" data-component="email" aria-labelledby="label_19" required="" />
        </div>
      </li>
      <li class="form-line l-vmargin--medium jf-required" data-type="control_textbox" id="id_9">
        <label class="form-label form-label-top form-label-auto" id="label_9" for="input_9">
          Mobile Phone Number
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_9" class="form-input-wide jf-required">
          <input type="text" id="input_9" name="q9_mobilePhone" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" placeholder="Mobile Phone Number" data-component="textbox" aria-labelledby="label_9" required="" />
        </div>
      </li>
      <li class="form-line l-vmargin--medium" data-type="control_datetime" id="id_13">
        <label class="form-label form-label-top form-label-auto" id="label_13" for="lite_mode_13"> Birthday </label>
        <div id="cid_13" class="form-input-wide">
          <div data-wrapper-react="true">
            <div style="display:none">
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="tel" class="form-textbox validate[limitDate]" id="month_13" name="q13_birthday[month]" size="2" data-maxlength="2" value="" aria-labelledby="label_13 sublabel_13_month" />
                <span class="date-separate" aria-hidden="true">
                   /
                </span>
                <label class="form-sub-label" for="month_13" id="sublabel_13_month" style="min-height:13px"> Month </label>
              </span>
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="tel" class="form-textbox validate[limitDate]" id="day_13" name="q13_birthday[day]" size="2" data-maxlength="2" value="" aria-labelledby="label_13 sublabel_13_day" />
                <span class="date-separate" aria-hidden="true">
                   /
                </span>
                <label class="form-sub-label" for="day_13" id="sublabel_13_day" style="min-height:13px"> Day </label>
              </span>
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="tel" class="form-textbox validate[limitDate]" id="year_13" name="q13_birthday[year]" size="4" data-maxlength="4" value="" aria-labelledby="label_13 sublabel_13_year" />
                <label class="form-sub-label" for="year_13" id="sublabel_13_year" style="min-height:13px"> Year </label>
              </span>
            </div>
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="text" class="form-textbox validate[limitDate, validateLiteDate]" id="lite_mode_13" size="12" data-maxlength="12" data-age="" value="" data-format="mmddyyyy" data-seperator="/" placeholder="mm/dd/yyyy" aria-labelledby="label_13" />
              <img alt="Pick a Date" id="input_13_pick" src="https://cdn.jotfor.ms/images/calendar.png" style="vertical-align:middle;margin-left:5px" data-component="datetime" aria-hidden="true" />
              <label class="form-sub-label" for="lite_mode_13" id="sublabel_13_litemode" style="min-height:13px">  </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top">
              <label class="form-sub-label" for="input_13_pick" style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap"> Date Picker Icon </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line l-vmargin--medium jf-required" data-type="control_textbox" id="id_12">
        <label class="form-label form-label-top form-label-auto" id="label_12" for="input_12">
          Sales Invoice / Order Confirmation Number
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_12" class="form-input-wide jf-required">
          <input type="text" id="input_12" name="q12_salesInvoice" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" data-component="textbox" aria-labelledby="label_12" required="" />
        </div>
      </li>
      <li class="form-line l-vmargin--medium jf-required" data-type="control_datetime" id="id_14">
        <label class="form-label form-label-top form-label-auto" id="label_14" for="lite_mode_14">
          Date of Purchase
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_14" class="form-input-wide jf-required">
          <div data-wrapper-react="true">
            <div style="display:none">
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="tel" class="form-textbox validate[required, limitDate]" id="month_14" name="q14_dateOf[month]" size="2" data-maxlength="2" value="" required="" aria-labelledby="label_14 sublabel_14_month" />
                <span class="date-separate" aria-hidden="true">
                   /
                </span>
                <label class="form-sub-label" for="month_14" id="sublabel_14_month" style="min-height:13px"> Month </label>
              </span>
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="tel" class="form-textbox validate[required, limitDate]" id="day_14" name="q14_dateOf[day]" size="2" data-maxlength="2" value="" required="" aria-labelledby="label_14 sublabel_14_day" />
                <span class="date-separate" aria-hidden="true">
                   /
                </span>
                <label class="form-sub-label" for="day_14" id="sublabel_14_day" style="min-height:13px"> Day </label>
              </span>
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="tel" class="form-textbox validate[required, limitDate]" id="year_14" name="q14_dateOf[year]" size="4" data-maxlength="4" value="" required="" aria-labelledby="label_14 sublabel_14_year" />
                <label class="form-sub-label" for="year_14" id="sublabel_14_year" style="min-height:13px"> Year </label>
              </span>
            </div>
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="text" class="form-textbox validate[required, limitDate, validateLiteDate]" id="lite_mode_14" size="12" data-maxlength="12" data-age="" value="" required="" data-format="mmddyyyy" data-seperator="/" placeholder="mm/dd/yyyy" aria-labelledby="label_14" />
              <img alt="Pick a Date" id="input_14_pick" src="https://cdn.jotfor.ms/images/calendar.png" style="vertical-align:middle;margin-left:5px" data-component="datetime" aria-hidden="true" />
              <label class="form-sub-label" for="lite_mode_14" id="sublabel_14_litemode" style="min-height:13px">  </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top">
              <label class="form-sub-label" for="input_14_pick" style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap"> Date Picker Icon </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line l-vmargin--medium jf-required" data-type="control_textbox" id="id_20">
        <label class="form-label form-label-top form-label-auto" id="label_20" for="input_20">
          Purchase Amount
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_20" class="form-input-wide jf-required">
          <input type="text" id="input_20" name="q20_purchaseAmount" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" data-component="textbox" aria-labelledby="label_20" required="" />
        </div>
      </li>
      <li class="form-line l-vmargin--medium jf-required" data-type="control_textbox" id="id_21">
        <label class="form-label form-label-top form-label-auto" id="label_21" for="input_21">
          Store Where Purchase Was Made
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_21" class="form-input-wide jf-required">
          <input type="text" id="input_21" name="q21_storeWhere" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" data-component="textbox" aria-labelledby="label_21" required="" />
        </div>
      </li>
      <li class="form-line l-vmargin--medium jf-required" data-type="control_checkbox" id="id_18">
        <label class="form-label form-label-top form-label-auto" id="label_18" for="input_18_0">
        </label>
        <div id="cid_18" class="form-input-wide jf-required">
          <div class="form-single-column" data-component="checkbox">
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_18_0" name="q18_input18[]" value="I have read and accept the Terms and Conditions and the Privacy Policy statement." required="" />
              <label id="label_input_18_0" for="input_18_0"> I have read and accept the <a href="/pages/lacoste-tennis-mash-up-raffle-t-c"><u>Terms and Conditions</u></a> and the <a href="/pages/privacy-policy"><u>Privacy Policy</u></a> statement. </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line l-vmargin--medium" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="" class="form-buttons-wrapper text-center">
            <button id="input_2" type="submit" class="form-submit-button" data-component="button">
              Submit
            </button>
          </div>
        </div>
      </li>
      <li class="form-line l-vmargin--medium" data-type="control_text" id="id_16">
        <div id="cid_16" class="form-input-wide" style="display: none;">
          <div id="text_16" class="form-html" data-component="text">
            <p>Per DTI-FTEB Permit No. XXXX, series of 2019<br />Promo Period: July 23 - August 1, 2019</p>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
  JotForm.showJotFormPowered = "new_footer";
  </script>
  <input type="hidden" id="simple_spc" name="simple_spc" value="92018736333456" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "92018736333456-92018736333456";
  </script>
  <div class="formFooter-heightMask">
  </div>
</form>
<div id="cid_16" class="form-input-wide">
  <div id="text_16" class="form-html text-center" data-component="text">
    <p>Per DTI-FTEB Permit No. 12256, series of 2019<br />Promo Period: July 23 - August 1, 2019</p>
  </div>
</div>
</div>