<section class="js-promotions-section js-modular-section page-section modular-section bg-white {{ template }}">
   {%- comment -%} Header {%- endcomment -%}
   {% section 'page-nat-geo-banner' %}
 
   {%- comment -%} Collection 1 {%- endcomment -%}
   {% section 'page-nat-geo-promotion-image-1' %}
   {% section 'page-promotion-product-list-1' %}

   {%- comment -%} Collection 2 {%- endcomment -%}
   {% section 'page-nat-geo-promotion-video-2' %}
   {% section 'page-promotion-product-list-2' %}

   {%- comment -%} Collection 3 {%- endcomment -%}
   {% section 'page-nat-geo-promotion-image-3' %}
   {% section 'page-promotion-product-list-3' %}

   {%- comment -%} Collection 4 {%- endcomment -%}
   {% section 'page-nat-geo-promotion-video-4' %}

   {%- comment -%} Promotional Banner {%- endcomment -%}
   {% section 'page-nat-geo-promotional-banner' %}
   
   {%- comment -%} Grid Collection {%- endcomment -%}
   {% section 'page-nat-geo-grid-collection' %}
    
 </section>