<div class="cell-12 flex--margin-left flex--margin-right cell-m-24 l-vmargin-row-and-half">
  <div class="klaviyo-form-RaNKkJ"></div>
</div>

<!-- <script>
  window.addEventListener('DOMContentLoaded', (event) => {
    window.addEventListener("klaviyoForms", function(e) { 
      console.log(e)
      if (e.detail.type == "embedOpen") {
//         Custom JS 
        const urlParams = new URLSearchParams(window.location.search);
        var emailParam = urlParams.get('email');
        if(emailParam !== null || emailParam !== undefined) {
          $('.klaviyo-form-RaNKkJ input[type="email"]').val(emailParam)
        }
      }
    });
  });
</script> -->