<div class="page-width">
  <div class="mashup-heading" >
    <img src="{{ 'tennis-mashup-terms.jpg' | asset_url }}" alt="Tennis Mash-up e-Raffle" class="img-cover img-cover--top">
  </div>
  <div class="terms-condition">
    <div class="top-border-color">
  </div>
    <div class="text-center title--large l-vmargin--xxlarge">
      <p class="ff-bold tc-title">Terms & Conditions</p>
    </div>
    <ol class="join-count l-vmargin--xxlarge">
      
      
      
      <li>Purchase at least Php 5,000 worth of regular items at participating 
        Lacoste stores or on lacoste.com.ph.</li>
      
      <li>Take note of your sales invoice number or your order confirmation 
        number (online purchase).</li>
      
      <li>Register via an e-coupon at <a href="/pages/tennis-
    mash-up-raffle">https://lacoste.com.ph/pages/tennis-
    mash-up-raffle</a> with your complete name, address, email address, 
      mobile phone number, sales invoice/order confirmation number, date 
        of purchase, purchase amount, and store where purchase was made.</li>
      
      <li>Purchase period: July 23 to August 1, 2019. Deadline of submission 
        of entries: August 1, 2019 11:59 PM</li>
      
      <li>1 valid transaction = 1 entry. Unlimited number of entries per day 
        per customer.</li>
      <li>Raffle draw to be done at 4:00 PM on August 2, 2019 at the Lacoste 
      Head Office at 4F Midland Buendia Building, Jupiter, Makati, 
        witnessed by a DTI representative.</li>
      
      <li>Announcement of winner via FB page and notification via registered 
      mail, email, and mobile number of winner on August 7, 2019. 
      
      <li>Winner will win the ff. items: Lacoste apparel (Php 4,450), Lacoste 
        bag (Php 7,650), and Lacoste footwear (Php 5,650).</li>
      
      <li>Prizes can be claimed within 60 days upon receipt of notice from 
      registered mail, email and  mobile number at participating Lacoste 
      stores. Winner should present valid Philippine ID (with photo), 
      congratulatory email/SMS notification from Lacoste, and a copy of 
        the Sales Invoice or Order Confirmation email.</li>
      
      <li>Prizes are transferable and not convertible to cash.</li>
      
      <li>All employees of Stores Specialists, Advertising Agency and 
      Participating outlets including their relatives up to second degree 
      of consanguinity or affinity are disqualified from joining the 
        promotion. </li>
      
      <li> Not in conjunction with other promotions and discounts.</li>
      
      
      
      
    </ol>
    <p class="p-contact">If you have any questions, please contact our Customer
Service at <a href="mailto:custserv@lacoste.com.ph" target="_top">custserv@lacoste.com.ph</a> or +632 830 5000.</p>
    <div class="bottom-border-color">
  </div>
    <div class="dti-perm text-center">Per DTI-FTEB Permit No. <span style="color:#ff0000;">12256</span>, series of 2019<br>
Promo Period: July 23 - August 1, 2019<br></div>
</div>
