
<section class="js-promotions-section js-modular-section page-section modular-section bg-white">
    <div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small">
        {% section 'iconic-women-header' %}
    </div>
    <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-polo-shop-story-1">
        {% section 'iconic-women-description' %}
    </div>
    <div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-slider-tiles-1">
        {% section 'iconic-women-product-carousel' %}
    </div>
</section>
