<div class="clearfix row fullhtml-content">
  <section class="clearfix">







    <div class="content-asset">
      <!-- dwMarker="content" dwContentID="bcaasiaagNFXQaaadnrbaSD7tY" -->
      <style>
        .cgv-page .accordion-content-faq{
          padding: 40px;
          margin-top: 0;
        }
        .cgv-page li, .cgv-page p{
          text-transform: initial;
          font-size: 14px;
          color: #797979;
          margin-bottom: 10px;
        }
        .cgv-page h2, .cgv-page h1{
          font-family: 'LacosteSansCondensedBold';
          color: #292929;
        }
        .cgv-page a{
          font-family: 'LacosteSansBold';
        }
        .red-border-cgv{
          border: 3px solid crimson;
        }
        .accordion-content li{
          list-style: none;
        }
        section.wai-cgv-summary h3{
          font-size: 1em;
          margin: 1.33em 0;
          display: block;
          -webkit-margin-before: 1.33em;
          -webkit-margin-after: 1.33em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
        }
      </style>

      <div class="faq faq-subheader cgv-page"> <a href="https://www.lacoste.com/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/v1548767377857/cgv/cgv-en_GB.pdf" target="_blank" class="btn-print">Print our T&amp;C</a>
        <h1 class="page-title">Terms &amp; Conditions</h1>
        <p class="sku-info-gray"> </p>
      </div>

      <div class="global-accordion cgv-page" data-accordion-collapse="true" data-accordion-all-open=""><!-- SECTION Sommaire -->
        <section class="wai-cgv-summary">
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-terms" data-accordion-group="faq">
            <h2 class="block-title-faq">Table of contents</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-terms" data-accordion-group="faq">
            <h3>1. Scope and Definitions</h3>
            <h3>2. Use of the Website</h3>
            <h3>3. Registering for a Personal Account</h3>
            <h3>4. Our Contract</h3>
            <h3>5. The Order Process</h3>
            <h3>6. Availability of Products and Delivery Times</h3>
            <h3>7. Prices and Delivery Charges</h3>
            <h3>8. Payment</h3>
            <h3>9. Returns</h3>
            <h3>10. Your Personal Data</h3>
            <h3>11. Liability</h3>
            <h3>12. Feedback and Complaints Policy</h3>
            <h3>13. Alteration of Service or Amendments to the Terms</h3>
            <h3>14. Waiver</h3>
            <h3>15. Governing Law and Jurisdiction</h3>
            <h3>16. Click and Collect</h3>
          </div>
        </section>
        <!-- EO SECTION Sommaire --> <!-- SECTION Contenu -->
        <section><!--========== PARTIE N°1==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-ordering" data-accordion-group="faq">
            <h2 class="block-title-faq">1. Scope and Definitions</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-ordering" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> These general terms and conditions (the "Terms") will apply when you access the Lacoste online shop either online or via your mobile device (the "Website") or place orders to purchase any of the products on the website, including by telephone.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> Any reference to "we"/"us" in these Terms is a reference to Stores Specialists, Inc. – owner and operator of lacoste.com.ph, with office address at 4/F Midland Buendia Bldg., 403 Sen Gil Puyat Avenue, Makati City, Philippines. We can be reached through the following:</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <ul>
                  <li>• Email: custserve@lacoste.com.ph</li>
                </ul>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> Any reference to "you" means you, the user of the Website.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <li><strong>4.</strong> 4. Please read these Terms carefully before using the Website and placing your order. By ordering products from the Website, you agree to be bound by these Terms. Do not use the Website unless you wish to be bound by these Terms because, by continuing to use any part of the Website, you confirm your acceptance of these Terms.</li>
            </ul>
          </div>
          <!--========== PARTIE N°2==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-payment" data-accordion-group="faq">
            <h2 class="block-title-faq">2. Use of the Website</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-payment" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> You agree not to copy, reproduce, modify, create derivative works from, distribute or publicly display any content (except for your own information) from the Website without our prior written permission.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> You acknowledge that all present and future copyright and other intellectual property rights subsisting in, or used in connection with, the products, the Website or any part of it (the "Rights"), including the manner in which the Website is presented or appears and all information and documentation relating to it is our property (or that of our licensors), and nothing in these Terms shall be taken to transfer any of the Rights to you.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> Solely for the purposes of accessing the Website and placing orders we hereby grant to you, for the period during which the Website is made available to you, a non-exclusive, non-transferable, licence to use the Rights.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <li><strong>4.</strong> You may not link to the Website, other than to the URL: <a href="http://www.lacoste.com.ph/">http://www.lacoste.com.ph/</a>, without our prior written consent.</li>
            </ul>
          </div>
          <!--========== PARTIE N°3 ==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-contract" data-accordion-group="faq">
            <h2 class="block-title-faq">3. Registering for a Personal Account</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-contract" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> To make it easier for you to order products using the Website, we offer you the opportunity to register for a personal account. If you take advantage of this opportunity, any personal data that you provide us with during the registration process will be stored in our database and need not be entered with each new order; it will be entered into the order form automatically.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> To register, you must supply us with the following information via the online registration form: your forename, surname, address, date of birth, email address and delivery address. Once you click on the 'Register' button, this information will be stored in our customer database. We will only use the stored data in accordance with our Privacy Policy, which can be accessed <a href="http://lacoste.com.ph/index.php/privacy">here</a>. Please ensure that the details you provide us with are correct and complete and inform us immediately of any changes to the information that you provided when you registered.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> After registering for a personal account, you will automatically be sent an email that your account has been created. Your email address will act as the user ID for your account. During the registration process you will be asked to create your own password. You will be given the opportunity to change the password when you log in to your account. You must keep your user ID and password confidential at all times, and not make them available to any other person. You agree to comply with all security directions and/or recommendations given by us and inform us immediately if you become aware of or suspect any unauthorised use of your account or if your account becomes available to an unauthorised person.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <li><strong>4.</strong> Without prejudice to our other rights and remedies we may suspend your access to the Website without liability if, in our reasonable opinion, such action is necessary to safeguard the Website. You will be responsible for any misuse of your user ID and password, including the placing of any order.</li>
            </ul>
          </div>
          <!--========== PARTIE N°4==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-account" data-accordion-group="faq">
            <h2 class="block-title-faq">4. Our Contract</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-account" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> Your order constitutes an offer to us to buy the products you select from the Website. All orders are subject to availability and will not constitute a binding contract of sale until accepted by us. As soon as this offer is accepted by us by sending an Acceptance Email (as specified below), your order forms a binding contract of sale between you and us as further set out at clause 5 below.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> Purchases made on the website must be for your personal or gift use and are not to be used for re-sale, commercial purposes or any other commercial benefit. We reserve the right to refuse orders for multiple quantities of an item ordered by you or ordered to any one postal address.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> The Website only sells products to individuals who can purchase with a credit card/debit card or other method(s) of payment as set out on the payment page.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <li><strong>4.</strong> The images of the products on our Website are for illustrative purposes only. Although we have made every effort to display the colours accurately, we cannot guarantee that a device's display of the colours accurately reflects the colour of the products. Your product may vary slightly from those images.</li>
            </ul>
          </div>
          <!--========== PARTIE N°5==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-use" data-accordion-group="faq">
            <h2 class="block-title-faq">5. The Order Process</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-use" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> You may select items from our range of products, details of which will be added to the "Shopping Bag" by clicking on the 'Add to Shopping Bag' button. By clicking on the 'Proceed to Checkout' button, you initiate the checkout process for the products added to the Shopping Bag. By clicking on the 'Pay now' button you submit an offer to buy the products in the Shopping Bag and agree to pay for those items. Before placing an order you can view and amend your order details at any time by clicking on the 'Shopping Bag &amp; Checkout' button.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> When you place your order to purchase products from the Website, we will automatically send you an email confirming receipt of your order and containing the details of your order (the "Confirmation Email"). We recommend that you print out the Confirmation Email and keep it for your own records. The Confirmation Email does not constitute our acceptance of your order; it merely records the fact that we have received the order.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> We will send you a second email when we dispatch your products which shall constitute our acceptance of your order (the "Acceptance Email"), at which point a binding contract of sale will be concluded between you and us.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>4.</strong> Any products on the same order which we have not confirmed in an Acceptance Email do not form part of that contract. If for any reason the products ordered by you are not available at the time you place your order, we will notify you of this by email. Our acceptance of your order in the Acceptance Email is limited to the products that are available - no contract of sale will be concluded in respect of products that are not available. We will retain the title in the products until full payment has been received by us.</li>
              </ul>
            </ul>
          </div>
          <!--========== PARTIE N°6==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-6" data-accordion-group="faq">
            <h2 class="block-title-faq">6. Availability of Products and Delivery Time</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-6" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> We will notify you of the estimated delivery time for your products in the Acceptance Email. Save in respect of customized products (for example polos created using our Polo Configurator), this estimated delivery date will usually be within three to five business days in Metro Manila and up to 10 days for provincial orders (i.e. Excluding Saturday, Sunday and public holidays in the Republic of the Philippines) of sending you the Acceptance Email. It may take slightly longer to deliver products to very remote areas. In the case of customized products, the estimated delivery date will usually be within 20 business days. We will endeavour to deliver all products you have ordered within thirty (30) days (as specified on your Acceptance Email), but these delivery dates are estimates only. Dispatch dates are not guaranteed and should not be relied upon.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> In the event that we become aware that we are unable to meet the original estimated delivery time stated in the Acceptance Email, we will notify you of this as soon as possible and at the same time and without us being liable to you we will specify a new estimated delivery time.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> Whilst we will do our best to deliver your products within the period of time defined above, sometimes it may take longer than expected. You accept that on some occasion, it may take us more than 30 days to deliver your products.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>4.</strong> If your order has not been received within our specified timescales. To check the status of your order, kindly contact us through email at <a href="mailto:custserv@lacoste.com.ph">custserv@lacoste.com.ph</a>. All delivery timescales are subject to delays caused by seasonal or busy periods, weather and other unforeseen circumstances, though we will do everything we reasonably can to get your order to you on time. Please note that during exceptionally busy periods (e.g. Christmas), or when the weather is particularly inclement, please allow an additional day before raising a query.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>5.</strong> Please note that the delivery company may require a signature on delivery and will not leave products without a signature. Orders can be delivered to a place of work which is usually easier and avoids the disappointment and delay of products being returned to us as undelivered by the courier.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>6.</strong> We only deliver products to the locations listed on the Website checkout form.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>7.</strong> Where you have ordered multiple products, we may sometimes need to deliver your products in more than one delivery/package.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <li><strong>8.</strong> Your order will be sent to the delivery address that you have given on your order form. We are not responsible if that delivery address is incorrect or incomplete.</li>
            </ul>
          </div>
          <!--========== PARTIE N°7==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-7" data-accordion-group="faq">
            <h2 class="block-title-faq">7. Prices and Delivery Charges</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-7" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> All of the prices listed on the Website include the currently applicable statutory value added tax.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> The prices shown on the Website are stated in Philippine pesos and exclude delivery charges. Despite our best efforts, a small number of the products on our Website may be mispriced. If a product's correct price is higher than our stated price we will, at our discretion, either contact you for instructions before shipping the products, or cancel your order and notify you of such cancellation.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> Our delivery charges is p200 for the first three kilos. Additional charges in excess of 3 kilos will be charged accordingly by our courier partners.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>4.</strong> Where you order multiple products, you will only be charged one delivery charge.</li>
              </ul>
            </ul>
          </div>
          <!--========== PARTIE N°8==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-8" data-accordion-group="faq">
            <h2 class="block-title-faq">8. Payment</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-8" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> Payment for your products must be made via credit or debit card or other means as specified on the payment page.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> The full payment price, including delivery charges and any additional charges for services you may have ordered, will be debited from your card upon or shortly before dispatch of the products to you. For cash on delivery orders, please prepare the exact payment amount for our courier partners’ pick-up upon delivery of your ordered items to you. Your order will not be released to you or your authorized representative until our courier partners’ representative has acquired the cash payment during delivery.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> You confirm that the credit or debit card account that is being used is yours. All credit or debit card holders are subject to validation checks and authorisation by the card issuer. If the issuer of your card refuses to authorise payment we will not accept your order and we will not be responsible for any delay or non-delivery and we are not obliged to inform you of the reason for the refusal. For cash on delivery orders, you promise to make sure that the exact amount of payment (inclusive of shipping and other applicable charges) is ready and available for pick up upon delivery of your order to your stated delivery address.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <li><strong>4.</strong> When you visit the website or send emails to us, you are communicating with us electronically. We will communicate with you by email or by posting notices on the website. For contractual purposes, you consent to receive communications from us electronically and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</li>
            </ul>
          </div>
          <!--========== PARTIE N°9==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-9" data-accordion-group="faq">
            <h2 class="block-title-faq">9. Returns</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-9" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> You can only return to us products which have been purchased directly through this website. If you purchased your products at a Lacoste boutique, other retail store, or from another website, the products must be returned to the original store or site which they were purchased from.<br> Please note that you are not entitled to return underwear and products customized with our polo configurator unless the products are faulty or otherwise delivered not as ordered.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong>If for any reason you are not happy with your products, please follow our returns procedure, so that we can assist you in the replacement or refund of your order. We reserve the right to reject the return of products which are not returned in accordance with our returns procedure and we may request that you pay for the shipping of such products back to you unless the products are faulty, not as described or otherwise not of satisfactory quality.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> In case you used a promo code on your order, please note the value of the promo code is divided up proportionately to the item price. In case of return, you will get the refund of the amount paid on the returned item minus the promotion amount applied. You will then lose the promotion amount of the returned item.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <li><strong>5.</strong> Returns Procedure <br>
                <ul>
                  <ul>
                    <li><strong>A.</strong> Right of Return<br> <br> You have the right to cancel your purchase and return any purchased products (other than customized products) for the following reasons:<br>
                      <ul style="margin-left: 25px;">
                        <li><strong>• Change of Size</strong> – the product you ordered does not fit you</li>
                        <li><strong>• Wrong/Damaged item</strong> – the product you received was not the one you ordered or the product you ordered was damaged when you received it</li>
                      </ul>
                    </li>
                    <li>We will shoulder the effort and costs of returning your product back to us and sending you the replacement product for change of size and wrong/damaged items received.</li>
                    <li>Please note that change of size can only be requested once.</li>
                    <li>This right lasts until thirty (30) days after the day on which you (or a person indicated by you) acquires physical possession of the products. Please note that this right to refund without a reason does not extend to products customized with our polo configurator or underwear.</li>
                  </ul>
                </ul>
                <br>
                <ul>
                  <ul>
                    <li>In returning products, please follow the guidelines below. We reserve the right to reject any product returns if the following guidelines are not met:</li>
                    <ul style="margin-left: 25px;">
                      <li>• Keep the original packaging. Please reuse the packaging your order was shipped in to proceed with the return.</li>
                      <li>• Please return your articles in mint condition, without them being worn or washed.</li>
                      <li>• The sole of the shoes has to be clean and intact and the perfume's packaging still sealed.</li>
                      <li>• All of the packaging (plastic, boxes), accessories (glasses case), user manual have to be returned and product labels must be attached to the items as sold.</li>
                    </ul>
                  </ul>
                </ul>
                <br>
                <ul>
                  <ul>
                    <li>Please contact our customer service by email: <a href="mailto:custserv@lacoste.com.ph">custserv@lacoste.com.ph</a> to declare the items you wish to return. We will send you a return form for you to fill up and send back to us to process your return request.</li>
                    <li>Normally parcels are returned to us within 10 working days but on some occasions returned parcels are delayed especially at busy periods like Christmas. Please allow up to 15 working days before contacting us. It is important to note that refunds can take up to one month to be completed due to the time an inquiry with our logistics service and carrier company may take. We thank you for your understanding.</li>
                  </ul>
                </ul>
                <br>
                <ul>
                  <li><strong>B.</strong> Effects of Cancellation<br> <br> If you cancel your purchase in accordance with the "Right of Return" section above, we will reimburse to you all payments received from you, including the cost of standard delivery.<br> In cases of refund, your refund will be processed and paid no later than thirty (30) days after we receive the returned products from you. We may withhold reimbursement until we have received the products back from you, or you have supplied evidence that you have sent the goods back (whichever is the earliest).<br> Your refund will be paid using the same method of payment as was used by you to pay for the order:
                    <ul style="margin-left: 25px;">
                      <li><strong>• For credit card payments</strong>: we will charge the amount net of any applicable voucher or shipping costs based on our return policies</li>
                      <li><strong>• For COD</strong>: bank deposit to your account net of any applicable voucher or shipping costs based on our return policies</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!--========== PARTIE N°10==========--> <!-- <div class="ordering-faq cgv-bg accordion accordion-faq" data-accordion-href="faq-10" data-accordion-group="faq">
<h2 class="block-title-faq">10. Limitations applicable to customized products</h2>
<div class="spacer-faq-title"></div>
<p class="view-details-faq"> <span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span> </p>
</div>
<div class="accordion-content accordion-content-faq" data-accordion-id="faq-10" data-accordion-group="faq" style="display: none;">
<p>We offer the option of customizing some Lacoste products by choosing among a large range of colours, collars, sleeves, logo, colours braids.<br> 
We also offer the option of adding an embroidered word of your choice.<br>
However, we reserve the right to refuse your request if we consider your request:<br>
</p><ul>
<li>-   Inappropriate or contrary to public order or morality,</li>
<li>-   Incompatible with the image of the Lacoste products and trade marks, or</li>
<li>-   an infringement of the trade mark or copyright of a third party.</li>
</ul>
Although we have the right to refuse your request for customizing our items, you agree that you are solely responsible for any request that you make.  You warrant that you have the right to submit your request and that customizing our products according to your request will not infringe the rights of any third party. 
You agree that any intellectual property rights which might be created in any customized product, including in the combination of the Lacoste trade marks and the requested customization, will not belong to you (but rather to the owner of the Lacoste trade marks).
<p></p>
</div> --> <!--========== PARTIE N°11==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-12" data-accordion-group="faq">
            <h2 class="block-title-faq">10. Your Personal Data</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-12" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> By entering information on the Website you represent and warrant that you are using your actual identity, and all information you provide is true, accurate, current and complete as at the time you provide us that information.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> If you find that the information transmitted is incorrect or no longer valid, it is your responsibility to change it. We will not be liable for any errors that may result in your submission of incorrect information.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> You consent to information about the device you use to access the Website being collected and processed for fraud prevention purposes and we may use third parties (and information they provide) to help us prevent fraud or unauthorised access to our Website.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <li><strong>4.</strong> The personal information that you provide to us whilst using the Website will only be collected and used in accordance with our Privacy Policy, which can be accessed by clicking <a href="http://lacoste.com.ph/index.php/privacy">here</a>.</li>
            </ul>
          </div>
          <!--========== PARTIE N°12==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-12" data-accordion-group="faq">
            <h2 class="block-title-faq">11. Liability</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-12" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> Nothing in these Terms shall exclude or limit our liability for fraud or fraudulent misrepresentation, for death or personal injury resulting from our negligence, or any other liability which cannot be limited or excluded by applicable law.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> If we fail to comply with these Terms, we will be responsible for loss or damage you suffer that is a foreseeable result of our breach of these Terms or our negligence but we will not be responsible for any loss or damage caused to you where such loss or damage is not reasonably foreseeable to both you and us at the point at which you agree to these Terms (including where the loss or damage results from our breach of these Terms). Loss or damage is foreseeable if it is an obvious consequence of our breach or negligence or if it was contemplated by you and us at the time we entered into a contract with you.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>3.</strong> Save as expressly set out herein, all conditions, warranties and obligations which may be implied or incorporated into these Terms by statute, common law, or otherwise and any liabilities arising from them are hereby expressly excluded to the extent permitted by law. That said, this does not affect the Terms which are included as a matter of custom and we acknowledge that we are under a legal obligation to supply products in accordance with the contract, supply products which of satisfactory quality and reasonably fit for purpose and as described.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>4.</strong> We only supply the products and Website for domestic and private use. You agree not to use the product or the Website for any commercial, business or resale purposes. We will not be responsible for any business loss (including loss of profits, loss of revenue, loss of contracts or loss of goodwill) that you suffer as a result of our breach of these Terms, use of our Website or our negligence.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>5.</strong> This Website is provided by us on an 'as is' and 'as available' basis. We make no representations or warranties of any kind, express or implied, as to the operation of this Website or the information, content, materials, or products included on this Website. It is expressly agreed by you that your use of this Website is at your sole risk.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>6.</strong> We do not:<br> <br>
                  <ul>
                    <ul>
                      <li><strong>A.</strong> accept any liability for damage to your computer system or loss of data that results from your use of the Website;</li>
                    </ul>
                  </ul>
                  <br>
                  <ul>
                    <ul>
                      <li><strong>B.</strong> guarantee that the content and services on the Website will be available, complete accurate or up to date; or</li>
                    </ul>
                  </ul>
                  <br>
                  <ul>
                    <ul>
                      <li><strong>C.</strong> guarantee that the Website will be available uninterrupted and in a fully operating condition nor that the information on the Website itself will be free from errors or omissions (however, we will use reasonable endeavours to correct any errors or omissions as soon as practicable once they have been brought to our attention).</li>
                    </ul>
                  </ul>
                </li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>7.</strong> When you order products from the Website, our aggregate liability to you for any loss or damage arising in connection with these Terms shall be limited in respect of each claim, to the purchase price of your order.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>8.</strong> We are not responsible for any delay or failure to comply with our obligations under these Terms if the delay or failure arises out of any event which is beyond our reasonable control. Such events shall include, for example, failure of infrastructure, government intervention, wars, civil commotion, hijacking, fire, flood, accident, storm, strikes, lockouts, terrorist attacks or industrial action affecting us or our suppliers. This condition does not affect your statutory rights.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>9.</strong> If an event beyond our reasonable control as described above takes place that affects the performance of our obligations in relation to products ordered from the Website under these Terms with you:
                  <ul>
                    <ul>
                      <li><strong>A.</strong> we will use reasonable endeavours to reduce the impact of any such event on the performance of our obligations;</li>
                    </ul>
                  </ul>
                  <br>
                  <ul>
                    <ul>
                      <li><strong>B.</strong> we will contact you as soon as reasonably possible to notify you; and</li>
                    </ul>
                  </ul>
                  <br>
                  <ul>
                    <ul>
                      <li><strong>C.</strong> our obligations under these Terms will be suspended and the time for performance of our obligations will be extended for the duration of the event. Where the event affects our delivery of products to you, we will arrange a new delivery date with you after the event is over.</li>
                    </ul>
                  </ul>
                </li>
              </ul>
            </ul>
            <br>
            <ul>
              <li><strong>10.</strong> You may cancel a contract formed with us which is for the purchase of products by you from the Website affected by an event which is beyond our reasonable control which has continued for more than 30 days. To cancel please contact us. If you opt to cancel, you will have to return (at our cost) any relevant products you have already received and we will refund the price you have paid, including any delivery charges.</li>
              <li><strong>11.</strong> Whilst we take steps to prevent misuse of our systems, we cannot warrant that the Website will be free of viruses or other malicious code and accept no liability for loss or damage caused from the transmission of such code. We recommend that you always use up-to-date firewalls and anti-virus software to protect your equipment and data.</li>
              <li><strong>12.</strong> It is not possible for us to review all Websites which are linked from the Website (or link to the Website), and you should therefore take care when following any link. We cannot accept liability for any loss or damage that may be suffered as a result of following any links.</li>
            </ul>
          </div>
          <!--========== PARTIE N°13==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-13" data-accordion-group="faq">
            <h2 class="block-title-faq">12. Feedback and Complaints Policy</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-13" data-accordion-group="faq">
            <ul>
              <ul>
                <li><strong>1.</strong> We welcome any comments about our service, so that we can improve what we are doing. Our aim is to deal with any problems quickly and fairly. If you have reason to complain about our service, please call or email our customer services team stating clearly that you are making a complaint. Our aim is to respond to your complaint within seven (7) working days, either resolving the complaint, or with a timescale for resolution.</li>
              </ul>
            </ul>
            <br>
            <ul>
              <ul>
                <li><strong>2.</strong> If you wish to contact us, you can reach us by email at <a href="mailto:custserv@lacoste.com.ph">custserv@lacoste.com.ph</a></li>
              </ul>
            </ul>
          </div>
          <!--========== PARTIE N°14==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-14" data-accordion-group="faq">
            <h2 class="block-title-faq">13. Alteration of Service or Amendments to the Terms</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-14" data-accordion-group="faq">
            <ul>
              <li><strong>1.</strong> We reserve the right to make changes to our Website, policies, and these Terms at any time. Your usage of the Website and your orders will be subject to the policies and Terms in force at the time that you use the Website or that you order products from us, unless any change to those policies or these conditions is required to be made by law or government authority (in which case it will apply to orders previously placed by you). If any of the provisions of these Terms are deemed invalid, void, or for any reason unenforceable, that condition will be deemed severable and will not affect the validity and enforceability of the remaining conditions.</li>
            </ul>
          </div>
          <!--========== PARTIE N°15==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-15" data-accordion-group="faq">
            <h2 class="block-title-faq">14. Waiver</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-15" data-accordion-group="faq">
            <ul>
              <li><strong>1.</strong> If you breach these Terms and we take no action, we will still be entitled to use our rights and remedies in any other situation where you breach these conditions.</li>
            </ul>
          </div>
          <!--========== PARTIE N°16==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-16" data-accordion-group="faq">
            <h2 class="block-title-faq">15. Governing Law and Jurisdiction</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-15" data-accordion-group="faq">
            <ul>
              <li><strong>1.</strong> Your use of the Website, any purchase by you on the Website of any products and these conditions will be governed by and construed in accordance with the laws of the Republic of the Philippines and will be deemed to have occurred in the Philippines. You agree, as we do, to submit to the non-exclusive jurisdiction of the Philippine courts.</li>
              <li><strong>2.</strong> Please note that the contract formed between you and us under these Terms is between you and us. No other person shall have any rights to enforce any of these Terms.</li>
            </ul>
          </div>
          <!--========== PARTIE N°17==========-->
          <div class="ordering-faq cgv-bg accordion accordion-faq active" data-accordion-href="faq-16" data-accordion-group="faq">
            <h2 class="block-title-faq">16. Click & Collect</h2>
            <div class="spacer-faq-title">&nbsp;</div>
            <p class="view-details-faq"><span class="btn-plus btn-plus-faq"><span class="open">view details</span> <span class="close">Close</span> </span></p>
          </div>
          <div class="accordion-content accordion-content-faq" style="display: block;" data-accordion-id="faq-15" data-accordion-group="faq">
            <ul>
              <li>Click & Collect is a convenient way to order online and pick-up from a physical store. This fulfillment method is available only in select Lacoste stores within Metro Manila.</li>
              <li>Upon check-out, you may choose the store pick-up from store option.</li>
              <li>If the item selected for Click & Collect is available in the selected store, your order will proceed, otherwise, location/s with available inventory will only be visible.  Online exclusives will not be available to Click & Collect orders.</li>
              <li>There are two payment options: prepayment or pay-in-store.  Prepayment will lead you to the payment gateway facility while pay-in-store will only be transacted upon pick-up.  Gift receipts could only be provided for pay-in-store transactions. </li>
              <li>An email confirmation with your order details will be sent.  You have 72 hours or maximum of three (3) days to collect your order from the store.  After the leadtime, your pay-in-store order will automatically be cancelled while prepaid order will be kept maximum of 30 days before order is considered as abandoned.  Once order has been cancelled or abandoned, our company will not hold your order and the items will be returned to the selling area.  You may create a new online order or visit the store to shop again.</li>
              <li>Online and offline promotions are applicable to Click & Collect orders following the preferential price at the time of pick-up</li>
              <li>In-store credit will be issued for prepaid orders while in-store return and exchange policy will be implemented for pay-in-store.</li>
            </ul>
          </div>
        </section>
        <!-- EO SECTION Contenu --></div>
    </div>




  </section>
</div>