<div class="row clearfix">
  <section class="faq clearfix">
    <div class="newsletter-container">
      <h1 class="page-title newslettersub">Newsletter</h1>
      <div class="row clearfix">
        <div class="form">
          <h2>Congratulations</h2>
          <p class="l-vmargin--medium">
            You’re now part of the Lacoste mailing list.<br>
            If you also want to join Le Club Lacoste, click on the button below and create an account today!
          </p>
          <form action="#" class="l-vmargin--medium">
            <input type="submit" id="leclub-subscribe" aria-label="Join Le Club Lacoste" value="Join Le Club Lacoste" class="btn-cta fs--medium ff-normal">
          </form>
          <p>
            To know more about Le Club Lacoste, <span class="checkbox-link"><a href="/pages/le-club-lacoste">click here</a></span>.
          </p>
          <!--                <p><a href="https://lacoste-ph.myshopify.com/?_cd=b16d8452045545af7cb521bd6dec8aaffc4510cfb8e515d57b7079ac472860e0&_uid=32923189312"> back to home page</a></p> -->
        </div>
      </div>
    </div>
  </section>
</div>