<div class="st-main" style="min-height: 572px;">
        <div class="st-main-topBar st-topBar">
            <form name="storesSearch" class="st-topBar-search st-search">
                <div class="st-icon-search"></div>
                <div class="st-search-input">
                    <input id="searchByAddress" type="text" name="searchByAddress" placeholder="City, address" autocomplete="off">
                </div>
            </form>
            <ul class="st-topBar-breadcrumb st-breadcrumb">
                <li class="st-breadcrumb-item breadcrumb-country"><a class="st-breadcrumb-link active" href="/gb/stores/philippines">Philippines</a></li>
                <li class="st-breadcrumb-item breadcrumb-state"></li>
                <li class="st-breadcrumb-item breadcrumb-city"></li>
                <li class="st-breadcrumb-item breadcrumb-store"></li>
            </ul>
        </div>
        <div class="st-main-content st-grid">
            <div class="st-grid-col2">
                <div class="st-frame" id="st-frame-container" style="min-height: 349px;">
                    <div class="loader-container">
                           <div class="loader rotate"></div>
                    </div>
                    <div class="st-frame-inner"><div class="st-frame-item" id="page-search">
    <header class="st-header">
        <h1 class="st-header-title st-title">
                <a href="/gb/stores?continent=asia" class="st-back">
                    <svg role="presentation" class="icon-svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
                    </svg>
                </a>
            <span class="title">Philippines</span>
        </h1>
    </header>
    <ul class="st-list st-list-spacing">
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Baguio City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Cagayan De Oro
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Cebu City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Davao City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    General Santos
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Ilocos
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Legazpi
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Makati City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Mandaluyong City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Manila
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Muntinlupa City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Olongapo City, Zambales
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Pampanga
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Paranaque City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Pasay City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Pasig City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Quezon City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Taguig City
                </a>
            </li>
            <li class="st-list-item">
                <a class="st-list-link" href="#">
                    Zamboanga
                </a>
            </li>
    </ul>
</div>
</div>
                </div>
            </div>
            <div class="st-grid-col2">
                
            <div id="st-map-container">
                    <button type="button" name="button" id="closeMap"></button>
                    
                </div></div>
        </div>
    </div>

  <div class="hidden_content" style="display: none;">
    <p>Address: <input type="text" class="search_addr" size="45"></p>
<p>Latitude: <input type="text" class="search_latitude" size="30"></p>
<p>Longitude: <input type="text" class="search_longitude" size="30"></p>
    
  </div>