<section class="js-promotions-section js-modular-section page-section modular-section bg-white {{ template }}">
    {% section 'page-polaroid-banner' %}

    {% section 'page-polaroid-full-width-image' %}

    {% section 'page-polaroid-promotion-1' %}
    {% section 'page-polaroid-product-list-1' %}

    {% section 'page-polaroid-promotion-2' %}
    {% section 'page-polaroid-product-list-2' %}

    {% section 'page-polaroid-promotion-3' %}

    {% section 'page-polaroid-grid-collection' %}

</section>